#mainContact {
    width: 100%;
    margin: auto;
    overflow: hidden;
    background-color: rgb(1, 18, 44);
    padding-top: 40px;
}

#stores {
    display: table;
    width: 100%;
}
#stores .file {
    display: table-row;
}
#stores .smallrow {
    display: table-cell;
    width: 20%;
    vertical-align: top;
    background: #f8f8f8;
}
#stores .bigrow {
    display: table-cell;
    width: 80%;
    vertical-align: top;
}
#stores .tit-nav {
    background-color: #000;
    overflow: hidden;
    background-image: url(../images/nested-nav.gif);
    background-repeat: repeat-y;
    background-position: right top;
    height: 40px;
}
#stores .tit-nav h3 {
    padding: 8px 0 0 20px;
}
#stores .banner-arrow {
    position: absolute;
    width: 0;
    height: 0;
    border-left: 20px solid #000;
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
}
#stores .news-cell h3 {
    margin-bottom: 0;
}

.stores-note p {
    margin: 0 20px;
}

#profile {
    overflow: hidden;
    margin: 20px auto;
}
#profile-desc {
    display: table;
    width: 100%;
    margin-top: 20px;
}
#profile-desc .file {
    display: table-row;
}
#profile-desc .leftrow {
    display: table-cell;
    width: 35%;
    vertical-align: top;
    border-right-width: 1px;
    border-right-style: dotted;
    border-right-color: #ccc;
    padding-right: 40px;
    overflow: hidden;
}
#profile-desc .rightrow {
    display: table-cell;
    width: 65%;
    vertical-align: top;
    padding-left: 40px;
}
#profile-desc h1 {
    text-transform: uppercase;
    line-height: 50px;
    margin-bottom: 20px;
	margin-top: 10px;
}

#tips {
    margin-bottom: 40px;
}
#tips p {
    margin-bottom: 10px;
}