#footer {
    width: 100%;
    overflow: hidden;
    background-color: #000;
}
#nav-footer {
    background-color: #556483;
    width: 100%;
    overflow: hidden;
    padding: 20px 0;
}
#nav-footer .colum {
    width: 25%;
    float: left;
}
#nav-footer h4 {
    font-family: 'Fira Sans', sans-serif;
    font-weight: 400;
    color: #fff;
    font-size: 14px;
    text-transform: uppercase;
    padding-bottom: 10px;
    margin: 0;
}
#nav-footer p {
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    font-weight: 400;
    line-height: normal;
    color: #999;
    padding-bottom: 20px;
    margin: 0;
}
a.button-footer {
    font-family: 'Fira Sans', sans-serif;
    text-decoration: none;
    font-size: 13px;
    font-weight: 400;
    line-height: normal;
    padding: 5px 10px 5px 10px;
    display: inline-block;
    color: #556483;
    background-color: #fff;
    /*background-repeat: no-repeat;*/
    /*background-position: left center;*/
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    border-radius: 0px;
}
a.button-footer:hover {
    color: #fff;
    background-color: #b3282d;
}


#nav-footer2 {
    background-color: #556483;
    width: 100%;
    overflow: hidden;
    padding: 0px 0;
    text-align: center;
}

#nav-footer2 .content {
    border-top-width: 1px;
    border-top-style: dotted;
    border-top-color: #999;
    padding: 20px 0;
}

#nav-footer2 h4 {
    font-family: 'Fira Sans', sans-serif;
    font-weight: 400;
    color: #fff;
    font-size: 14px;
    text-transform: uppercase;
    padding-bottom: 10px;
    margin: 0;
}

#nav-footer2 a {
    font-family: 'Fira Sans', sans-serif;
    font-size: 13px;
    font-weight: 400;
    color: #999;
    padding: 5px 10px;
}

#nav-footer2 a:hover {
    color: #ccc;
}

#social {
    width: 100%;
    overflow: hidden;
    margin-top: 20px;
}
#social .content {
    border-top-width: 1px;
    border-bottom-width: 1px;
    border-top-style: solid;
    border-bottom-style: solid;
    border-top-color: #999;
    border-bottom-color: #999;
    padding: 10px 0;
}
#socialButtons {
    list-style: none;
    display: inline;
    float: left;
    width: 200px;
}

ul#socialButtons {
    margin: 0;
    padding: 0;
}

#socialButtons li {
    margin-right: 3px;
}

#socialButtons a {
    display: block;
    text-indent: -9999px;
    height: 35px;
    width: 35px;
}

#email-ico, #email-ico a:hover, #facebook, #facebook a:hover, #twitter, #twitter a:hover, #instagram, #instagram a:hover, #youtube, #youtube a:hover, #googlemaps, #googlemaps a:hover {
    background: url(./public/images/socialicons.png) no-repeat;
    float: left;
}

#facebook {
    background-position: -6px -4px;
}
#facebook a:hover {
    background-position: -6px -43px;
}

#instagram {
    background-position: -89px -3px;
}
#instagram a:hover {
    background-position: -89px -43px;
}

#email-ico {
    background-position: -169px -2px;
}
#email-ico a:hover {
    background-position: -171px -41px;
}