* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    background-color: rgb(1, 18, 44);
}

header {
    box-sizing: border-box;
    background-color: rgb(1, 18, 44);
    margin: 40px 10px;
}

header div {
    display: flex;
    flex-wrap: wrap;
    padding: 5px;
}

header div div{
    width: 100%;
    display: flex;
}

.logo {
    width: 100%;
    justify-content: center;
    display:flex;
    justify-content: space-around;
}

.logo img {
    width: 80%;
    max-width: 220px;
    max-height: 170px;
    border: none
}

.banderas-inicio{
    width: 15%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.banderas-inicio a img{
    width: 100%;
    max-width: 38px;
    background-color: rgb(1, 18, 44);
}

.banderas{
    width: 15%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
    
}

.banderas a img{
    width: 100%;
    max-width: 38px;
    background-color: rgb(1, 18, 44);
}

.fa-solid {
    color: white;
    font-size: 19px;
    background-color: rgb(1, 18, 44);
}

nav {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.inicio {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-around;
}

.inicio li {
    list-style: none;
    padding: 0px 10px;
    margin: 0px 5px;
}

.titulo {
    display: none;
}

.inicio li a {
    color: white;
}

.barra {
    width: 100%;
    padding: 10px 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.barra input {
    max-width: 600px;
    flex-grow: 1;
    width: 170px;
    color: black;
}

.barra button {
    background-color: rgb(1, 18, 44);
    padding: 6px;
}

.menu {
    width: 100%;
    background-color: rgb(1, 18, 44);
    display: none;
}



@media (min-width: 535px) {
    .titulo {
        display: inline;
    }

    .logo {
        justify-content: space-around;
    }
    
    .logo img {
        width: 100%;
        max-width: 220px;
        max-height: 170px;
        border: none
    }

    .inicio {
        flex-wrap: nowrap;
    }
    
    .banderas-inicio{
        width: 15%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        
    }

    .banderas-inicio a img{
        width: 100%;
        max-width: 38px;
    }
    
}



@media (min-width:600px){

    .logo{
        justify-content: space-evenly  
    }   

    .banderas-inicio a{
        padding: 10px;
        background-color: rgb(1, 18, 44);
    }

}


@media (min-width: 1070px) {

    .logo {
        width: 20%;
        justify-content: left;
    }
    
    .banderas{
        width: 20%;
        height: 100%;
        display: flex;
        margin: auto;
        justify-content: flex-end;
        align-items: flex-start;
    }

    .banderas-inicio{
        display: none;
    }

    .banderas a{
        margin: 2px 5px;
    }

    .banderas a img{
        width: 100%;
        max-width: 38px;
    }


    .fa-solid {
        font-size: 18px;
    }

    nav {
        width: 60%;

    }

    .inicio {
        justify-content: flex-end;
    }

    .inicio li {
        display: block;
        padding: 0px 15px;
        margin: 0px 20px;
    }

    .barra {
        width: 640px;

    }

    .barra input {
        width: 380px;
        height: 40%;
    }

    .barra button {
        width: 50px;
        height: 40%;
    }

    .menu {
        width: 100%;
        display: block;
        
    }

    .menu li {
        width: 100%;
        list-style: none;

        
    }

    .icono {
        width: 10%;
        display: block;
        margin: auto;
        text-align: center;
    }

    ul.desplegable {
        width: 100%;
        display: flex;
    }

    ul.desplegable li {
        text-align: center;
        display: none;
    }

    ul.desplegable li a{
       color: white; 
    }

    li:hover ul li {
        display: block;
    }

}


.dropbtn {
    background-color: rgb(1, 18, 44);
    color: rgb(1, 18, 44);
    padding: 30px;
    font-size: 16px;
    border: none;
  }
  
 
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
 
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: rgb(1, 18, 44);
    min-width: 400px;
    box-shadow: 0px 30px 30px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  
  .dropdown-content a {
    color: black;
    padding: 30px 30px;
    text-decoration: none;
    display: block;
  }
  
 
  .dropdown-content a:hover {background-color: rgb(1, 18, 44);}
  
 
  .dropdown:hover .dropdown-content {display: block;}
  

  .dropdown:hover .dropbtn {background-color: rgb(1, 18, 44);}

div.last-visit,
div.offers{
    display: flex;
    flex-wrap: wrap;
}

Body {  
    font-family: Calibri, Helvetica, sans-serif;  
    background-color: pink;  
  }  
  


  
  .login{  
    width: 382px;  
    overflow: hidden;  
    margin: auto;  
    margin: 20 0 0 450px;  
    padding: 40px;  
    background: #23463f;  
    border-radius: 0px ;  
     
}  
h2{  
text-align: center;  
color: #277582;  
padding: 20px;  
}  
label{  
color: #08ffd1;  
font-size: 17px;  
}
#Email{  
    width: 300px;  
    height: 30px;  
    border: none;  
    border-radius: 3px;  
    padding-left: 8px;  
    }    
#Uname{  
width: 300px;  
height: 30px;  
border: none;  
border-radius: 3px;  
padding-left: 8px;  
}  
#Pass{  
width: 300px;  
height: 30px;  
border: none;  
border-radius: 3px;  
padding-left: 8px;  
  
}  
#log{  
width: 300px;  
height: 30px;  
border: none;  
border-radius: 17px;  
padding-left: 7px;  
color: blue;  

}  
span{  
color: white;  
font-size: 17px;  
}  
a{  
float: center;  
background-color: transparent;  
}   
.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
  }
  
  .tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
  
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
  }
  
  .tooltip:hover .tooltiptext {
    visibility: visible;
  }