* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    padding: 20px;
}

header {
    border: dotted red;
    padding: 10px;
}

header div {
    display: flex;
    flex-wrap: wrap;
    border: dotted red;
    padding: 5px;
    background-color: rgb(1, 18, 44);
}

header div div{
    width: 100%;
    display: flex;
}

.logo {
    border: dotted red;
    width: 85%;
    justify-content: center;
}

.logo img {
    width: 100%;
    max-width: 220px;
    max-height: 170px;
    border: solid white;
}

.banderas{
    width: 15%;
    height: 100%;
    display: flex;
    border: dotted red;
    justify-content: center;
    align-items: center;
}

.banderas a img{
    width: 100%;
    max-width: 38px;
    border: dotted red;
}

.fa-solid {
    color: white;
    font-size: 19px;
}

nav {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
}

.inicio {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-around;
    border: dotted red;
}

.inicio li {
    list-style: none;
    padding: 0px 10px;
    margin: 0px 5px;
    border: dotted red;
}

.titulo {
    display: none;
}

.inicio li a {
    color: white;
}

.barra {
    width: 100%;
    padding: 10px 50px;
    border: dotted red;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.barra input {
    max-width: 600px;
    flex-grow: 1;
    width: 170px;
    color: black;
    border: dotted red;
}

.barra button {
    background-color: rgb(1, 18, 44);
    padding: 6px;
    border: dotted red;
}

.menu {
    display: none;
}



@media (min-width: 535px) {
    .titulo {
        display: inline;
    }

    .logo {
        border: dotted red;
        width: 85%;
        justify-content: center;
    }
    
    .logo img {
        width: 100%;
        max-width: 220px;
        max-height: 170px;
        border: solid white;
    }
    
    .banderas{
        width: 1%;
        height: 100%;
        display: flex;
        margin: auto;
        border: dotted red;
        justify-content: center;
        align-items: center;
    }
    

    .banderas{
        width: 15%;
        height: 100%;
        display: flex;
        margin: auto;
        border: dotted red;
        justify-content: center;
        align-items: center;
    }

    .banderas a img{
        width: 100%;
        max-width: 38px;
        border: dotted red;
    }

    
}



@media (min-width: 1070px) {

    header div div{
        width: 40%;

    }

    .logo {
        border: dotted red;
        width: 60%;
        justify-content: left;
    }
    
    .banderas{
        width: 40%;
        height: 100%;
        display: flex;
        margin: auto;
        border: dotted red;
        justify-content: flex-end;
        align-items: flex-start;
    }

    .banderas a{
        border: dotted red;
        margin: 2px 5px;
    }

    .banderas a img{
        width: 100%;
        max-width: 38px;
        border: dotted red;
    }


    .fa-solid {
        font-size: 18px;
    }

    nav {
        width: 60%;
    }

    .inicio {
        justify-content: flex-end;
    }

    .inicio li {
        display: block;
        padding: 0px 15px;
        margin: 0px 20px;
    }

    .barra {
        width: 640px;

    }

    .barra input {
        width: 380px;
        height: 40%;
    }

    .barra button {
        width: 50px;
        height: 40%;
    }

    .menu {
        width: 100%;
        display: block;
    }

    .menu li {
        width: 100%;
        margin: auto;
        list-style: none;
    }

    .icono {
        width: 10%;
        display: block;
        margin: auto;
        text-align: center;
        border: dotted red;
    }

    ul.desplegable {
        width: 100%;
        border: dotted red;
        display: flex;
    }

    ul.desplegable li {
        border: dotted red;
        text-align: center;
        display: none;
    }

    ul.desplegable li a{
       color: white; 
    }

    li:hover ul li {
        display: block;
    }

}