<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link href="https://fonts.googleapis.com/css2?family=Quicksand&family=Roboto&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/acf94df91d.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="./normalize.css">
    <link rel="stylesheet" href="./cart.css">
</head>
<body> 
<!-- Titulo del carrito -->   
<div class="titulo-carrito">
    <span>
        Carrito de compras
        <i class="fa-solid fa-cart-shopping"></i>
    </span>
</div>
<h3>Productos en el carrito: </h3>
<!--Carrito en general -->
<main class="carrito">
        <div class="resumen-carrito">
            <!-- Aqui se agregan los productos  -->

                <div class="detalle-producto-general">

                    <div class="detalle-producto-carrito">   
                        <img src="./images/product.jpg" alt="">
                        <div class="producto-detallado">
                            <span class="etiqueta-nombre"><a href="#">Nombre producto</a></span>  
                            <span class="etiqueta-modelo">Modelo producto </span>
                        </div>
                    </div> 

                    <div class="etiqueta-valor">
                        <div class="precio-item"> 
                            <span class="item-price">Precio</span>
                            <span> $4500 </span>  
                        </div>

                        <div class="cantidad-producto"> 
                            <form> <input type="number" name="cantidad" id="cantidad" value="2"></form>
                        </div>

                         <div class="subtotal"> 
                             <span class="texto-subtotal">Subtotal</span>
                            <span> $9000</span>  
                        </div>
                    </div>

                    <div class="icono-borrar">
                        <i class="far fa-trash-alt"></i>
                    </div>
                </div>

                <div class="detalle-producto-general">

                    <div class="detalle-producto-carrito">   
                        <img src="./images/product.jpg" alt="">
                        <div class="producto-detallado">
                            <span class="etiqueta-nombre"><a href="#">Nombre producto</a></span>  
                            <span class="etiqueta-modelo">Modelo producto </span>
                        </div>
                    </div> 

                    <div class="etiqueta-valor">
                        <div class="precio-item"> 
                            <span class="item-price">Precio</span>
                            <span> $4500 </span>  
                        </div>

                        <div class="cantidad-producto"> 
                            <form> <input type="number" name="cantidad" id="cantidad" value="2"></form>
                        </div>

                         <div class="subtotal"> 
                             <span class="texto-subtotal">Subtotal</span>
                            <span> $9000</span>  
                        </div>
                    </div>

                    <div class="icono-borrar">
                        <i class="far fa-trash-alt"></i>
                    </div>
                </div>

                <div class="detalle-producto-general">

                    <div class="detalle-producto-carrito">   
                        <img src="./images/product.jpg" alt="">
                        <div class="producto-detallado">
                            <span class="etiqueta-nombre"><a href="#">Nombre producto</a></span>  
                            <span class="etiqueta-modelo">Modelo producto </span>
                        </div>
                    </div> 

                    <div class="etiqueta-valor">
                        <div class="precio-item"> 
                            <span class="item-price">Precio</span>
                            <span> $4500 </span>  
                        </div>

                        <div class="cantidad-producto"> 
                            <form> <input type="number" name="cantidad" id="cantidad" value="2"></form>
                        </div>

                         <div class="subtotal"> 
                             <span class="texto-subtotal">Subtotal</span>
                            <span> $9000</span>  
                        </div>
                    </div>

                    <div class="icono-borrar">
                        <i class="far fa-trash-alt"></i>
                    </div>
                </div>


                

        </div>
    

    <div class="resumen-pago">
         <h3 class="resumen"> Resumen </h3>
                <div class="checkout-pago">
                    <div class="envio-gratis">
                        <i class="fas fa-truck"></i>
                        <span>Envío gratis a todo el país.</span>
                    </div>
                    <div class="subtotal">
                        <span>Subtotal</span>
                        <span>$9000</span>
                    </div>
                    <div class="impuestos">
                        <span>Impuestos</span>
                        <span>$0</span>
                    </div>
                    <div class="total">
                        <span>Total</span>
                        <span>$9000</span>
                    </div>
                </div>

                <div>
                    <button class="boton-pagar">PAGAR</button>
           </div>
       </div>

    

</main>

</body>
</html>