<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crear Producto</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Yanone+Kaffeesatz:wght@300&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/59c9619fb3.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/productos.css">
    <link rel="stylesheet" href="/css/register.css">
</head>

<body>
    <form action="#" method="post">
        <article>
            <input type="text" name="type" placeholder="Tipo" name="type" id="">
        </article>
        <article>
            <input type="text" name="tradeMark" placeholder="Marca" name="tradeMark" id="">
        </article>
        <article>
            <input type="text" name="model" placeholder="Modelo" name="model" id="">
        </article>
        <article>
            <input type="text" name="details" placeholder="Detalle" name="details" id="">
        </article>
        <article>
            <h3><label>Imagen del Producto</label></h3>
        </article>
        <article>
            <input type="file" id="picture" accept=".jpg,.png">
        </article>
        <article>
            <input type="text" name="features" placeholder="Medidas" name="features" id="">
        </article>
        <article>
            <h3><label>Fecha de Manofactura:</label></h3>
        </article>
        <article>
            <input type="date" name="fechaManofactura" placeholder="mm/dd/yyyy">
        </article>
        <article>
            <input type="number" name="price" placeholder="Precio" name="price" id="">
        </article>
        <article>
            <button type="submit">Enviar</button>
            <button type="reset">Borrar</button>
        </article>
    </form>
</body>

</html>