<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalle Productos</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Yanone+Kaffeesatz:wght@300&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/59c9619fb3.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/productos.css">
</head>

<body>
    <div>
        <div>
            <!-- card left -->
            <div>
                <div>
                    <div>
                        <img src="" alt="">
                    </div>
                </div>
                <div>
                    <div>
                        <a href="">
                            <img src="" alt="">
                        </a>
                    </div>
                </div>
            </div>
            <!-- cart right -->
            <div>
                <h2></h2>
                <a href=""></a>
                <div>
                    <i></i>
                    <i></i>
                    <i></i>
                    <i></i>
                    <span></span>
                </div>
                <div>
                    <p><span></span></p>
                    <p><span></span></p>
                </div>
                <div>
                    <h2></h2>
                    <p> Lorem ipsum, dolor sit amet consectetur adipisicing elit. Minus facilis praesentium voluptas,
                        officiis exercitationem consectetur similique eius saepe incidunt, odio atque excepturi
                        doloribus asperiores ratione? Laboriosam eos harum odio earum?</p>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore ad velit laboriosam, earum
                        aspernatur eius quae et incidunt vero vitae quaerat pariatur tenetur. Odio labore id eligendi,
                        aliquid consequuntur ab.</p>
                    <ul>
                        <li><span></span></li>
                        <li><span></span></li>
                        <li><span></span></li>
                        <li><span></span></li>
                        <li><span></span></li>
                    </ul>                        
                </div>
                <div>
                    <input type="button" value="">
                    <button>
                        <i></i>
                    </button>
                    <button>
                        
                    </button>
                </div>
            </div>
        </div>
    </div>
</body>

</html>