<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Delete Product</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Yanone+Kaffeesatz:wght@300&display=swap" rel="stylesheet" />
    <script src="https://kit.fontawesome.com/59c9619fb3.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/footer.css">
    <link rel="stylesheet" href="/css/registerProducts.css" />
</head>

<body>

    <div id="preloader">
        <img src="/images/lego-loader.gif" alt="">
    </div>

    <header>
        <div>
            <div class="logo">
                <img class="logo-imagen" src="/images/logo_products.png" alt="logo">
                <div class="banderas-inicio">
                    <a href="/productos"><img src="/images/spain.png" alt="ESP"></a>
                    <a href="/products"><img src="/images/uk.png" alt="EN"></a>
                </div>
            </div>
            <nav>
                <ul class="inicio">
                    <li>
                        <div class="dropdown tooltip">
                            <span class="tooltiptext"><a href="/">Home</span>
                            <button class="dropbtn">
                                <a href="#"><i class="fa-solid fa-house"></i></a></button>
                        </div>
                    </li>
                    <li>
                        <div class="dropdown tooltip">
                            <span class="tooltiptext">Sign up</span>
                            <button class="dropbtn">
                                <a href="#"><i class="fa-solid fa-pen-clip"></i></a></button>
                            <div class="dropdown-content">
                                <div class="login">
                                    <form id="login" method="get" action="login.php">
                                        <label><b>E-Mail
                                            </b>
                                        </label>
                                        <input type="text" name="Email" id="Email" placeholder="Email">
                                        <br><br>
                                        <label><b>User Name
                                            </b>
                                        </label>
                                        <input type="text" name="Uname" id="Uname" placeholder="Username">
                                        <br><br>
                                        <label><b>Password
                                            </b>
                                        </label>
                                        <input type="Password" name="Pass" id="Pass" placeholder="Password">
                                        <br><br>
                                        <input type="button" name="log" id="log" value="Log In Here">
                                        <br><br>
                                        <input type="checkbox" id="check">
                                        <span>Remember me</span>
                                        <br><br>
                                        <a href="#">Forgot Password</a>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="dropdown tooltip">
                            <span class="tooltiptext">Log in</span>
                            <button class="dropbtn">
                                <a href="#"><i class="fa-solid fa-laptop"></i></a></button>
                            <div class="dropdown-content">
                                <div class="login">
                                    <form id="login" method="get" action="login.php">
                                        <label><b>User Name
                                            </b>
                                        </label>
                                        <input type="text" name="Uname" id="Uname" placeholder="Username">
                                        <br><br>
                                        <label><b>Password
                                            </b>
                                        </label>
                                        <input type="Password" name="Pass" id="Pass" placeholder="Password">
                                        <br><br>
                                        <input type="button" name="log" id="log" value="Log In Here">
                                        <br><br>
                                        <input type="checkbox" id="check">
                                        <span>Remember me</span>
                                        <br><br>
                                        <a href="#">Forgot Password</a>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="dropdown tooltip">
                            <span class="tooltiptext">Cart</span>
                            <button class="dropbtn">
                                <a href="#"><i class="fa-solid fa-truck"></i></a></button>
                        </div>
                    </li>
                </ul>
                <form class="barra">
                    <input type="search" name="barra-busqueda" placeholder="Search for your favorite">
                    <button><i class="fa-solid fa-magnifying-glass"></i></button>
                </form>
            </nav>
            <div class="banderas">
                <a href="/productos"><img src="/images/spain.png" alt="ESP"></a>
                <a href="/products"><img src="/images/uk.png" alt="EN"></a>
            </div>
            <ul class="menu">
                <li>
                    <a class="icono" href="#">
                        <i class="fa-solid fa-bars"></i>
                    </a>

                    <ul class="desplegable">
                        <li><a href="">Company Information</a></li>
                        <li><a href="/products/admin">Admind (Restricted Area)</a></li>

                    </ul>
                </li>
            </ul>
        </div>
    </header>
    <main class="register">
        <div class="contenedor">
            <form class="plantilla" action="/products/delete/<%=product.id%>?_method=DELETE" method="POST" enctype="multipart/form-data">
                <article class="normal">
                    <h2 class="tituloNuevo"><label>Delete Product</label></h2>
                </article>
                <article class="normal">
                    <input type="text" name="tradeMark" placeholder="Marca" value="<%=product.tradeMark%>" id="tradeMark" id="" />
                </article>
                <article class="normal">
                    <input type="text" name="model" placeholder="Modelo" id="model" value="<%=product.model%>" />
                </article>
                <article class="normal">
                    <input type="text" name="details" placeholder="Detalle" id="details" value="<%=product.details%>" />
                </article>
                <button type="submit" class="enviar" style="background-color: red">Delete</button>
                </article>
            </form>
        </div>
    </main>

    <script src="/js/preloder.js"></script>
    
</body>

</html>