<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head') %>

<body>

    <!-- Header y Nav-->

    <header>
        <div>
            <div class="logo">
                <img class= "logo-imagen" src="/images/logo_products.png" alt="logo">
                <div class="banderas-inicio">
                    <a href="/productos"><img src="/images/spain.png" alt="ESP"></a>
                    <a href="/products"><img src="/images/uk.png" alt="EN"></a>
                </div>
            </div>
            <nav>
                <ul class="inicio">
                    <li>
                        <div class="dropdown tooltip">
                            <span class="tooltiptext">Home</span>
                            <button class="dropbtn">
                                <a href="#"><i class="fa-solid fa-house"></i></a></button>
                        </div>
                    </li>
                    <li>
                        <div class="dropdown tooltip registrationSchema">
                            <span class="tooltiptext">Sign up</span>
                            <button class="dropbtn">
                                <a href="#"><i class="fa-solid fa-pen-clip"></i></a></button>
                            <div class="dropdown-content">
                                <div class="login">
                                    <form id="loginSignupEng" method="get" action="/register">
                                        <label><b>E-Mail
                                            </b>
                                        </label>
                                        <input type="text" name="emailSignupEng" id="emailSignupEng" placeholder="Email">
                                        <br><br>
                                        <label><b>User Name
                                            </b>
                                        </label>
                                        <input type="text" name="unameSignupEng" id="unameSignupEng" placeholder="Username">
                                        <br><br>
                                        <label><b>Password
                                            </b>
                                        </label>
                                        <input type="Password" name="passSignuEng" id="passSignupEng" placeholder="Password">
                                        <br><br>
                                        <input type="button" name="logSignupEng" id="logSignupEng" value="Log In Here">
                                        <br><br>
                                        <input type="checkbox" id="checkSignupEng">
                                        <span>Remember me</span>
                                        <br><br>
                                        <a href="#">Forgot Password</a>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="dropdown tooltip registrationSchema">
                            <span class="tooltiptext">Log in</span>
                            <button class="dropbtn">
                                <a href="#"><i class="fa-solid fa-laptop"></i></a></button>
                            <div class="dropdown-content">
                                <div class="login">
                                    <form id="login" method="get" action="/login">
                                        <label><b>User Name
                                            </b>
                                        </label>
                                        <input type="text" name="unameLogin" id="unameLogin" placeholder="Username">
                                        <br><br>
                                        <label><b>Password
                                            </b>
                                        </label>
                                        <input type="Password" name="passLogin" id="passLogin"" placeholder="Password">
                                        <br><br>
                                        <input type="button" name="logLogin" id="logLogin" value="Log In Here">
                                        <br><br>
                                        <input type="checkbox" id="checkLogin">
                                        <span>Remember me</span>
                                        <br><br>
                                        <a href="#">Forgot Password</a>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="dropdown tooltip">
                            <span class="tooltiptext">Cart</span>
                            <button class="dropbtn">
                                <a href="#"><i class="fa-solid fa-truck"></i></a></button>
                        </div>
                    </li>
                </ul>
                <form class="barra">
                    <input type="search" name="barra-busqueda" placeholder="Search for your favorite">
                    <button><i class="fa-solid fa-magnifying-glass"></i></button>
                </form>
            </nav>
            <div class="banderas">
                <a href="/productos"><img src="/images/spain.png" alt="ESP"></a>
                <a href="/products"><img src="/images/uk.png" alt="EN"></a>
            </div>
            <ul class="menu">
                <li>
                    <a class="icono" href="#">
                        <i class="fa-solid fa-bars"></i>
                    </a>
    
                    <ul class="desplegable">
                        <li><a href="">Company Information</a></li>
                        <li><a href="">Social Media</a></li>
    
                    </ul>
                </li>
            </ul>
        </div>
    </header>

    <!-- Page content -->
    <%- include('./partials/home') %>
    <!-- About Section -->

    <!-- Menu Section -->


    <%- include('./partials/carrito') %>
    
    <!-- Footer -->

    <%- include('./partials/footer') %>  
    
</body>
</html>