<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>8Technology</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/59c9619fb3.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/application.min.css">
    <link type="text/css" rel="stylesheet" href="/css/normalize.css">
    <link type="text/css" rel="stylesheet" href="/css/header.css">
    <link type="text/css" rel="stylesheet" href="/css/productos.css">
    <link type="text/css" rel="stylesheet" href="/css/footer.css">
    <link type="text/css" rel="stylesheet" href="/css/home.css">
    <link rel="stylesheet" href="/css/contacto.css">
</head>

<body>
    <header>
        <%- include('./partials/header-eng') %>
    </header>
    <!-- Inicio Main
    ================================================== -->
    <div id="mainHome" style="background-color: white;">

        <!---- Inicio ---->
        <div id="team-escuelas">
            <div class="file">

                <div class="bigrow">
                    <div style="margin:20px;">
                        <h3 style="color:#666666;">Pagos y envios</h3>
                        <div class="separador-productos"></div>
                        <br />
                        <div>
                            <p><strong>&iquest;Cu&aacute;l es el costo de env&iacute;o y entrega de mi
                                    pedido?</strong><br />
                                El costo de env&iacute;o y tiempo de entrega depender&aacute; de la ubicaci&oacute;n de
                                cada usuario y del peso del pedido. Al agregar productos al carrito podr&aacute;s
                                seleccionar el tipo de env&iacute;o y el sistema te indicar&aacute; el valor a abonar o
                                bien aprovechar la promoci&oacute;n vigente al momento de tu pedido de env&iacute;o
                                gratis.</p>
                            <p><strong>No recib&iacute; mi pedido</strong><br />
                                Si el pedido no fue entregado en el plazo acordado, podes enviarnos un correo
                                electr&oacute;nico a <a
                                    href="mailto:ventaonline@cristobalcolon.com ">ventaonline@cristobalcolon.com</a>
                                indic&aacute;ndonos el n&uacute;mero de seguimiento para que podamos identificarlo y
                                verificarlo con la empresa de correo. Te estaremos informando a la brevedad sobre el
                                estado del pedido.</p>
                            <p>&nbsp;</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Fin Columna Right -->
    <%- include('./partials/footer') %>
</body>

</html>