<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>8Technology</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/59c9619fb3.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/application.min.css">
    <link type="text/css" rel="stylesheet" href="/css/normalize.css">
    <link type="text/css" rel="stylesheet" href="/css/header.css">
    <link type="text/css" rel="stylesheet" href="/css/productos.css">
    <link type="text/css" rel="stylesheet" href="/css/footer.css">
    <link type="text/css" rel="stylesheet" href="/css/home.css">
    <link rel="stylesheet" href="/css/contacto.css">
</head>

<body>
    <header>
        <%- include('./partials/header-eng') %>
    </header>
    <!-- Inicio Main
    ================================================== -->
    <div id="mainHome" style="background-color: white;">

        <!---- Inicio ---->
        <div id="team-escuelas">
            <div class="file">

                <div class="bigrow">
                    <div style="margin:20px;">
                        <h3 style="color:#666666;">Payment and shipping</h3>
                        <div class="separador-productos"></div>
                        <br />
                        <div>
                            <p><strong>What is the shipping and delivery cost of my order?</strong><br />
                                The shipping cost and delivery time will depend on the location of each user and the weight of the order. When adding products to the cart you can select the type of shipping and the system will indicate the value to be paid or take advantage of the promotion in effect at the time of your order for free shipping.</p>
                            <p><strong>I did not receive my order</strong><br />
                                If the order was not delivered within the agreed delivery time, you can send us an message <a
                                    href="/contacto">here</a>
                                    indicating the tracking number so that we can identify and verify it with the courier company. We will inform you as soon as possible about the status of your order.</p>
                            <p>&nbsp;</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Fin Columna Right -->
    <%- include('./partials/footer') %>
</body>

</html>