<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>8Technology</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/59c9619fb3.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/application.min.css">
    <link type="text/css" rel="stylesheet" href="/css/normalize.css">
    <link type="text/css" rel="stylesheet" href="/css/header.css">
    <link type="text/css" rel="stylesheet" href="/css/productos.css">
    <link type="text/css" rel="stylesheet" href="/css/footer.css">
    <link type="text/css" rel="stylesheet" href="/css/home.css">
    <link rel="stylesheet" href="/css/contacto.css">
</head>

<body>
    <header>
        <%- include('./partials/header-eng') %>
    </header>

    <!-- Inicio Main
    ================================================== -->
    <div id="mainHome" style="background-color: white;">

        <!---- Inicio  ---->
        <div id="team-escuelas">
            <div class="file">

                <div class="bigrow">
                    <div style="margin:20px;">
                        <h3 style="color:#666666;">Frequently Asked Questions</h3>
                        <div class="separador-productos"></div>
                        <br />
                        <div>
                            <p><strong>Why should I register?<br />
                                </strong>Mainly for your safety. Also, to get to know you and be able to better meet
                                your needs.</p>
                            <p><b>Is it safe to buy from 8Technology?</b><br />
                                Absolutely. At 8Technology we use a secure and confidential payment system to protect
                                your data. Through the Dineromail or MercadoPago platform you can choose the most
                                convenient payment method: Pago F&aacute;cil, Rapipago, bank transfer, the enabled
                                credit cards are: Visa, MasterCard, American Express, Tarjeta Naranja, Cabal, Tarjeta
                                Shoping, Argencard, Italcred, or you can use direct money transfer through Dineromail or
                                MercadoPago to our account. The on-line credit card payments are made directly from
                                Dineromail or MercadoPago and the data travels through the Internet in encrypted form
                                which, once the payment is approved, is automatically destroyed from any record. No one
                                keeps your credit card information once the payment is completed.
                            </p>
                            <p><strong>From where can I buy online?<br />
                                </strong>You can buy from anywhere in argentina, uruguay, colombia, mexico and USA.</p>
                            <p><b>Is shopping at 8Technology more expensive or cheaper than shopping in
                                a local store?</b><br />
                                With the exception of web promotions associated with the payment system, the prices
                                advertised on this site are the same prices you will find at any 8Technology store.</p>
                            <p><strong>What are the available payment methods?<br />
                                </strong>In 8Technology we use the payment platform MercadoPago that offers the
                                following payment methods: RapiPago, Pago F&aacute;cil, Bapro, bank transfer. You can
                                also pay with the following credit cards: Visa, MasterCard, American Express, Cabal,
                                Tarjeta Shopping, Argencard, Italcred, etc. Some payment methods may not be available at
                                times.</p>
                            <p><strong>Can I pay in installments?<br />
                                </strong>Yes, it is possible to pay by credit card in the installments that MercadoPago
                                provides.</p>
                            <p><strong>What is the minimum amount for my purchases?<br />
                                </strong>In order for you to complete your purchases, the total value of your purchases,
                                excluding shipping and handling, must be equal to or greater than AR$50.</p>
                            <p><strong>How do I calculate shipping costs?<br />
                                </strong>Shipping costs are calculated per purchase, regardless of the number of
                                products you add to your order.</p>
                            <p><strong>What are the conditions to make a change?<br />
                                </strong>It will be necessary for the exchange that the product has not been used and is
                                in perfect condition, with their respective labels, accessories and original packaging.
                                The user must keep the invoice and/or delivery note. Changes will be accepted within 30
                                days from the day of purchase (given the current situation, changes are being allowed
                                outside this period). Exchanges or returns of products purchased in another country will
                                not be accepted.</p>
                            <p><strong>How do I request a change?<br />
                                </strong>You can go to any of the authorized stores or you can contact us <a
                                    href="/contacto">here.</a></p>
                            <p><strong>What is the time frame for a change?<br />
                                </strong>Exchanges can be made within 30 days from the date of purchase as shown on the
                                invoice. (IN THE CURRENT SITUATION, EXCHANGES ARE PERMITTED OUTSIDE THIS PERIOD).</p>
                            <p><strong>After requesting the change, How long will it take to receive my order?<br />
                                </strong>In the first instance you can contact us <a href="/contacto">here </a>to
                                inform us of your desire to make a change and to detail the steps to follow. You can
                                come to our stores to make the change immediately.</p>
                            <p><strong>I received the order but it is incomplete or incorrect, what should I do?<br />
                                </strong>If the product arrives incomplete or is incorrect, contact us <a
                                    href="/contacto" style="font-family: Arial, Helvetica, sans-serif;">here
                                </a>indicating your complete data and those of the purchase. We will contact you as soon
                                as possible to solve the problem.</p>
                            <p><strong>I am having trouble paying by credit card.<br />
                                </strong>There are different reasons why a payment may be rejected: there may be
                                security reasons, unapproved application or even insufficient funds. You can contact
                                your financial institution to make an inquiry or contact us <a href="/contacto">here.</a>
                            </p>
                            <p><b>Would you like to receive information about 8Technology news? </b><br />
                                We recommend you to register. Through our free service you will receive all the news and
                                updates of our brands in your e-mail inbox.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Fin Columna Right -->
    <%- include('./partials/footer') %>
</body>

</html>