<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>8Technology / Cómo realizar tu pedido</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/59c9619fb3.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/application.min.css">
    <link type="text/css" rel="stylesheet" href="/css/normalize.css">
    <link type="text/css" rel="stylesheet" href="/css/header.css">
    <link type="text/css" rel="stylesheet" href="/css/productos.css">
    <link type="text/css" rel="stylesheet" href="/css/footer.css">
    <link type="text/css" rel="stylesheet" href="/css/home.css">
    <link rel="stylesheet" href="/css/contacto.css">
</head>
<body>
    <header>
        <%- include('./partials/header-eng') %>
    </header>
  
     <!-- Inicio Main
    ================================================== -->
  	<div id="mainHome" style="background-color: white;">
    
    	<!---- Inicio  ---->
        <div id="team-escuelas">
        <div class="file">
                            
			<div class="bigrow">
				<div style="margin:20px;">        
					<h3 style="color:#666666;">Preguntas frecuentes</h3>
					<div class="separador-productos"></div>
					<br />
					<div><p><strong>&iquest;Por qu&eacute; debo registrarme?<br />
</strong>Principalmente, por tu seguridad. Tambi&eacute;n para conocerte y poder satisfacer mejor tus necesidades. Ademas, registrandote, accedes a el estado e h</p>
<p><b>&iquest;Es seguro comprar en 8Technology?</b><br />
Absolutamente. En 8Technology utilizamos un sistema de pagos seguro y confidencial para proteger tus datos. A trav&eacute;s de la plataforma de Dineromail o MercadoPago podr&aacute;s elegir el medio de pago m&aacute;s conveniente: Pago F&aacute;cil, Rapipago, transferencia bancaria, las tarjetas de cr&eacute;dito habilitadas son: Visa, MasterCard, American Express, Tarjeta Naranja, Cabal, Tarjeta Shoping, Argencard, Italcred, o podes utilizar el env&iacute;o directo de dinero por medio de Dineromail o MercadoPago a nuestra cuenta. Los pago con tarjeta de cr&eacute;dito on-line, se realizan directamente desde Dineromail o MercadoPago y los datos viajan por Internet en forma encriptada los cuales, una vez aprobado el pago, son destruidos autom&aacute;ticamente de todo registro. Nadie conserva la informaci&oacute;n de tu tarjeta de cr&eacute;dito una vez finalizado el pago.</p>
<p><strong>&iquest;Desde d&oacute;nde puedo comprar online?<br />
</strong>Podes comprar desde cualquier lugar de la Rep&uacute;blica Argentina.</p>
<p><strong>&iquest;Puedo hacer un pedido por email?<br />
</strong>Podes escribirnos a&nbsp;<a href="mailto:ventaonline@cristobalcolon.com">ventaonline@cristobalcolon.com</a>&nbsp;si estas buscando un talle, color o producto que no encuentres publicado y te lo enviaremos a domicilio.</p>
<p><b>&iquest;Comprar en RIP CURL&nbsp;es m&aacute;s caro o m&aacute;s barato que comprar en un local?</b><br />
A excepci&oacute;n de las promociones web asociadas al sistema de pago, los precios anunciados en este sitio son los mismos que encontrar&aacute;s en cualquier local de RIP CURL, CRISTOBAL COLON, ISABEL LA CATOLICA y SKATE &amp; FRIENDS.</p>
<p><strong>&iquest;Cu&aacute;les son los medios de pago disponibles?<br />
</strong>En RIP CURL utilizamos la plataforma de pago MercadoPago que ofrece las siguientes modalidades de pago: RapiPago, Pago F&aacute;cil, Bapro, transferencia bancaria. Tambi&eacute;n podes abonar con las siguientes tarjetas de cr&eacute;dito: Visa, MasterCard, American Express, Cabal, Tarjeta Shopping, Argencard, Italcred, etc. Es posible que en ocasiones no esten disponibles ciertos medios de pago.</p>
<p><strong>&iquest;Se puede pagar en cuotas?<br />
</strong>Si, es posible realizar el pago con tarjeta en las cuotas que MercadoPago facilita.</p>
<p><strong>&iquest;Cu&aacute;l es el monto m&iacute;nimo para mis compras?<br />
</strong>Para que puedas concretar tus compras, el valor total de las mismas sin incluir gastos de env&iacute;o debe ser igual o mayor a AR$50.</p>
<p><strong>&iquest;C&oacute;mo calculo los costos de env&iacute;o?<br />
</strong>Los costos de env&iacute;o se calculan por compra, sin importar la cantidad de productos que incorpores al pedido.&nbsp;</p>
<p><strong>&iquest;Cu&aacute;les son las condiciones para efectuar un cambio?<br />
</strong>Ser&aacute; necesario para la realizar el cambio que el producto no tenga uso y se encuentre en perfectas condiciones, con sus respectivas etiquetas, accesorios y su embalaje original. El usuario debe conservar la factura y/o remito de entrega. Se aceptar&aacute;n cambios dentro de los 30 d&iacute;as a partir del d&iacute;a de compra (DADA LA SITUIACION ACTUAL, SE ESTAN PERMITIENO CAMBIOS FUERA DE ESE PERIODO). No se aceptar&aacute;n cambios o devoluciones de productos adquiridos en otro pa&iacute;s.</p>
<p><strong>&iquest;C&oacute;mo solicito un cambio?<br />
</strong>Para solicitar un cambio, env&iacute;anos un correo electr&oacute;nico a&nbsp;<a href="mailto:ventaonline@cristobalcolon.com" style="font-family: Arial, Helvetica, sans-serif;">ventaonline@cristobalcolon.com</a>&nbsp;con tu nombre y apellido, email con el cu&aacute;l est&aacute;s registrado y el c&oacute;digo del art&iacute;culo. La solicitud ser&aacute; respondida a la brevedad y te indicaremos los pasos a seguir. Tambi&eacute;n podes dirigirte a cualquiera de los locales habilitados en la provincia Buenos Aires (&uacute;nicamente) y efectuar el cambio all&iacute;.&nbsp;</p>
<p><strong>&iquest;Cu&aacute;les son los tiempos para efectuar un cambio?<br />
</strong>Los plazos para realizar cambios son de 30 d&iacute;as a partir de la fecha de compra que aparece en la factura. (DADA LA SITUIACION ACTUAL, SE ESTAN PERMITIENO CAMBIOS FUERA DE ESE PERIODO).</p>
<p><strong>&iquest;Despu&eacute;s de solicitar el cambio, en cu&aacute;nto tiempo recibir&eacute; mi pedido?<br />
</strong>Si est&aacute;s en el interior del pa&iacute;s los plazos para los cambios pueden variar. En primera instancia nos podes contactar por email a&nbsp;<a href="mailto:ventaonline@cristobalcolon.com">ventaonline@cristobalcolon.com</a>&nbsp;para informarnos de tu voluntad de realizar un cambio y poder detallarte los pasos a seguir. Podes acercarte a nuestros locales para efectuar el cambio en forma inmediata.&nbsp;</p>
<p><strong>Recib&iacute; el pedido pero est&aacute; incompleto o es incorrecto &iquest;qu&eacute; debo hacer?<br />
</strong>Si el producto llega de forma incompleta o es incorrecto, env&iacute;anos un correo electr&oacute;nico a&nbsp;<a href="mailto:ventaonline@cristobalcolon.com" style="font-family: Arial, Helvetica, sans-serif;">ventaonline@cristobalcolon.com&nbsp;</a>indicando tus datos completos y los de la compra. A la brevedad nos pondremos en contacto para resolver el inconveniente.</p>
<p><strong>Tengo problemas para efectuar el pago con tarjeta.<br />
</strong>Existen diferentes motivos por los que un pago puede ser rechazado: pueden existir razones de seguridad, solicitud no aprobada o incluso insuficiencia de fondos. Podes comunicarte con tu instituci&oacute;n financiera para realizar una consulta o bien a<a href="mailto:ventaonline@cristobalcolon.com">ventaonline@cristobalcolon.com</a></p>
<p><b>&iquest;Quer&eacute;s recibir informaci&oacute;n sobre las novedades de RIP CURL?</b><br />
Te recomendamos registrarte en&nbsp;www.ripcurlargentina.com. A trav&eacute;s de nuestro servicio gratuito de newsletter vas a recibir todas las novedades y noticias de nuestras marcas en tu casilla de e-mail. Podr&aacute;s solicitar la baja de tus datos en nuestra base datos desde la opci&oacute;n que encontrar&aacute;s en el perfil de tu cuenta, eliminando el tick del campo &ldquo;Deseo recibir novedades&rdquo;.</p>
<p><strong>&iquest;Qu&eacute; talle soy?<br />
</strong>Para conocer cu&aacute;l es el talle correcto te facilitamos una tabla de comparaci&oacute;n de medidas que encontrar&aacute;s en el detalle de cada producto. Te recomendamos consultar y comparar estas medidas antes de realizar la compra, para que puedas saber con anticipaci&oacute;n si el talle ser&aacute; correcto.</p>
<p><strong>&iquest;Qu&eacute; hago si mi consulta no est&aacute; aqu&iacute;?<br />
</strong>No dudes en enviarnos tu consulta o inquietud por correo electr&oacute;nico escribiendo a&nbsp;<a href="mailto:ventaonline@cristobalcolon.com" style="font-family: Arial, Helvetica, sans-serif;">ventaonline@cristobalcolon.com</a>. Todos los mensajes son contestados a la brevedad. Esta secci&oacute;n se ampliar&aacute; con las preguntas que recibamos de los usuarios.</p>
<p>&nbsp;</p></div>
				</div>
			</div>    
		</div>    
		</div>    
    </div>
    <!-- Fin Columna Right --> 
    <%- include('./partials/footer') %>
</body>
</html>