<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Productos</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Yanone+Kaffeesatz:wght@300&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/59c9619fb3.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/productos.css">
</head>

<body>
    <header>
        <div>
            <div>
                <div class="logo">
                    <img src="/images/logo.png" alt="logo">
                </div>
                <div class="banderas">
                    <a href="/productos"><img src="/images/spain.png" alt="ESP"></a>
                    <a href="/products"><img src="/images/uk.png" alt="EN"></a>
                </div>
            </div>
            <nav>
                <ul class="inicio">
                    <li>
                        <a class="titulo" href="#">Inicio</a>
                        <a href="#"><i class="fa-solid fa-house"></i></a>
                    </li>
                    <li>
                        <a class="titulo" href="#">Registrate</a>
                        <a href="#"><i class="fa-solid fa-pen-clip"></i></a>
                    </li>
                    <li>
                        <a class="titulo" href="#">Logeate</a>
                        <a href="#"><i class="fa-solid fa-laptop"></i></a>
                    </li>
                    <li class="carrito">
                        <a class="titulo" href="#">Carrito</a>
                        <a href="#"><i class="fa-solid fa-truck"></i></a>
                    </li>
                </ul>
                <form class="barra">
                    <input type="search" name="barra-busqueda" placeholder="Busca tu favorito">
                    <button><i class="fa-solid fa-magnifying-glass"></i></button>
                </form>
            </nav>
            <ul class="menu">
                <li>
                    <a class="icono" href="#">
                        <i class="fa-solid fa-bars"></i>
                    </a>

                    <ul class="desplegable">
                        <li><a href="">Tipos</a></li>
                        <li><a href="">Marcas</a></li>

                    </ul>
                </li>
            </ul>
        </div>
    </header>

    <main>
        <div class="acordeon">
            <li class="item" id="mn1">
                <a class="btn" href="#mn1">Marcas</a>
                <div class="submenu">
                    <a href="#">Apple</a>
                    <a href="#">Samgung</a>
                    <a href="#">Huawei</a>
                </div>
            </li>
            <li class="item" id="mn2">
                <a class="btn" href="#mn2">Tipos</a>
                <div class="submenu">
                    <a href="#">Celulares</a>
                    <a href="#">Relojes</a>
                    <a href="#">Tablets</a>
                </div>
            </li>
            <li class="item" id="mn3">
                <a class="btn" href="#mn3">Modelo</a>
                <div class="submenu">
                    <a href="#">Mini</a>
                    <a href="#">Plus</a>
                    <a href="#">Pro</a>
                </div>
            </li>
        </div>
        <div class="superior">1</div>
        <div class="izquierda">2</div>
        <div class="centro">
            <div class="productos">
                <img src="/images/apple-iphone-12-mini.jpg" alt="">
                <div class="descripcion">
                    <h4>Descripcion: apple-iphone-12-mini</h4>
                    <p>Valor: 22.500</p>
                    <p>Descuento</p>
                </div>
                <div class="enlaces">
                    <div class="detalle">
                        <a href="#">Ver Detalle</a>
                    </div>
                    <div class="carrit">
                        <a href="#">Al Carrito</a>
                    </div>
                </div>
            </div>
            <div class="productos">
                <img src="/images/apple-iphone-12-pro-max.jpg" alt="">
                <div class="descripcion">
                    <p>
                    <h4>Descripcion: apple-iphone-12-pro-max</h4>
                    </p>
                    <p>Valor: 32.500</p>
                    <p>Descuento</p>
                </div>
                <div class="enlaces">
                    <div class="detalle">
                        <a href="#">Ver Detalle</a>
                    </div>
                    <div class="carrit">
                        <a href="#">Al Carrito</a>
                    </div>
                </div>
            </div>
            <div class="productos">
                <img src="/images/apple-iphone-12-pro.jpg" alt="">
                <div class="descripcion">
                    <p>
                    <h4>Descripcion: apple-iphone-12-pro</h4>
                    </p>
                    <p>Valor: 42.500</p>
                    <p>Descuento</p>
                </div>
                <div class="enlaces">
                    <div class="detalle">
                        <a href="#">Ver Detalle</a>
                    </div>
                    <div class="carrit">
                        <a href="#">Al Carrito</a>
                    </div>
                </div>
            </div>
            <div class="productos">
                <img src="/images/apple-iphone-12.jpg" alt="">
                <div class="descripcion">
                    <p>
                    <h4>Descripcion: apple-iphone-12</h4>
                    </p>
                    <p>Valor: 12.500</p>
                    <p>Descuento</p>
                </div>
                <div class="enlaces">
                    <div class="detalle">
                        <a href="#">Ver Detalle</a>
                    </div>
                    <div class="carrit">
                        <a href="#">Al Carrito</a>
                    </div>
                </div>
            </div>
            <div class="productos">
                <img src="/images/apple-watch-s6 (1).jpg" alt="">
                <div class="descripcion">
                    <p>
                    <h4>Descripcion: apple-watch-s6</h4>
                    </p>
                    <p>Valor: 2.500</p>
                    <p>Descuento</p>
                </div>
                <div class="enlaces">
                    <div class="detalle">
                        <a href="#">Ver Detalle</a>
                    </div>
                    <div class="carrit">
                        <a href="#">Al Carrito</a>
                    </div>
                </div>
            </div>
            <div class="productos">
                <img src="/images/apple-watch-s6-steel.jpg" alt="">
                <div class="descripcion">
                    <p>
                    <h4>Descripcion: apple-iphone-watch-s6-stell</h4>
                    </p>
                    <p>Valor: 2.500</p>
                    <p>Descuento</p>
                </div>
                <div class="enlaces">
                    <div class="detalle">
                        <a href="#">Ver Detalle</a>
                    </div>
                    <div class="carrit">
                        <a href="#">Al Carrito</a>
                    </div>
                </div>
            </div>
            <div class="productos">
                <img src="/images/apple-watch-s6-titanium.jpg" alt="">
                <div class="descripcion">
                    <p>
                    <h4>Descripcion: apple-watch-s6-titanium</h4>
                    </p>
                    <p>Valor: 2.500</p>
                    <p>Descuento</p>
                </div>
                <div class="enlaces">
                    <div class="detalle">
                        <a href="#">Ver Detalle</a>
                    </div>
                    <div class="carrit">
                        <a href="#">Al Carrito</a>
                    </div>
                </div>
            </div>
            <div class="productos">
                <img src="/images/samsung-galaxy-note20-ultra.jpg" alt="">
                <div class="descripcion">
                    <p>
                    <h4>Descripcion: samsung-galaxy-note20-ultra.jpg</h4>
                    </p>
                    <p>Valor: 27.500</p>
                    <p>Descuento</p>
                </div>
                <div class="enlaces">
                    <div class="detalle">
                        <a href="#">Ver Detalle</a>
                    </div>
                    <div class="carrit">
                        <a href="#">Al Carrito</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="derecha">
            <div class="derechaArriba">4</div>
            <div class="derechaAbajo">5</div>
        </div>
    </main>
    <footer>
        <div>
        </div>
    </footer>
</body>

</html>