<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>8Technology / Stores</title>
    <link rel="stylesheet" href="/css/application.min.css">
    <link type="text/css" rel="stylesheet" href="/css/normalize.css">
    <link type="text/css" rel="stylesheet" href="/css/header.css">
    <link type="text/css" rel="stylesheet" href="/css/footer.css">
    <link type="text/css" rel="stylesheet" href="/css/home.css">
    <link rel="stylesheet" href="/css/stores.css">

</head>

<body>
    <header>
        <%- include('./partials/header-eng') %>
    </header>

    
    <div id="mainHome">

        <!---- Inicio Stores  ---->
        <div id="stores">
            <div class="file">

                <div class="smallrow">

                    <div class="tit-nav">
                        <h3 class="text-white bold">8Technology STORES</h3>
                    </div>

                    <!---- Inicio Menu Accordion ---->
                    <div id="nestedAccordion">
                        <h3>Exclusive</h3>
                        <div style="display: block;">
                            <ol class="stores-submenu">
                                <li><a href="ruta shopping la plata"
                                        class="storename">La Plata – Argentina</a></li>
                                <li><a href="ruta shopping la plata"
                                        class="storename">Bariloche – Argentina</a></li>
                                <li><a href="ruta a shopping bogotá"
                                        class="storename">Bogotá – Colombia</a></li>
                                <li><a href="ruta shopping yucatán"
                                        class="storename">Yucatán – Mexico</a></li>
                                <li><a href="ruta shopping punta del este"
                                        class="storename">Punta del Este – Uruguay</a></li>
                                <li><a href="ruta miami"
                                        class="storename">Miami – USA</a></li>
                                
                            </ol>
                        </div>

                        <!--<h3>Franquicias</h3>
                        	<div style="display: none;">
								<ol class="stores-submenu">
								</ol>
                            </div>-->

                    </div>
                    <!---- Fin Menu Accordion ---->
                    <div class="stores-note">
                        <p>*The offers published on the website are only for exclusive locations.</p>
                    </div>
                </div>

                <div class="bigrow">

                    <!---- Inicio Sectrion Banner  ---->
                    <div id="section-banner">

                        <div class="banner-arrow"></div>

                        <img src="images/imgStores.jpeg" />
                        <div class="section-tit">
                            <h4 class="white bold">Stores / Exclusive</h4>
                        </div>
                    </div>
                    <!---- Fin Section Banner ---->

                    <!-- Inicio News List-->
                    <div id="news-list">
                        <div class="content">

                            <!-- Inicio News Table-->
                            <div class="news-table">
                                <!-- Inicio News -->
                                <div class="news-cell">
                                    <a href="ruta shopping la plata">
                                        <div class="news-content">
                                            <div class="pic"
                                                style="background-image:url(/images/shoppingLaPlata.jpg)">
                                                <img src="/images/marcowide.png" />
                                            </div>
                                            <div class="info">
                                                <h3 class="text-color">La Plata</h3>
                                                <p>Stores / Exclusive</p>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                                <!-- Fin News -->
                                <!-- Inicio News -->
                                <div class="news-cell">
                                    <a href="ruta shopping bariloche">
                                        <div class="news-content">
                                            <div class="pic"
                                                style="background-image:url(/images/shoppingBariloche.jpg)">
                                                <img src="/images/marcowide.png" />
                                            </div>
                                            <div class="info">
                                                <h3 class="text-color">Bariloche</h3>
                                                <p>Stores / Exclusive</p>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                                <!-- Fin News -->
                                <!-- Inicio News -->
                                <div class="news-cell">
                                    <a href="ruta shopping bogotá">
                                        <div class="news-content">
                                            <div class="pic"
                                                style="background-image:url(/images/shoppingBogota.png)">
                                                <img src="/images/marcowide.png" />
                                            </div>
                                            <div class="info">
                                                <h3 class="text-color">Bogotá</h3>
                                                <p>Stores / Exclusive</p>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                                <!-- Fin News -->
                                <!-- Inicio News -->
                                <div class="news-cell">
                                    <a href="ruta shopping yucatán">
                                        <div class="news-content">
                                            <div class="pic"
                                                style="background-image:url(/images/shoppingYucatan.webp)">
                                                <img src="/images/marcowide.png" />
                                            </div>
                                            <div class="info">
                                                <h3 class="text-color">Yucatán</h3>
                                                <p>Stores / Exclusive</p>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                                <!-- Fin News -->
                                <!-- Inicio News -->
                                <div class="news-cell">
                                    <a href="ruta shopping Punta del este">
                                        <div class="news-content">
                                            <div class="pic"
                                                style="background-image:url(/images/shoppingPuntaDelEste.jpg)">
                                                <img src="/images/marcowide.png" />
                                            </div>
                                            <div class="info">
                                                <h3 class="text-color">Punta del Este</h3>
                                                <p>Stores / Exclusive</p>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                                <!-- Fin News -->
                                <!-- Inicio News -->
                                <div class="news-cell">
                                    <a href="ruta shopping Miami">
                                        <div class="news-content">
                                            <div class="pic"
                                                style="background-image:url(/images/shoppingMiami.webp)">
                                                <img src="/images/marcowide.png" />
                                            </div>
                                            <div class="info">
                                                <h3 class="text-color">Miami</h3>
                                                <p>Stores / Exclusive</p>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                                <!-- Fin News -->
                                

                    </div>
                    <!-- Fin News Table-->


                </div>
            </div>
            <!-- Fin News List -->



        </div>

    </div>
    </div>
    <!---- Fin Stores ---->

    </div>
    <!-- Fin Main
	================================================== -->
    <%- include('./partials/footer') %>
</body>

</html>