<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>8Technology</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/59c9619fb3.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/application.min.css">
    <link type="text/css" rel="stylesheet" href="/css/normalize.css">
    <link type="text/css" rel="stylesheet" href="/css/header.css">
    <link type="text/css" rel="stylesheet" href="/css/productos.css">
    <link type="text/css" rel="stylesheet" href="/css/footer.css">
    <link type="text/css" rel="stylesheet" href="/css/home.css">
    <link rel="stylesheet" href="/css/contacto.css">
</head>

<body>
    <header>
        <%- include('./partials/header-eng') %>
    </header>
    <!-- Inicio Main
    ================================================== -->
    <div id="mainHome" style="background-color: white;">

        <!---- Inicio ---->
        <div id="team-escuelas">
            <div class="file">

                <div class="bigrow">
                    <div style="margin:20px;">
                        <h3 style="color:#666666;">Terms and Conditions</h3>
                        <div class="separador-productos"></div>
                        <br />
                        <div>
                                <br />
                                1. GENERAL<br />
                                The visiting user or registered member accepts that he/she has read and agrees to be bound by the Terms and Conditions of Use. agree to the obligations set forth in the Terms and Conditions of Use. These terms may be changed by the site without notice. If the user not agree with the terms and conditions, you may stop using the Site at any time. use the Site at any time. The offers may be modified, deleted or extended in accordance with the terms and conditions, suppressed or extended according to the availability of stock.</p>
                            <p>2. SITE CONTENT<br />
                                Unless otherwise expressly stated, all materials, including images, illustrations, artwork, designs, icons, photographs, video clips, written materials and other and other materials appearing as part of this site (collectively referred to as "the content") are trademarks and are the copyrighted property of The Site.</p>
                            <p>3. SECURITY POLICIES</p>
                            <p>3.1. PERSONAL INFORMATION<br />
                                The Site will ask all those users who wish to make a purchase, certain personal data, namely: name and surname, address, e-mail, telephone, and all the data necessary to corroborate the veracity of such information. The site may suspend or delete all those users whose data cannot be verified and they will not be able to request any compensation or indemnification. Each registered user will use a user name and password or password that is personal, exclusive and non-transferable. Therefore, the use by third parties will be the sole responsibility of the user. The Site undertakes to keep confidential the information received by the user in accordance with the legal provisions applicable in the Republic of Argentina. The Site may contact the user by telephone to perform data validation.</p>
                            <p>3.1.2 USER'S RESPONSIBILITY<br />
                                El usuario será responsable por el uso de la información proporcionada en El Sitio. Cualquier inconsistencia o anomalía relacionada a su clave de acceso o datos personales deberán ser comunicadas de forma inmediata. Asimismo el usuario podrá modificar sus datos personales, cambio de domicilio, teléfono o e-mail cuando lo desee ingresando en su perfil. Ante cualquier consulta o sugerencia, podrá comunicarse con El Sitio enviando un menssege.</p>
                            <p>4. USER COMMENTS<br />
                                All suggestions, ideas and other comments received from users may be used, commented on and disclosed by the site without the need to compensate the author of the same. The site is not and will not be under any obligation to maintain confidentiality in the comments, respond to comments or pay the user for their comments. Likewise, the site may use the data of users who win contests, competitions and promotions for advertising purposes.</p>
                            <p>5. COOKIES<br />
                                User agrees to receive cookies transmitted to them by 8Technology servers "Cookie" is a data file that is stored on the hard drive of the user's computer when the user accesses the Site. Cookies may contain information such as the identification provided by the user or information to track the pages the user has visited. A Cookie cannot read data or information from the user's hard drive or read Cookies created by other sites or pages.
                            </p>
                            <p>6. 8TECHNOLOGY'S COMMUNICATIONS TO THE USER<br />
                                The user agrees with The Site that The Site may send him/her periodic e-mails periodically in order to communicate to you anything that the Site deems appropriate. site deems appropriate.</p>
                            <p>7. INFORMACI&Oacute;N SOBRE LOS PRODUCTOS Y PRECIOS <br/>
                                The offers and products displayed on the site are subject to physical availability in our own stock. own stock. The prices displayed on the site are expressed in Argentine pesos and include VAT. Argentine pesos and include VAT. The invoice to be issued will be the final consumer invoice. They are valid for the Argentine Republic. They do not include the cost of shipping cost, which will be at the exclusive charge of the user, and will depend on the shipping method and location.</p>
                            <p>8. COLORS<br />
                                We have technically made our best effort to display the colors of the products appearing on The Site as accurately as possible. The user should be aware that the colors you see on your monitor may vary depending on the brightness and contrast calibration you use. Therefore, we cannot guarantee that the display of the product on your monitor will be exactly the same as the actual product.</p>
                            <p>9. DISCLAIMER<br />
                                The Site is not responsible for any damage that its use may cause to the equipment through which it is accessed.</p>
                            <p>10. ERROR DISCLAIMER<br />
                                This page may contain typographical errors, inaccuracies or omissions that may relate to product descriptions, value and availability. We reserve the right to correct or update information at any time without notice. We apologize for any inconvenience this may cause. If you are not completely satisfied with your purchase please let us know and we will treat your case individually in order to find a solution to the problem.</p>
                            <p>11. CHANGE POLICY<br />
                                The user may change his order if he wishes to do so. Exchanges will be received within 30 days after purchase. To proceed with the exchange it is necessary that the product has not been used and is in perfect condition, with their respective labels, accessories or components and its original packaging. The user must keep the invoice/ticket and/or delivery note. We do not accept exchanges of underwear or products purchased in another country, or purchased by means other than the Site. 8TECHNOLOGY will not refund products, the user can make an exchange for the same product or choose a different one that is to his liking.</p>
                            <p>12. PROCEDURE<br />
                                To request a change, the user should send a message to <a style="font-family: Arial, Helvetica, sans-serif;">here</a> Describing the reason why you require the exchange of the product. In addition, it is requested to mention the email with which you are registered in 8TECHNOLOGY Shop and the code of the purchased item. The request will be answered as soon as possible and the steps to follow will be indicated. Steps to contemplate for the exchange of a product.</p>
                            <p>- The user may make the exchange at 8TECHNOLOGY branches. The user must present the purchase invoice at the checkout line along with the product in perfect condition as detailed above.</p>
                            <p>- Shipping by mail: the user must correctly pack the product and send it to the offices of 8TECHNOLOGY. You must include all the documentation you received (invoice/remittance). The shipping cost will be charged to the user.<br />
                                <br />
                                The cost of shipping will be assumed by the Site when the change occurs due to:</p>
                            <p>a) The product does not correspond to the invoice detail.<br />
                                b) The product was not the one requested in the purchase order by the user.<br />
                                c) The delivered product is faulty. In all those cases in which the user wishes to change the order for other reasons, the user will have to pay the shipping charges again.<br />
                                <br />
                                Exchanges may be made for the same product; or for another of different characteristics and different price paying the difference. If the user wishes to do so, he/she can do it in the authorized 8TECHNOLOGY stores (consult in:<a
                                    style="font-family: Arial, Helvetica, sans-serif;">CONTACT</a>)
                            </p>
                            <p>13. SHIPPING POLICIES<br />
                                All orders will be shipped the day after payment is credited. Payments credited on a Friday or during the weekend or holidays will be made the first business day of the following week.<br />
                                Delivery is subject to stock availability at the time of order. In the event If it is not available, the user will be informed immediately, offered replacement or cancellation options.</p>
                            <p>14. CULMINATION<br />
                                This agreement is effective until terminated by either you or the site. You may terminate this agreement at any time User may terminate the agreement at any time and may do so immediately without notice and may not notice and therefore not log in in the future. Upon any termination of this agreement User must destroy all materials downloaded or otherwise obtained from this downloaded or otherwise obtained from this site.</p>
                            <p>&nbsp;</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Fin Columna Right -->
    <%- include('./partials/footer') %>
</body>

</html>