<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>8Technology</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/59c9619fb3.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/application.min.css">
    <link type="text/css" rel="stylesheet" href="/css/normalize.css">
    <link type="text/css" rel="stylesheet" href="/css/header.css">
    <link type="text/css" rel="stylesheet" href="/css/productos.css">
    <link type="text/css" rel="stylesheet" href="/css/footer.css">
    <link type="text/css" rel="stylesheet" href="/css/home.css">
    <link rel="stylesheet" href="/css/contacto.css">
</head>

<body>
    <header>
        <%- include('./partials/header-eng') %>
    </header>
    <!-- Inicio Main
    ================================================== -->
    <div id="mainHome" style="background-color: white;">

        <!---- Inicio ---->
        <div id="team-escuelas">
            <div class="file">

                <div class="bigrow">
                    <div style="margin:20px;">
                        <h3 style="color:#666666;">Terminos y condiciones</h3>
                        <div class="separador-productos"></div>
                        <br />
                        <div>
                            <p>Bienvenido al e-shop de&nbsp;<b>RIP CURL</b>&nbsp;en adelante llamado &quot;El
                                Sitio&quot;.</p>
                            <p>La utilizaci&oacute;n del sitio www.ripcurlargentina.com expresa la adhesi&oacute;n plena
                                y sin reservas del usuario a los presentes T&eacute;rminos y Condiciones de Uso y
                                Privacidad.<br />
                                <br />
                                1. GENERAL<br />
                                El usuario visitante o miembro registrado acepta que ha le&iacute;do y est&aacute; de
                                acuerdo con las obligaciones establecidas por los T&eacute;rminos y Condiciones de uso.
                                Estos t&eacute;rminos pueden ser cambiados por el sitio sin previo aviso. Si el usuario
                                no se encuentra conforme con los t&eacute;rminos y condiciones, podr&aacute; dejar de
                                utilizar El Sitio cuando lo disponga. Las ofertas podr&aacute;n ser modificadas,
                                suprimidas o extendidas de acuerdo a la disponibilidad de stock.</p>
                            <p>2. CONTENIDO DEL SITIO&nbsp;<br />
                                A menos que expresamente se indicare, todos los materiales, incluyendo im&aacute;genes,
                                ilustraciones, dise&ntilde;os, iconos, fotograf&iacute;as, video clips, materiales
                                escritos y otros que aparecen como parte de este sitio (colectivamente llamado &quot;el
                                contenido&quot;) son marcas registradas y su propiedad intelectual controlada por El
                                Sitio.</p>
                            <p>3. POLITICAS DE SEGURIDAD</p>
                            <p>3.1. INFORMACION PERSONAL<br />
                                El Sitio solicitar&aacute; a todos aquellos usuarios que deseen realizar una compra,
                                determinados datos personales a saber: nombre y apellido, domicilio, email,
                                tel&eacute;fono, y todos los datos que fueren necesarios para corroborar la veracidad de
                                dicha informaci&oacute;n. El sitio podr&aacute; suspender o eliminar a todos aquellos
                                usuarios cuyos datos no puedan ser verificados y ellos no podr&aacute;n solicitar
                                indemnizaci&oacute;n alguna o resarcimiento. Cada usuario registrado utilizar&aacute; un
                                nombre de usuario y contrase&ntilde;a o clave de acceso que es de uso personal,
                                exclusivo e intransferible. Por lo que el uso por parte de terceros ser&aacute;
                                responsabilidad exclusiva del usuario. El Sitio se obliga a mantener en forma
                                confidencial la informaci&oacute;n que reciba por parte del usuario conforme a las
                                disposiciones legales aplicables en la Rep&uacute;blica Argentina. El Sitio podr&aacute;
                                contactar al usuario v&iacute;a telef&oacute;nica para realizar la validaci&oacute;n de
                                datos.</p>
                            <p>3.1.2 RESPONSABILIDAD DEL USUARIO<br />
                                El usuario ser&aacute; responsable por el uso de la informaci&oacute;n proporcionada en
                                El Sitio. Cualquier inconsistencia o anomal&iacute;a relacionada a su clave de acceso o
                                datos personales deber&aacute;n ser comunicadas de forma inmediata. Asimismo el usuario
                                podr&aacute; modificar sus datos personales, cambio de domicilio, tel&eacute;fono o
                                email cuando lo desee ingresando en su perfil. Ante cualquier consulta o sugerencia,
                                podr&aacute; comunicarse con El Sitio enviando un email a
                                ventaonline@cristobalcolon.com.</p>
                            <p>4. COMENTARIOS DE LOS USUARIOS<br />
                                Todas las sugerencias, ideas y otros comentarios recibidos de los usuarios podr&aacute;n
                                ser utilizados, comentados, divulgados por el sitio sin necesidad de retribuir al autor
                                de las mismas. El sitio no est&aacute; ni estar&aacute; bajo ninguna obligaci&oacute;n
                                de mantener confidencialidad en los comentarios, responder los comentarios ni pagar al
                                usuario por sus comentarios. As&iacute;mismo, el sitio podr&aacute; utilizar los datos
                                de los usuarios ganadores de concursos, competencias y promociones con fines
                                publicitarios.</p>
                            <p>5. COOKIES<br />
                                El usuario acuerda recibir las cookies que les transmitan los servidores de
                                www.ripcurlargentina.com. &quot;Cookie&quot; es un archivo de datos que se almacena en
                                el disco duro de la computadora del usuario cuando &eacute;ste tiene acceso al Sitio.
                                Las Cookies pueden contener informaci&oacute;n tal como la identificaci&oacute;n
                                proporcionada por el usuario o informaci&oacute;n para rastrear las p&aacute;ginas que
                                el usuario ha visitado. Una Cookie no puede leer los datos o informaci&oacute;n del
                                disco duro del usuario ni leer las Cookies creadas por otros sitios o p&aacute;ginas.
                            </p>
                            <p>6. LAS COMUNICACIONES DE CRISTOBAL COLON SHOP AL USUARIO<br />
                                El usuario conviene con El Sitio que &eacute;ste podr&aacute; enviarle correos
                                electr&oacute;nicos en forma peri&oacute;dica a fin de comunicarle todo aquello que el
                                sitio considere apropiado.</p>
                            <p>7. INFORMACI&Oacute;N SOBRE LOS PRODUCTOS Y PRECIOS Las ofertas y los productos exhibidos
                                en el sitio se encuentran sujetos a disponibilidad f&iacute;sica de los mismos en el
                                stock propio. Los precios exhibidos en el sitio est&aacute;n expresados en pesos
                                argentinos e incluyen IVA. La factura a emitirse ser&aacute; la de consumidor final. Son
                                v&aacute;lidos para la Rep&uacute;blica Argentina. Los mismos no incluyen el costo de
                                env&iacute;o que ser&aacute;n a exclusivo cargo del usuario, y depender&aacute; del
                                m&eacute;todo de env&iacute;o y su ubicaci&oacute;n.</p>
                            <p>8. COLORES<br />
                                Hemos realizado t&eacute;cnicamente nuestro mejor esfuerzo para exhibir los colores de
                                los productos que aparecen en El Sitio lo m&aacute;s fielmente posible. El usuario debe
                                tener en cuenta que los colores que ve en su monitor pueden variar dependiendo de la
                                calibraci&oacute;n de brillo y contraste que utilice. Por lo que no podemos garantizar
                                que la exhibici&oacute;n del producto en su monitor sea exactamente igual al producto
                                real.</p>
                            <p>9. DESCARGO<br />
                                El Sitio no se hace responsable por da&ntilde;os que su uso le pudiera ocasionar a los
                                equipos a trav&eacute;s de los cuales se accedi&oacute;.</p>
                            <p>10. DESCARGO POR ERRORES<br />
                                Puede ocurrir que la presente p&aacute;gina contenga errores tipogr&aacute;ficos,
                                inexactitudes u omisiones que puedan relacionarse con las descripciones del producto, su
                                valor y disponibilidad. Nos reservamos los derechos de corregirlos o actualizar la
                                informaci&oacute;n en cualquier momento sin previo aviso. Asimismo nos disculpamos por
                                cualquier inconveniente que esto pueda causar. Si usted no estuviera satisfecho
                                totalmente con su compra por favor h&aacute;ganoslo saber y trataremos su caso
                                individualmente de manera de encontrar una soluci&oacute;n al problema.</p>
                            <p>11. MISCEL&Aacute;NEOS<br />
                                Salvo especificaci&oacute;n, los productos ofrecidos en El Sitio se encuentran
                                disponibles para la venta en la Republica Argentina. Este sitio es controlado por RIP
                                CURL desde sus oficinas en Buenos Aires, Argentina. Estos t&eacute;rminos ser&aacute;n
                                interpretados de acuerdo con las leyes de la Republica Argentina, sin
                                consideraci&oacute;n alguna hacia cualquier conflicto de las provisiones de la ley.
                                Cualquier disputa que se presente se regir&aacute; por los t&eacute;rminos de este
                                acuerdo y ser&aacute;n resueltos exclusivamente por las leyes vigentes nacionales a este
                                efecto.</p>
                            <p>12. POLITICA DE CAMBIOS<br />
                                El usuario podr&aacute; efectuar el cambio de su pedido si as&iacute; lo desea. Se
                                recibir&aacute;n cambios dentro de los 30 d&iacute;as posteriores a la compra. Para
                                proceder al cambio es necesario que el producto no tenga uso y se encuentre en perfectas
                                condiciones, con sus respectivas etiquetas, accesorios o componentes y su embalaje
                                original. El usuario debe conservar la factura/ticket y/o remito de entrega. No se
                                aceptan cambios de ropa interior ni de productos adquiridos en otro pa&iacute;s, o
                                comprados por otros medios distintos a El Sitio. RIP CURL no realizar&aacute; reembolso
                                de productos, el usuario puede efectuar un cambio por el mismo producto o bien elegir
                                otro diferente que sea de su agrado.</p>
                            <p>12.1 PROCEDIMIENTO<br />
                                Para solicitar un cambio, el usuario deber&aacute; enviar un correo electr&oacute;nico
                                a&nbsp;<a
                                    style="font-family: Arial, Helvetica, sans-serif;">ventaonline@cristobalcolon.com</a>&nbsp;describiendo
                                la raz&oacute;n por la cual requiere el cambio del producto. Adem&aacute;s se solicita
                                mencionar el email con el cual se encuentra registrado en RIP CURL Shop y el
                                c&oacute;digo del art&iacute;culo adquirido. La solicitud ser&aacute; respondida a la
                                brevedad donde se indicar&aacute;n los pasos a seguir. Pasos a contemplar para el cambio
                                de un producto:&nbsp;</p>
                            <p>- El usuario podr&aacute; efectuar el cambio en las sucursales de RIP CURL. deber&aacute;
                                presentar la factura de compra en la l&iacute;nea de cajas junto con el producto en
                                perfectas condiciones como se detall&oacute; anteriormente.</p>
                            <p>- Env&iacute;o por correo OCA: el usuario deber&aacute; embalar correctamente el producto
                                y enviarlo a las oficinas de RIP CURL. Deber&aacute; incluir toda la
                                documentaci&oacute;n que recibi&oacute; (factura/remito). El costo de env&iacute;o
                                quedar&aacute; a cargo del usuario.<br />
                                <br />
                                El costo de env&iacute;o ser&aacute; asumido por El Sitio cuando el cambio se produzca
                                debido a:</p>
                            <p>a) El producto no corresponde al detalle de la factura.<br />
                                b) El producto no fue el solicitado en la orden de compra por el usuario.<br />
                                c) El producto entregado presenta fallas. En todos aquellos casos en que el usuario
                                desee cambiar el pedido por otros motivos, El usuario deber&aacute; abonar los cargos de
                                env&iacute;o nuevamente.&nbsp;<br />
                                <br />
                                Los cambios podr&aacute;n efectuarse por el mismo producto; o bien por otro de
                                diferentes caracter&iacute;sticas y diferente precio abonando la diferencia. Si el
                                usuario lo desea puede efectuarlo en los locales RIP CURL habilitados (consultar
                                en&nbsp;<a
                                    style="font-family: Arial, Helvetica, sans-serif;">ventaonline@cristobalcolon.com</a>)
                            </p>
                            <p>13. POLITICAS DE ENVIO<br />
                                Todos los pedidos &nbsp;ser&aacute;n despachados el d&iacute;a siguiente de haberse
                                acreditado el pago. Los pagos acreditados un d&iacute;a Viernes o durante el fin de
                                semana o d&iacute;as feriados se efectuar&aacute;n el primer d&iacute;a h&aacute;bil de
                                la semana siguiente.<br />
                                La entrega estar&aacute; sujeta a disponibilidad de stock al momento del pedido. En caso
                                de no estar disponible, El usuario ser&aacute; informado de inmediato,
                                ofreci&eacute;ndole opciones de reemplazo o cancelaci&oacute;n.</p>
                            <p>14. CULMINACI&Oacute;N<br />
                                Este acuerdo es efectivo hasta que usted o el sitio lo den por terminado. El Usuario
                                puede terminar el acuerdo en cualquier momento y lo puede hacer inmediatamente sin
                                previo aviso y por consiguiente no ingresar en el futuro. Sobre cualquier
                                culminaci&oacute;n de este acuerdo El Usuario debe destruir todos los materiales
                                descargados u obtenidos de otra manera de este sitio.</p>
                            <p>&nbsp;</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Fin Columna Right -->
    <%- include('./partials/footer') %>
</body>

</html>