<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>8Technology / Cómo realizar tu pedido</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/59c9619fb3.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/application.min.css">
    <link type="text/css" rel="stylesheet" href="/css/normalize.css">
    <link type="text/css" rel="stylesheet" href="/css/header.css">
    <link type="text/css" rel="stylesheet" href="/css/productos.css">
    <link type="text/css" rel="stylesheet" href="/css/footer.css">
    <link type="text/css" rel="stylesheet" href="/css/home.css">
    <link rel="stylesheet" href="/css/contacto.css">
</head>
<body>
    <header>
        <%- include('./partials/header-eng') %>
    </header>
    <div id="mainHome">
    
    	<!---- Inicio Team Escuelas  ---->
        <div id="team-escuelas">
        <div class="file">
                            
			<div class="bigrow">
				<div style="margin:20px;">        
					<h3 style="color:#666666;">How to place your order</h3>
					<div class="separador-productos"></div>
					<br />
					<div><p><strong>1. REGISTER<br />
<br />
</strong>  It is very easy and safe..<br />
We recommend you to be registered on our site to get all the necessary information and product details.<br />
<br />
<strong>2. SEARCH FOR YOUR PRODUCT<br />
<br />
</strong>By selecting a product (clicking on its photo or image title) you can get more information and select colour or quantity. Then clicking the button "add to cart" the product will be added to the shopping cart. <br />
<br />
<strong>3. PAYMENT AND SHIPPING<br />
<br />
</strong>All payments are made through the Dineromail or Mercadopago platforms.<br />
<br />
If you choose to pay by credit card (*) VISA, MasterCard, Argencard, American Express, Tarjeta Naranja, Cabal, Tarjeta Shopping or Italcred; Dineromail or Mercadopago will request the necessary information and may send you a confirmation so that you can validate it for security reasons.<br />
<br />
For payments made through RapiPago, Pago Facil or Bapro (**), Dineromail or Mercadopago will request basic data in order to issue the corresponding receipt so that you can print it and pay at any authorised payment centre.<br />
<br />
If your payment is by bank transfer, Dineromail or Mercadopago will provide you with the necessary information to make it.<br />
<br />
Payments through Dineromail or Mercadopago (***), the system will ask you to enter your username and password.<br />
<br />
<strong>4. YOU RECEIVE YOUR ORDER<br />
<br />
</strong>You are already enjoying the convenience of receiving the best 8Technology products at home!<br />
<br />
<br />
<br />
<em>* By paying with the enabled credit cards your order will be reserved for a period of 24 hours and we will be waiting for the confirmation of the transaction by Dineromail.<br />
<br />
** If you pay by RapiPago, Pago Fácil or Bapro, the order will be reserved for a period of 24/48 hours. After that time, the reservation will expire and your order will be cancelled. The sooner you make the payment, the sooner you can receive it at home!<br />
<br />
*** Payment is credited immediately and your order will be dispatched within 24 hours.<br />
<br />
In all cases 8Technology&nbsp;SHOP will keep you informed about the status of your order. The crediting time of the payment will depend on the method you select.</em></p></div>
				</div>
			</div>    
		</div>    
		</div>    
    </div>
    <!-- Fin Columna Right --> 
    <%- include('./partials/footer') %>
</body>
</html>