<div id="footer">
    <div id="nav-footer">
        <!-- Inicio de columna -->
        <section class="column">
            <article class="content">
                <h4>8technology | Contacto</h4>
                <p>Envianos tu mensaje o consulta por medio de nuestro formulario de contacto.</p>
                <a href="" class="button-footer">CONTACTANOS</a>                
            </article>
        </section>
        <!-- Fin de columna -->
        <!-- Inicio de columna -->
        <section class="column">
            <article class="content">
                    <h4>8technology | STAFF</h4>
                    <p>Si estás interesado en formar parte de nuestro Staff envianos tus datos y CV</p>
                    <a href="" target="_blank" class="button-footer">ENVIAR</a>
            </article>
        </section>
        <!-- Fin de la columna -->  
    </div>
    <section id="nav-footer2">
        <article class="content">
            <h4>Necesitás Ayuda</h4>
            <a href="">Cómo realizar tu pedido</a>
            <a href="">Términos y condiciones</a>
            <a href="">Pagos y envíos</a>
            <a href="">Preguntas frecuentes</a>
        </article>
    </section>
</div>