<div id="footer">
    <div id="nav-footer">
        <!-- Inicio de columna -->
        <section class="column">
            <article class="content">
                <h4>8technology | Contact</h4>
                <p>Send us your message or question through our contact form.</p>
                <a href="" class="button-footer">CONTACT US</a>                
            </article>
        </section>
        <!-- Fin de columna -->
        <!-- Inicio de columna -->
        <section class="column">
            <article class="content">
                    <h4>8technology | STAFF</h4>
                    <p>If you are interested in being part of our Staff send us your data and CV.</p>
                    <a href="" target="_blank" class="button-footer">SEND</a>
            </article>
        </section>
        <!-- Fin de la columna -->  
    </div>
    <section id="nav-footer2">
        <article class="content">
            <h4>Need Help</h4>
            <a href="">How to place your order</a>
            <a href="">Terms and Conditions</a>
            <a href="">Payment and shipping</a>
            <a href="">Frequently Asked Questions</a>
        </article>
    </section>
</div>