<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>8Technology</title>
    <link rel="stylesheet" href="/css/footer.css">
</head>

<footer>  
    <div id="footer">
        <div id="nav-footer">
            <!-- Inicio Columna -->
            <div class="colum">
                <div class="content">
                    <h4>8Technology | Contact</h4>
                    <p>Send us your message or question through our contact form.</p>
                    <a href="/contacto" class="button-footer">CONTACT US</a>
                </div>
            </div>
            <!-- Fin Columna -->

            <!-- Inicio Columna -->
            <div class="colum">
                <div class="content">
                    <div class="left">
                        <h4>8Technology | Stores</h4>
                        <p>Find the 8Technology location nearest you.</p>
                        <a href="/stores" class="button-footer">SEARCH</a>
                    </div>
                </div>
            </div>
            <!-- Fin Columna -->

            <!-- Inicio Columna -->
            <div class="colum">
                <div class="content">
                    <h4>8Technology | Corporate</h4>
                    <p>We offer the most varied and original alternative of business products.</p>
                    <a href="/corporativo" class="button-footer">SEE MORE</a>
                </div>
            </div>
            <!-- Fin Columna -->

            <!-- Inicio Columna -->
            <div class="colum">
                <div class="content">
                    <h4>8Technology | STAFF</h4>
                    <p>If you are interested in joining our Staff send us your data and CV.</p>
                    <a href="/staff" target="_blank" class="button-footer">SEND</a>
                </div>
            </div>
            <!-- Fin Columna -->
        </div>


        <div id="nav-footer2">
            <div class="content">

                <h4>Need Help</h4>
                <a href="/como-realizar-tu-pedido">How to place your order</a>
                <a href="/terminosYCondiciones">Terms and Conditions</a>
                <a href="/pagosYEnvios">Payment and shipping</a>
                <a href="/preguntasFrecuentes">Frequently Asked Questions</a>

            </div>
        </div>

    </div>
</footer>

</html>