<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/footer.css">
</head>

<body>  
    <div id="footer">
        <div id="nav-footer">
            <!-- Inicio Columna -->
            <div class="colum">
                <div class="content">
                    <h4>8Technology | Contacto</h4>
                    <p>Envianos tu mensaje o consulta por medio de nuestro formulario de contacto.</p>
                    <a href="../contacto" class="button-footer">CONTACTANOS</a>
                </div>
            </div>
            <!-- Fin Columna -->

            <!-- Inicio Columna -->
            <div class="colum">
                <div class="content">
                    <div class="left">
                        <h4>8Technology | Stores</h4>
                        <p>Encontrá el local Rip Curl más cercano a tu casa.</p>
                        <a href="/stores" class="button-footer">BUSCAR</a>
                    </div>
                </div>
            </div>
            <!-- Fin Columna -->

            <!-- Inicio Columna -->
            <div class="colum">
                <div class="content">
                    <h4>8Technology | Corporativo</h4>
                    <p>Ofrecemos las más variada y original alternativa de productos empresariales.</p>
                    <a href="https://www.ripcurlargentina.com/corporativo.html" class="button-footer">VER MAS</a>
                </div>
            </div>
            <!-- Fin Columna -->

            <!-- Inicio Columna -->
            <div class="colum">
                <div class="content">
                    <h4>8Technology | STAFF</h4>
                    <p>Si estás interesado en formar parte de nuestro Staff envianos tus datos y CV.</p>
                    <a href="https://rrhh.cristobalcolon.com/" target="_blank" class="button-footer">ENVIAR</a>
                </div>
            </div>
            <!-- Fin Columna -->
        </div>


        <div id="nav-footer2">
            <div class="content">

                <h4>Necesitás Ayuda</h4>
                <a href="https://www.ripcurlargentina.com/como_realizar_tu_pedido.html">Cómo realizar tu pedido</a>
                <a href="https://www.ripcurlargentina.com/terminos_y_condiciones.html">Términos y condiciones</a>
                <a href="https://www.ripcurlargentina.com/pagos_y_envios.html">Pagos y envíos</a>
                <a href="https://www.ripcurlargentina.com/preguntas_frecuentes.html">Preguntas frecuentes</a>

            </div>
        </div>

    </div>
</body>

</html>