<header>
    <div>
        <div class="logo">
            <img class= "logo-imagen" src="/images/logo_products.png" alt="logo">
            <div class="banderas-inicio">
                <a href="/productos"><img src="/images/spain.png" alt="ESP"></a>
                <a href="/products"><img src="/images/uk.png" alt="EN"></a>
            </div>
        </div>
        <nav>
            <ul class="inicio">
                <li>
                    <div class="dropdown tooltip">
                        <span class="tooltiptext">Home</span>
                        <button class="dropbtn">
                            <a href="#"><i class="fa-solid fa-house"></i></a></button>
                    </div>
                </li>
                <li>
                    <div class="dropdown tooltip">
                        <span class="tooltiptext">Sign up</span>
                        <button class="dropbtn">
                            <a href="#"><i class="fa-solid fa-pen-clip"></i></a></button>
                        <div class="dropdown-content">
                            <div class="login">
                                <form id="loginSignupSpn" method="get" action="signup.php">
                                    <label><b>Correo electrónico</b>
                                    </label>
                                    <input type="text" name="emailSignupSpn" id="emailSignupSpn" placeholder="Correo electrónico">
                                    <br><br>
                                    <label><b>Usuario</b>
                                    </label>
                                    <input type="text" name="unameSignupSpn" id="unameSignupSpn" placeholder="Usuario">
                                    <br><br>
                                    <label><b>Contraseña</b>
                                    </label>
                                    <input type="password" name="passSignupSpn" id="passSignupSpn" placeholder="Contraseña">
                                    <br><br>
                                    <input type="button" name="logSignupSpn" id="logSignupSpn" value="Ingrese aquí">
                                    <br><br>
                                    <input type="checkbox" id="checkSignupSpn">
                                    <span>Recordarme</span>
                                    <br><br>
                                    <a href="#">¿Olvidó su contraseña?</a>
                                </form>
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="dropdown tooltip">
                        <span class="tooltiptext">Log in</span>
                        <button class="dropbtn">
                            <a href="#"><i class="fa-solid fa-laptop"></i></a></button>
                        <div class="dropdown-content">
                            <div class="login">
                                <form id="login" method="get" action="login.php">
                                    <label><b>Usuario</b>
                                    </label>
                                    <input type="text" name="unameLoginSpn" id="unameLoginSpn" placeholder="Usuario">
                                    <br><br>
                                    <label><b>Contraseña</b>
                                    </label>
                                    <input type="password" name="passLoginSpn" id="passLoginSpn" placeholder="Contraseña">
                                    <br><br>
                                    <input type="button" name="logLoginSpn" id="logLoginSpn" value="Ingrese aquí">
                                    <br><br>
                                    <input type="checkbox" id="checkLoginSpn">
                                    <span>Recordarme</span>
                                    <br><br>
                                    <a href="#">¿Olvidó su contraseña?</a>
                                </form>
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="dropdown tooltip">
                        <span class="tooltiptext">Carrito</span>
                        <button class="dropbtn">
                            <a href="#"><i class="fa-solid fa-truck"></i></a></button>
                    </div>
                </li>
            </ul>
            <form class="barra">
                <input type="search" name="barra-busqueda" placeholder="Busca tu favorito">
                <button><i class="fa-solid fa-magnifying-glass"></i></button>
            </form>
        </nav>
        <div class="banderas">
            <a href="/productos"><img src="/images/spain.png" alt="ESP"></a>
            <a href="/products"><img src="/images/uk.png" alt="EN"></a>
        </div>
        <ul class="menu">
            <li>
                <a class="icono" href="#">
                    <i class="fa-solid fa-bars"></i>
                </a>

                <ul class="desplegable">
                    <li><a href="">Informacion</a></li>
                    <li><a href="">Redes Sociales</a></li>

                </ul>
            </li>
        </ul>
    </div>
</header>