<header>
    <div>
        <div>
            <div class="logo">
                <img src="/images/logo.png" alt="logo">
            </div>
            <div class="banderas">
                <a href="/productos"><img src="/images/spain.png" alt="ESP"></a>
                <a href="/products"><img src="/images/uk.png" alt="EN"></a>
            </div>
        </div>
        <nav>
            <ul class="inicio">
                <li>
                    <a class="titulo" href="#">Home</a>
                    <a href="#"><i class="fa-solid fa-house"></i></a>
                </li>
                <li>
                    <a class="titulo" href="#">Sign up</a>
                    <a href="#"><i class="fa-solid fa-pen-clip"></i></a>
                </li>
                <li>
                    <a class="titulo" href="#">Log in</a>
                    <a href="#"><i class="fa-solid fa-laptop"></i></a>
                </li>
                <li class="carrito">
                    <a class="titulo" href="#">Cart</a>
                    <a href="#"><i class="fa-solid fa-truck"></i></a>
                </li>
            </ul>
            <form class="barra">
                <input type="search" name="barra-busqueda" placeholder="Search for your favorite">
                <button><i class="fa-solid fa-magnifying-glass"></i></button>
            </form>
        </nav>
        <ul class="menu">
            <li>
                <a class="icono" href="#">
                    <i class="fa-solid fa-bars"></i>
                </a>

                <ul class="desplegable">
                    <li><a href="">Types</a></li>
                    <li><a href="">Brands</a></li>

                </ul>
            </li>
        </ul>
    </div>
</header>