<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/home.css">
</head>



<body class="">

    <!-- Inicio Main
   ================================================== -->
    <div id="mainHome">

        <!-- Inicio Slides -->
        <div id="bannershome" class="flexslider">
            <ul class="slides">
                <li><a href='../product' target='_self'><img
                            src='/images/slide1.jpg'></a>
                </li>
                <li><a href='../product' target='_self'><img
                            src='/images/slide2.jpg'></a>
                </li>
                <li><a href='../product' target='_self'><img
                            src='/images/slide3.webp'></a>
                </li>
                <li><a href='../product' target='_self'><img
                            src='/images/slide4.webp'></a>
                </li>
                <li><a href='../product' target='_self'><img
                            src='/images/slide5.jpg'></a>
                </li>
            </ul>
        </div>
        <!-- Fin Slides -->

        <!-- Inicio Home Destacados -->
        <div id="home-destacados">
            <div class="content">
                <!-- Inicio Columna -->
                <div class="columna-small">
                    <a href="RUTA A CELULARES" target="_self">
                        <div class="columna-content">
                            <div class="pic"
                                style="background-image:url(https://www.eltiempo.com/files/article_main/uploads/2017/03/18/58cdc63522694.jpeg)">
                                <img src="/images/marcowide.png">
                            </div>
                            <div class="info">
                                <h4 class="bold">Cellulars</h4>
                                <p>Visit our cellulars line.</p>
                                <h5 class="white">View more</h5>
                            </div>
                        </div>
                    </a>
                </div>
                <!-- Fin Columna -->
                <!-- Inicio Columna -->
                <div class="columna-small">
                    <a href="RUTA DE TABLETS" target="_self">
                        <div class="columna-content">
                            <div class="pic"
                                style="background-image:url(https://s1.eestatic.com/2022/02/03/elandroidelibre/moviles-android/analisis/647445677_221583951_1706x960.jpg)">
                                <img src="images/marcowide.png">
                            </div>
                            <div class="info">
                                <h4 class="bold">Tablets</h4>
                                <p>Visit our tablets line.</p>
                                <h5 class="white">View more</h5>
                            </div>
                        </div>
                    </a>
                </div>
                <!-- Fin Columna -->
                <!-- Inicio Columna -->
                <div class="columna-small">
                    <a href="RUTA DE NOTEBOOKS" target="_self">
                        <div class="columna-content">
                            <div class="pic"
                                style="background-image:url(https://img.freepik.com/foto-gratis/mujer-negocios-que-trabajan-computadora-portatil_1388-67.jpg?w=2000)">
                                <img src="images/marcowide.png">
                            </div>
                            <div class="info">
                                <h4 class="bold">Notebooks</h4>
                                <p>Visit our notebooks line.</p>
                                <h5 class="white">View more</h5>
                            </div>
                        </div>
                    </a>
                </div>
                <!-- Fin Columna -->
                <!-- Inicio Columna -->
                <div class="columna-small">
                    <a href="RUTA DE ACCESORIOS" target="_self">
                        <div class="columna-content">
                            <div class="pic"
                                style="background-image:url(https://i.ytimg.com/vi/iQlqELeCL24/maxresdefault.jpg)">
                                <img src="images/marcowide.png">
                            </div>
                            <div class="info">
                                <h4 class="bold">Accesories</h4>
                                <p>Visit our accessories line.</p>
                                <h5 class="white">View more</h5>
                            </div>
                        </div>
                    </a>
                </div>
                <!-- Fin Columna -->

            </div>
        </div>
        <!-- Fin Home Destacados -->
        <!-- Inicio Home Productos -->
        <div id="home-productos">
            <div class="content">

                <div class="line-tit">
                    <h4 class="bold">FEATURED PRODUCTS</h4>
                </div>

                <!-- Inicio Slide productos -->
                <div id="owl-demo" class="owl-carousel">
                    <!--  INICIO DEL PRODUCTO 1 -->

                    <div class="owl-item" style="width: 277px;">
                        <div class="item">
                            <div class="view view-first">
                                <img src="images/marco-prod-list.png" class="scale-with-grid">
                                <img src="https://images.start.com.ar/A315-34-C7RP-AR-3.jpg"
                                    class="scale-with-grid" style="position: absolute; top: 40px;">
                                <div class="mask">
                                    <div class="contenidoproducto">
                                        <a href="RUTA HACIA DETALLE DEL PRODUCTO" class="zoomproducto"></a>
                                    </div>
                                </div>
                            </div>

                            <div class="cleaner"></div>


                            <!-- Inicio Iconos Producto -->

                            <div class="iconos-producto">
                                <div class="comprar-producto">
                                    <a href="RUTA CARRITO">
                                        <button type="submit" class="comprar"> buy </button>
                                    </a>
                                </div> 
                            </div>

                            <!-- Fin Iconos Producto -->
                            <div class="productos-titulolist">
                                <a href="RUTA DETALLE DEL PRODUCTO" class="productos-titulolist">
                                    Acer<br>Aspire 3
                                </a>
                            </div>
                            <div class="productos-marcalist">
                                <span>- </span>Notebooks<span> -</span>
                            </div>
                            <div class="productos-preciolist">
                                <span style="color:#333; font-size:15px; font-weight: 400;">$
                                    $436.630-</span>
                                <a href="RUTA DETALLE DEL PRODUCTO"
                                    class="button-comprar" style="float:right;">COMPRAR</a>
                                <!--<a href="#" class="button-comprar" style="float:right;">COMPRAR </a>-->
                            </div>
                        </div>
                    </div>

                    <!--  FIN DEL PRODUCTO 1 -->
                    <!--  INICIO DEL PRODUCTO 2 -->

                    <div class="owl-item" style="width: 277px;">
                        <div class="item">
                            <div class="view view-first">
                                <img src="images/marco-prod-list.png" class="scale-with-grid">
                                <img src="https://p.turbosquid.com/ts-thumb/9R/1CXzMq/bu/applemacbookpro14inchsilvermb3dmodel001/jpg/1644572892/600x600/fit_q87/63a65ee357a4255f72c4aa422fd0baa9d7fac246/applemacbookpro14inchsilvermb3dmodel001.jpg" class="scale-with-grid" style="position: absolute; top: 100px;">
                                <div class="mask">
                                    <div class="contenidoproducto">
                                        <a href="RUTA DEL DETALLE DEL PRODUCTO"
                                            class="zoomproducto"></a>
                                    </div>
                                </div>
                            </div>
                            <div class="cleaner"></div>

                            <!-- Inicio Iconos Producto -->
                            <div class="iconos-producto">
                                <div class="comprar-producto">
                                    <a href="RUTA CARRITO">
                                        <button type="submit" class="comprar"> buy </button>
                                    </a>
                                </div> 
                            </div>
                            <!-- Fin Iconos Producto -->

                            <div class="productos-titulolist">
                                <a href="RUTA DETALLE DEL PRODUCTO"
                                    class="productos-titulolist">
                                    Apple<br>MacBook pro
                                </a>
                            </div>
                            <div class="productos-marcalist">
                                <span>- </span>Notebooks<span> -</span>
                            </div>
                            <div class="productos-preciolist">
                                <span style="color:#333; font-size:15px; font-weight: 400;">$
                                    $373.052-</span>
                                <a href="RUTA DETALLE DEL PRODUCTO"
                                    class="button-comprar" style="float:right;">COMPRAR</a>
                                <!--<a href="#" class="button-comprar" style="float:right;">COMPRAR</a>-->
                            </div>
                        </div>
                    </div>

                    <!--  FIN DEL PRODUCTO 2 -->
                    <!--  INICIO DEL PRODUCTO 3 -->

                    <div class="owl-item" style="width: 277px;">
                        <div class="item">
                            <div class="view view-first">
                                <img src="images/marco-prod-list.png" class="scale-with-grid">
                                <img src="https://www.macstation.com.ar/img/productos/small/2146-11111.jpg" class="scale-with-grid" style="position: absolute; top: 30px; bottom: 30px;">
                                <div class="mask">
                                    <div class="contenidoproducto">
                                        <a href="RUTA DEL DETALLE DEL PRODUCTO"
                                            class="zoomproducto"></a>
                                    </div>
                                </div>
                            </div>
                            <div class="cleaner"></div>

                            <!-- Inicio Iconos Producto -->
                            <div class="iconos-producto">
                                <div class="comprar-producto">
                                    <a href="RUTA CARRITO">
                                        <button type="submit" class="comprar"> buy </button>
                                    </a>
                                </div> 
                            </div>
                            <!-- Fin Iconos Producto -->

                            <div class="productos-titulolist">
                                <a href="RUTA DETALLE DEL PRODUCTO"
                                    class="productos-titulolist">
                                    APPLE<br>iPhone 12 mini
                                </a>
                            </div>
                            <div class="productos-marcalist">
                                <span>- </span>Cellulars<span> -</span>
                            </div>
                            <div class="productos-preciolist">
                                <span style="color:#333; font-size:15px; font-weight: 400;">
                                    $453.143-</span>
                                <a href="RUTA DETALLE DEL PRODUCTO"
                                    class="button-comprar" style="float:right;">COMPRAR</a>
                                <!--<a href="#" class="button-comprar" style="float:right;">COMPRAR</a>-->
                            </div>
                        </div>
                    </div>

                    <!--  FIN DEL PRODUCTO 3 -->
                    <!--  INICIO DEL PRODUCTO 4 -->

                    <div class="owl-item" style="width: 277px;">
                        <div class="item">
                            <div class="view view-first">
                                <img src="images/marco-prod-list.png" class="scale-with-grid">
                                <img src="https://vincci.com.co/wp-content/uploads/2020/10/iPhone-12-pro-128-Gb-Gris-Grafito_1.png"
                                    class="scale-with-grid" style="position: absolute; top: 30px;bottom: 30px;">
                                <div class="mask">
                                    <div class="contenidoproducto">
                                        <a href="RUTA DEL DETALLE DEL PRODUCTO"
                                            class="zoomproducto"></a>
                                    </div>
                                </div>
                            </div>
                            <div class="cleaner"></div>

                            <!-- Inicio Iconos Producto -->
                            <div class="iconos-producto">
                                <div class="comprar-producto">
                                    <a href="RUTA CARRITO">
                                        <button type="submit" class="comprar"> buy </button>
                                    </a>
                                </div> 
                            </div>
                            <!-- Fin Iconos Producto -->

                            <div class="productos-titulolist">
                                <a href="RUTA DETALLE DEL PRODUCTO"
                                    class="productos-titulolist">
                                    Apple<br>iPhone 12 pro"
                                </a>
                            </div>
                            <div class="productos-marcalist">
                                <span>- </span>Cellulars<span> -</span>
                            </div>
                            <div class="productos-preciolist">
                                <span style="color:#333; font-size:15px; font-weight: 400;">
                                    $220.333-</span>
                                <a href="RUTA DETALLE DEL PRODUCTO"
                                    class="button-comprar" style="float:right;">COMPRAR</a>
                                <!--<a href="#" class="button-comprar" style="float:right;">COMPRAR</a>-->
                            </div>
                        </div>
                    </div>

                    <!--  FIN DEL PRODUCTO 4 -->
                    <!--  INICIO DEL PRODUCTO 5 -->

                    <div class="owl-item" style="width: 277px;">
                        <div class="item">
                            <div class="view view-first">
                                <img src="images/marco-prod-list.png" class="scale-with-grid">
                                <img src="https://images.samsung.com/is/image/samsung/ar-galaxy-note20-ultra-n985-sm-n985fznmaro-frontmysticbronze-thumb-295548370"
                                    class="scale-with-grid" style="position: absolute; top: 30px; bottom: 30px;">
                                <div class="mask">
                                    <div class="contenidoproducto">
                                        <a href="RUTA DETALLE DEL PRODUCTO"
                                            class="zoomproducto"></a>
                                    </div>
                                </div>
                            </div>
                            <div class="cleaner"></div>
                            <!-- Inicio Iconos Producto -->
                            <div class="iconos-producto">
                                <div class="comprar-producto">
                                    <a href="RUTA CARRITO">
                                        <button type="submit" class="comprar"> buy </button>
                                    </a>
                                </div> 
                            </div>
                            <!-- Fin Iconos Producto -->
                            <div class="productos-titulolist">
                                <a href="RUTA DETALLE DEL PRODUCTO"
                                    class="productos-titulolist">
                                    Samsung<br/>Galaxy Note20 5G
                                    </a>
                            </div>
                            <div class="productos-marcalist">
                                <span>- </span>Cellulars<span> -</span>
                            </div>
                            <div class="productos-preciolist">
                                <span style="color:#333; font-size:15px; font-weight: 400;">$418.944.-</span>
                                <a href="RUTA DETALLE DEL PRODUCTO"
                                    class="button-comprar" style="float:right;">COMPRAR</a>
                                <!--<a href="#" class="button-comprar" style="float:right;">
								COMPRAR
								</a>-->
                            </div>
                        </div>
                    </div>

                    <!--  FIN DEL PRODUCTO 5 -->
                    <!--  INICIO DEL PRODUCTO 6 -->

                    <div class="owl-item" style="width: 277px;">
                        <div class="item">
                            <div class="view view-first">
                                <img src="images/marco-prod-list.png" class="scale-with-grid">
                                <img src="https://www.apple.com/newsroom/images/product/watch/standard/Apple_watch-series-6-stainless-steel-gray-case-orange-band_09152020_inline.jpg.large.jpg"
                                    class="scale-with-grid" style="position: absolute; top: 30px;">
                                <div class="mask">
                                    <div class="contenidoproducto">
                                        <a href="RUTA DETALLE DEL PRODUCTO"
                                            class="zoomproducto"></a>
                                    </div>
                                </div>
                            </div>
                            <div class="cleaner"></div>
                            <!-- Inicio Iconos Producto -->
                            <div class="iconos-producto">
                                <div class="comprar-producto">
                                    <a href="RUTA CARRITO">
                                        <button type="submit" class="comprar"> buy </button>
                                    </a>
                                </div> 
                            </div>
                            <!-- Fin Iconos Producto -->

                            <div class="productos-titulolist">
                                <a href="RUTA DETALLE DEL PRODUCTO"
                                    class="productos-titulolist">
                                    Apple<br />
                                    Watch Serie 6 steel</a>
                            </div>
                            <div class="productos-marcalist">
                                <span>- </span>Accesories<span> -</span>
                            </div>
                            <div class="productos-preciolist">
                                <span style="color:#333; font-size:15px; font-weight: 400;">$413.933.-</span>
                                <a href="RUTA DETALLE DEL PRODUCTO"
                                    class="button-comprar" style="float:right;">COMPRAR</a>
                                <!--<a href="#" class="button-comprar" style="float:right;">
								COMPRAR
								</a>-->
                            </div>
                        </div>
                    </div>

                    <!--  FIN DEL PRODUCTO 6 -->
                    <!--  INICIO DEL PRODUCTO 7 -->

                    <div class="owl-item" style="width: 277px;">
                        <div class="item">
                            <div class="view view-first">
                                <img src="images/marco-prod-list.png" class="scale-with-grid">
                                <img src="http://d3ugyf2ht6aenh.cloudfront.net/stores/001/844/364/products/a-blanco1-32f1c6c80d49bf379916360578182017-640-0.jpg"
                                    class="scale-with-grid" style="position: absolute; top: 30px;">
                                <div class="mask">
                                    <div class="contenidoproducto">
                                        <a href="RUTA DETALLE DEL PRODUCTO"
                                            class="zoomproducto"></a>
                                    </div>
                                </div>
                            </div>
                            <div class="cleaner"></div>
                            <!-- Inicio Iconos Producto -->
                            <div class="iconos-producto">
                                <div class="comprar-producto">
                                    <a href="RUTA CARRITO">
                                        <button type="submit" class="comprar"> buy </button>
                                    </a>
                                </div> 
                            </div>
                            <!-- Fin Iconos Producto -->

                            <div class="productos-titulolist">
                                <a href="RUTA DETALLE DEL PRODUCTO"
                                    class="productos-titulolist">
                                    Apple<br />
                                   Watch Series 5 Aluminum </a>
                            </div>
                            <div class="productos-marcalist">
                                <span>- </span>Accessories<span> -</span>
                            </div>
                            <div class="productos-preciolist">
                                <span style="color:#333; font-size:15px; font-weight: 400;">$360.017.-</span>
                                <a href="RUTA DETALLE DEL PRODUCTO"
                                    class="button-comprar" style="float:right;">COMPRAR</a>
                                <!--<a href="#" class="button-comprar" style="float:right;">
								COMPRAR
								</a>-->
                            </div>
                        </div>
                    </div>

                    <!--  FIN DEL PRODUCTO 7 -->
                    <!--  INICIO DEL PRODUCTO 8 --> 

                    <div class="owl-item" style="width: 277px;">
                        <div class="item">
                            <div class="view view-first">
                                <img src="images/marco-prod-list.png" class="scale-with-grid">
                                <img src="https://store.storeimages.cdn-apple.com/4982/as-images.apple.com/is/MN203ref_VW_34FR+watch-45-titanium-dark-cell-edition7s_VW_34FR_WF_CO_GEO_MX?wid=750&hei=712&trim=1%2C0&fmt=p-jpg&qlt=95&.v=1645128542854%2C1632332821000"
                                    class="scale-with-grid" style="position: absolute; top: 38px;">
                                <div class="mask">
                                    <div class="contenidoproducto">
                                        <a href="RUTA DETALLE DEL PRODUCTO"
                                            class="zoomproducto"></a>
                                    </div>
                                </div>
                            </div>

                            <div class="cleaner"></div>

                            <!-- Inicio Iconos Producto -->
                            <div class="iconos-producto">
                                <div class="comprar-producto">
                                    <a href="RUTA CARRITO">
                                        <button type="submit" class="comprar"> buy </button>
                                    </a>
                                </div> 
                            </div>
                            <!-- Fin Iconos Producto -->

                            <div class="productos-titulolist">
                                <a href="RUTA DETALLE DEL PRODUCTO"
                                    class="productos-titulolist">
                                    Apple<br />
                                    Watch Series 6 Aluminum</a>
                            </div>
                            <div class="productos-marcalist">
                                <span>- </span>Accessories<span> -</span>
                            </div>
                            <div class="productos-preciolist">
                                <span style="color:#333; font-size:15px; font-weight: 400;">$385.667.-</span>
                                <a href="RUTA DETALLE DEL PRODUCTO"
                                    class="button-comprar" style="float:right;">COMPRAR</a>
                                <!--<a href="#" class="button-comprar" style="float:right;">
								COMPRAR
								</a>-->
                            </div>
                        </div>
                    </div>

                    <!--  FIN DEL PRODUCTO 8 -->

                </div>
                <!-- Fin Slide Productos -->

            </div>
        </div>
        <!-- Fin Home Productos -->
    </div>
    <!-- Fin Main -->

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>

    <!-- cloud-zoom -->
    <link href="/public/css/cloud-zoom.css" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="https://www.ripcurlargentina.com/js/cloud-zoom.1.0.2.min.js"></script>

    <script type="text/javascript" src="https://www.ripcurlargentina.com/js/AjaxLibrary.js"></script>

    <script>
        function popup(a, b, c, d) {
            window.open(a, b,
                "toolbar=no,location=no,directories=no,status=no,menubar=no,scrollbars=0,resizable=no,width=" + c +
                ",height=" + d + ",outerwidth=" + (0) + ",outerheight=" + (0));
        }

        function validatesearch() {
            console.log(event.keyCode);
            if (event.keyCode == 13 || event.keyCode == undefined) {

                if (document.getElementById('keyword').value == '' || document.getElementById('keyword').value ==
                    'Buscar Producto') {
                    alert('Ingrese una palabra.');
                    document.getElementById('keyword').focus();
                    return false;
                }

                keyword = document.getElementById('keyword').value.replace(/ /g, '_');
                keyword = document.getElementById('keyword').value.replace('á', 'a');
                keyword = document.getElementById('keyword').value.replace('é', 'e');
                keyword = document.getElementById('keyword').value.replace('í', 'i');
                keyword = document.getElementById('keyword').value.replace('ó', 'o');
                keyword = document.getElementById('keyword').value.replace('ú', 'u');
                keyword = document.getElementById('keyword').value.replace(' & ', '_and_');
                keyword = document.getElementById('keyword').value.replace(/\s/g, '_');
                document.searchform.action = "https://www.ripcurlargentina.com/resultados_de_busqueda/" + keyword
                    .toLowerCase() + ".html";

                document.searchform.submit();
            }
        }

        function clearfield(field) {

            if (document.getElementById(field).defaultValue == document.getElementById(field).value) {
                document.getElementById(field).value = "";
            } else if (document.getElementById(field).value == "") {
                document.getElementById(field).value = document.getElementById(field).defaultValue;
            }
        }

        function loadfield(field) {
            if (document.getElementById(field).value == "") {
                document.getElementById(field).value = document.getElementById(field).defaultValue;
            }
        }

        function addtowishlist(id_item, type) {
            if ('' == '') {
                alert("Para poder poder agregar productos a su lista de deseos debe esta registrado.");
                return false;
            }

            id_item = id_item;
            AjaxCall("https://www.ripcurlargentina.com/addtowishlist.php?id_item=" + id_item + "&id_user=&type=" + type,
                "whislist_" + id_item);
        }
    </script>


    <!-- Hover Efects
        ================================================== -->
    <link rel="stylesheet" type="text/css" href="/public/css/hover-effects.css" />


    <!-- FlexSlider
        ================================================== -->
    <link rel="stylesheet" href="/public/css/flexslider.css" type="text/css" media="screen" />
    <script defer src="https://www.ripcurlargentina.com/javascripts/jquery.flexslider.js"></script>

    <script type="text/javascript">
        //$(function(){
        //  SyntaxHighlighter.all();
        //});
        $(window).load(function () {
            $('#bannershome').flexslider({
                animation: "slide",
                slideshow: true,
                directionNav: true,
                start: function (slider) {
                    $('body').removeClass('loading');
                }
            });
        });
    </script>

    <!-- Owl Carousel Assets
        ================================================== -->
    <link href="/public/css/owl.carousel.css" rel="stylesheet">
    <link href="/public/css/owl.theme.css" rel="stylesheet">
    <!--<script src="https://www.ripcurlargentina.com/assets/js/jquery-1.9.1.min.js"></script> -->
    <script src="https://www.ripcurlargentina.com/owl-carousel/owl.carousel.min.js"></script>

    <style>
        #owl-demo .item {
            background: #ffffff;
            padding: 0;
            margin: 20px;
            text-align: center;
            -webkit-transition: box-shadow 0.3s ease-out;
            -o-transition: box-shadow 0.3s ease-out;
            transition: box-shadow 0.3s ease-out;
            -webkit-transition: all box-shadow 0.3s ease-out ease;
            -moz-transition: all box-shadow 0.3s ease-out ease;
            -ms-transition: all box-shadow 0.3s ease-out ease;
            -o-transition: all box-shadow 0.3s ease-out ease;
            transition: all box-shadow 0.3s ease-out ease;
        }

        #owl-demo .item:hover {
            padding: 10px;
            margin: 10px;
            -webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, 0.3);
            box-shadow: 0 3px 9px rgba(0, 0, 0, 0.3);
        }

        .button_flitro {
            float: left;
            margin-left: -18px;
        }
    </style>

    <script>
        $(document).ready(function () {
            var owl = $("#owl-demo");
            owl.owlCarousel({
                navigationText: false,
                itemsCustom: [
                    [0, 2],
                    [501, 2],
                    [801, 3],
                    [1261, 4],
                    [1581, 5],
                    [1600, 5]
                ],
                navigation: true
            });
        });
    </script>

</body>

</html>