<div id="main">
    <!-- Inicio Slides -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <section id="thumbnail-preview-indicators" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
          <li data-target="#thumbnail-preview-indicators" data-slide-to="0" class="active"></li>
          <li data-target="#thumbnail-preview-indicators" data-slide-to="1"></li>
          <li data-target="#thumbnail-preview-indicators" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
          <div class="item slides active">
            <div class="slide-1"></div>
            <div class="container"></div>
          </div>
          <div class="item slides">
            <div class="slide-2"></div>
            <div class="container"></div>
          </div>
          <div class="item slides">
            <div class="slide-3"></div>
            <div class="container"></div>
          </div>
        </div>
        <a class="left carousel-control" href="#thumbnail-preview-indicators" role="button" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a>
        <a class="right carousel-control" href="#thumbnail-preview-indicators" role="button" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
    </section>     
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <!-- Fin Slides -->   
    <!-- Inicio Home Destacados -->
    <section id="home-destacados">
        <div class="content">
		<!-- Inicio Columna -->
			<article class="columna-small">
				<a href="RUTA DE CELULARES" target="_self">
					<div class="columna-content">
						<div class="pic" style="background-image:url(https://www.eltiempo.com/files/article_main/uploads/2017/03/18/58cdc63522694.jpeg)">
						    <img src="images/marcowide.png">
						</div>
						<div class="info">
						    <h4 class="bold">Cellulars</h4>
						    <p>Visit our cellulars line.</p>
						    <h5 class="white">BUY</h5>
						</div>
					</div>
				</a>
			</article>
			<!-- Fin Columna -->
			<!-- Inicio Columna -->
			<article class="columna-small">
				<a href="RUTA DE TABLETS" target="_self">
					<div class="columna-content">
						<div class="pic" style="background-image:url(https://s1.eestatic.com/2022/02/03/elandroidelibre/moviles-android/analisis/647445677_221583951_1706x960.jpg)">
						    <img src="images/marcowide.png">
						</div>
						<div class="info">
						    <h4 class="bold">Tablets</h4>
						    <p>Visit our tablets line.</p>
						    <h5 class="white">BUY</h5>
						</div>
					</div>
				</a>
			</article>
			<!-- Fin Columna -->
			<!-- Inicio Columna -->
			<article class="columna-small">
			    <a href="RUTA DE NOTEBOOKS" target="_self">
					<div class="columna-content">
						<div class="pic" style="background-image:url(https://img.freepik.com/foto-gratis/mujer-negocios-que-trabajan-computadora-portatil_1388-67.jpg?w=2000)">
						    <img src="images/marcowide.png">
						</div>
						<div class="info">
						    <h4 class="bold">Notebooks</h4>
						    <p>Visit our notebooks line.</p>
						    <h5 class="white">BUY</h5>
						</div>
					</div>
				</a>
			</article>
			<!-- Fin Columna -->
			<!-- Inicio Columna -->
			<article class="columna-small">
				<a href="RUTA DE ACCESORIOS" target="_self">
					<div class="columna-content">
						<div class="pic" style="background-image:url(https://i.ytimg.com/vi/iQlqELeCL24/maxresdefault.jpg)">
						    <img src="images/marcowide.png">
						</div>
						<div class="info">
						    <h4 class="bold">Accesories</h4>
						    <p>Visit our accessories line.</p>
						    <h5 class="white">BUY</h5>
						</div>
					</div>
				</a>
			</article>
		<!-- Fin Columna -->					
        </div>
    </section>
    <!-- Fin Home Destacados -->      
    <!-- Inicio Home Productos -->
    <section id="home-productos">
        <div class="content">           
            <div class="line-tit">
                <h4 class="bold">PRODUCTOS DESTACADOS</h4>
            </div>           
            <!-- Inicio Slide productos -->
            <div id="owl-demo" class="owl-carousel owl-theme" style="opacity: 1; display: block;">                          
                <div class="owl-wrapper-outer">
                    <div class="owl-wrapper" style="width: 9536px; left: 0px; display: block; transition: all 0ms ease 0s; transform: translate3d(0px, 0px, 0px);">
                        <div class="owl-item" style="width: 298px;">
                            <div class="owl-item" style="width: 298px;">
                                <div class="item">   
                                    <div class="view view-first">                   
                                        <img src="images/marco-prod-list.png" class="scale-with-grid">                   
                                        <img src="https://www.cristobalcolon.com/fullaccess/item22618foto98746th.jpg" class="scale-with-grid" style="position: absolute; top: 0;">                        	
                                        <div class="mask">                                   
                                            <div class="contenidoproducto">
                                                <a href="https://www.ripcurlargentina.com/producto_detalle///rompevientosrip_curl_spray/22618.html" class="zoomproducto"></a>
                                            </div>
                                        </div>
                                    </div>    
                                    <div class="cleaner"></div>                   
                                <!-- Inicio Iconos Producto -->
                                <div class="iconos-producto">                  
                                    <div class="media">                                           
                                        <div id="whislist_2941">
                                            <a class="medialink" style="cursor:pointer;" onclick="addtowishlist('2941', 'list');">
                                                <img src="images/media-ico-wl.png">
                                            </a>            
                                        </div>                               
                                        <a class="medialink" target="_blank" onclick="popup('https://www.facebook.com/sharer.php?u=https://www.ripcurlargentina.com/producto_detalle/rompevientos_rip_curl_spray/22618.html&amp;t=Rompevientos Rip Curl Spray', '', '720', '450')" style="cursor:pointer">
                                            <img src="images/media-ico-fb.png">
                                        </a>                                
                                        <a class="medialink" target="_blank" onclick="popup('https://twitter.com/home?status=https%3A%2F%2Fwww.ripcurlargentina.com%2Fproducto_detalle%2Frompevientosrip_curl_spray%2F22618.html+en+Cristobal', '', '720', '450')" style="cursor:pointer">
                                            <img src="images/media-ico-tw.png">
                                        </a>                                
                                    </div>                         
                                    <div class="iconos-estado">
                                        <img src="https://www.ripcurlargentina.com/images/ico-enviogratis-small.png">
                                    </div>                       
                                </div>
                                <!-- Fin Iconos Producto -->                       
                                <div class="productos-titulolist">
                                    <a href="https://www.ripcurlargentina.com/producto_detalle//rompevientosrip_curl_spray/22618.html" class="productos-titulolist">
                                    Rompevientos<br>Rip Curl Spray								
                                    </a>
                                </div>
                                <div class="productos-marcalist">
                                    <span>- </span>Hombre<span> -</span>
                                </div>
                                <div class="productos-preciolist">
                                    <span style="color:#333; font-size:15px; font-weight: 400;">$ 19999.-</span>
                                    <a href="https://www.ripcurlargentina.com/producto_detalle//rompevientosrip_curl_spray/22618.html" class="button-comprar" style="float:right;">COMPRAR</a>								
                                    <!--<a href="#" class="button-comprar" style="float:right;">COMPRAR </a>-->
                               </div>
                            </div>
                        </div>
                        </div>
                        <div class="owl-item" style="width: 298px;">
                        <div class="owl-item" style="width: 298px;">
                            <div class="item">    
                                <div class="view view-first">                    
                                    <img src="images/marco-prod-list.png" class="scale-with-grid">                   
                                    <img src="https://www.cristobalcolon.com/fullaccess/item22645foto98815th.jpg" class="scale-with-grid" style="position: absolute; top: 0;">
                                    <img src="https://www.cristobalcolon.com/images/ico-pickup-small.png" style="position: absolute;top: 5px;">                        	
                                    <div class="mask">                                       
                                        <div class="contenidoproducto">
                                            <a href="https://www.ripcurlargentina.com/producto_detalle///remerarip_curl_pacific_dragon_indonesia/22645.html" class="zoomproducto"></a>
                                        </div>
                                    </div>
                                </div>    
                                <div class="cleaner"></div>                   
                                <!-- Inicio Iconos Producto -->
                                <div class="iconos-producto">                   
                                    <div class="media"> 
                                        <div id="whislist_2941">
                                            <a class="medialink" style="cursor:pointer;" onclick="addtowishlist('2941', 'list');">
                                                <img src="images/media-ico-wl.png">
                                            </a>            
                                        </div>                                
                                        <a class="medialink" target="_blank" onclick="popup('https://www.facebook.com/sharer.php?u=https://www.ripcurlargentina.com/producto_detalle/remera_rip_curl_pacific_dragon_indonesia/22645.html&amp;t=Remera Rip Curl Pacific Dragon Indonesia', '', '720', '450')" style="cursor:pointer">
                                            <img src="images/media-ico-fb.png">
                                        </a>                                
                                        <a class="medialink" target="_blank" onclick="popup('https://twitter.com/home?status=https%3A%2F%2Fwww.ripcurlargentina.com%2Fproducto_detalle%2Fremerarip_curl_pacific_dragon_indonesia%2F22645.html+en+Cristobal', '', '720', '450')" style="cursor:pointer">
                                            <img src="images/media-ico-tw.png">
                                        </a>                                
                                    </div>                        
                                    <div class="iconos-estado">
                                        <img src="https://www.ripcurlargentina.com/images/ico-enviogratis-small.png">
                                    </div>                       
                                </div>
                                <!-- Fin Iconos Producto -->                        
                                <div class="productos-titulolist">
                                    <a href="https://www.ripcurlargentina.com/producto_detalle//remerarip_curl_pacific_dragon_indonesia/22645.html" class="productos-titulolist">
                                       Remera<br>Rip Curl Pacific Dragon Ind...								
                                    </a>
                                </div>
                                <div class="productos-marcalist">
                                    <span>- </span>Hombre<span> -</span>
                                </div>
                                <div class="productos-preciolist">
                                    <span style="color:#333; font-size:15px; font-weight: 400;">$ 6999.-</span>
                                    <a href="https://www.ripcurlargentina.com/producto_detalle//remerarip_curl_pacific_dragon_indonesia/22645.html" class="button-comprar" style="float:right;">COMPRAR</a>								
                                    <!--<a href="#" class="button-comprar" style="float:right;">COMPRAR</a>-->
                                </div>
                            </div>
                        </div>
                        </div>                        
                        <div class="owl-item" style="width: 298px;">
                        <div class="owl-item" style="width: 298px;">
                            <div class="item">
                                <div class="view view-first">
                                    <img src="images/marco-prod-list.png" class="scale-with-grid">
                                    <img src="https://www.cristobalcolon.com/fullaccess/item22746foto99060th.jpg" class="scale-with-grid" style="position: absolute; top: 0;"><img src="https://www.cristobalcolon.com/images/ico-pickup-small.png" style="position: absolute;top: 5px;">                        	
                                    <div class="mask">
                                        <div class="contenidoproducto">
                                            <a href="https://www.ripcurlargentina.com/producto_detalle///camperarip_curl_anti_series/22746.html" class="zoomproducto"></a>
                                        </div>
                                    </div>
                                </div>   
                                <div class="cleaner"></div> 
                                <!-- Inicio Iconos Producto -->
                                <div class="iconos-producto">                  
                                   <div class="media">                                            
                                        <div id="whislist_2941">
                                            <a class="medialink" style="cursor:pointer;" onclick="addtowishlist('2941', 'list');">
                                                <img src="images/media-ico-wl.png">
                                            </a>            
                                        </div>                                
                                        <a class="medialink" target="_blank" onclick="popup('https://www.facebook.com/sharer.php?u=https://www.ripcurlargentina.com/producto_detalle/campera_rip_curl_anti_series/22746.html&amp;t=Campera Rip Curl Anti Series', '', '720', '450')" style="cursor:pointer">
                                            <img src="images/media-ico-fb.png">
                                        </a>                                
                                        <a class="medialink" target="_blank" onclick="popup('https://twitter.com/home?status=https%3A%2F%2Fwww.ripcurlargentina.com%2Fproducto_detalle%2Fcamperarip_curl_anti_series%2F22746.html+en+Cristobal', '', '720', '450')" style="cursor:pointer">
                                            <img src="images/media-ico-tw.png">
                                        </a>                               
                                    </div>                        
                                    <div class="iconos-estado">
                                        <img src="https://www.ripcurlargentina.com/images/ico-enviogratis-small.png">
                                    </div>                       
                                </div>
                                <!-- Fin Iconos Producto -->                        
                                <div class="productos-titulolist">
                                    <a href="https://www.ripcurlargentina.com/producto_detalle//camperarip_curl_anti_series/22746.html" class="productos-titulolist">
                                       Campera<br>Rip Curl Anti Series								
                                    </a>
                                </div>
                                <div class="productos-marcalist">
                                    <span>- </span>Hombre<span> -</span>
                                </div>
                                <div class="productos-preciolist">
                                    <span style="color:#333; font-size:15px; font-weight: 400;">$ 59999.-</span>
                                    <a href="https://www.ripcurlargentina.com/producto_detalle//camperarip_curl_anti_series/22746.html" class="button-comprar" style="float:right;">COMPRAR</a>								
                                    <!--<a href="#" class="button-comprar" style="float:right;">COMPRAR</a>-->
                                </div>
                            </div>
                        </div>
                        </div>
                        <div class="owl-item" style="width: 298px;">
                        <div class="owl-item" style="width: 298px;">
                            <div class="item">
                                <div class="view view-first">
                                    <img src="images/marco-prod-list.png" class="scale-with-grid">      
                                    <img src="https://www.cristobalcolon.com/fullaccess/item16372foto93372th.jpg" class="scale-with-grid" style="position: absolute; top: 0;">                        	
                                    <div class="mask">           
                                        <div class="contenidoproducto">
                                            <a href="https://www.ripcurlargentina.com/producto_detalle///cuellorip_curl_tubo_abyss/16372.html" class="zoomproducto"></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="cleaner"></div> 
                                <!-- Inicio Iconos Producto -->
                                <div class="iconos-producto">
                                    <div class="media">                      
                                        <div id="whislist_2941">
                                            <a class="medialink" style="cursor:pointer;" onclick="addtowishlist('2941', 'list');">
                                                <img src="images/media-ico-wl.png">
                                            </a>            
                                        </div>
                                        <a class="medialink" target="_blank" onclick="popup('https://www.facebook.com/sharer.php?u=https://www.ripcurlargentina.com/producto_detalle/cuello_rip_curl_tubo_abyss/16372.html&amp;t=Cuello Rip Curl Tubo Abyss', '', '720', '450')" style="cursor:pointer">
                                            <img src="images/media-ico-fb.png">
                                        </a>      
                                        <a class="medialink" target="_blank" onclick="popup('https://twitter.com/home?status=https%3A%2F%2Fwww.ripcurlargentina.com%2Fproducto_detalle%2Fcuellorip_curl_tubo_abyss%2F16372.html+en+Cristobal', '', '720', '450')" style="cursor:pointer">
                                            <img src="images/media-ico-tw.png">
                                        </a>      
                                    </div>                       
                                    <div class="iconos-estado">
                                        <img src="https://www.ripcurlargentina.com/images/ico-enviogratis-small.png">
                                    </div>                       
                                </div>
                                <!-- Fin Iconos Producto -->
                                <div class="productos-titulolist">
                                    <a href="https://www.ripcurlargentina.com/producto_detalle//cuellorip_curl_tubo_abyss/16372.html" class="productos-titulolist">
                                        Cuello<br>Rip Curl Tubo Abyss								
                                    </a>
                                </div>
                                <div class="productos-marcalist">
                                    <span>- </span>Mujer<span> -</span>
                                </div>
                                <div class="productos-preciolist">
                                    <span style="color:#333; font-size:15px; font-weight: 400;">$ 2999.-</span>
                                    <a href="https://www.ripcurlargentina.com/producto_detalle//cuellorip_curl_tubo_abyss/16372.html" class="button-comprar" style="float:right;">COMPRAR</a>								
                                    <!--<a href="#" class="button-comprar" style="float:right;">COMPRAR</a>-->
                                </div>
                            </div>
                        </div>
                        </div>
                        <div class="owl-item" style="width: 298px;">
                        <div class="owl-item" style="width: 298px;">
                            <div class="item">
                                <div class="view view-first">
                                    <img src="images/marco-prod-list.png" class="scale-with-grid">
                                    <img src="https://www.cristobalcolon.com/fullaccess/item22258foto97846th.jpg" class="scale-with-grid" style="position: absolute; top: 0;">                        	
                                    <div class="mask">            
                                        <div class="contenidoproducto">
                                            <a href="https://www.ripcurlargentina.com/producto_detalle///jeanrip_curl_wide_leg_black/22258.html" class="zoomproducto"></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="cleaner"></div>
                                <!-- Inicio Iconos Producto -->
                                <div class="iconos-producto">                   
                                    <div class="media">                                            
                                        <div id="whislist_2941">
                                            <a class="medialink" style="cursor:pointer;" onclick="addtowishlist('2941', 'list');">
                                                <img src="images/media-ico-wl.png">
                                            </a>            
                                        </div>                                
                                        <a class="medialink" target="_blank" onclick="popup('https://www.facebook.com/sharer.php?u=https://www.ripcurlargentina.com/producto_detalle/jean_rip_curl_wide_leg_black/22258.html&amp;t=Jean Rip Curl Wide Leg Black', '', '720', '450')" style="cursor:pointer">
                                           <img src="images/media-ico-fb.png">
                                        </a>                               
                                        <a class="medialink" target="_blank" onclick="popup('https://twitter.com/home?status=https%3A%2F%2Fwww.ripcurlargentina.com%2Fproducto_detalle%2Fjeanrip_curl_wide_leg_black%2F22258.html+en+Cristobal', '', '720', '450')" style="cursor:pointer">
                                           <img src="images/media-ico-tw.png">
                                        </a>                                
                                    </div>                         
                                    <div class="iconos-estado">
                                        <img src="https://www.ripcurlargentina.com/images/ico-enviogratis-small.png">
                                    </div>                       
                                </div>
                                <!-- Fin Iconos Producto -->                       
                                    <div class="productos-titulolist">
                                        <a href="https://www.ripcurlargentina.com/producto_detalle//jeanrip_curl_wide_leg_black/22258.html" class="productos-titulolist">
                                            Jean<br>Rip Curl Wide Leg Black								
                                        </a>
                                    </div>
                                    <div class="productos-marcalist">
                                        <span>- </span>Mujer<span> -</span>
                                    </div>
                                    <div class="productos-preciolist">
                                        <span style="color:#333; font-size:15px; font-weight: 400;">$ 10999.-</span>
                                        <a href="https://www.ripcurlargentina.com/producto_detalle//jeanrip_curl_wide_leg_black/22258.html" class="button-comprar" style="float:right;">COMPRAR</a>								
                                        <!--<a href="#" class="button-comprar" style="float:right;">COMPRAR</a>-->
                                    </div> 
                                </div>
                            </div>
                        </div>
                        <div class="owl-item" style="width: 298px;">
                            <div class="owl-item" style="width: 298px;">
                                <div class="item">    
                                    <div class="view view-first">                    
                                        <img src="images/marco-prod-list.png" class="scale-with-grid">                    
                                        <img src="https://www.cristobalcolon.com/fullaccess/item22641foto98801th.jpg" class="scale-with-grid" style="position: absolute; top: 0;"><img src="https://www.cristobalcolon.com/images/ico-pickup-small.png" style="position: absolute;top: 5px;">                        	
                                        <div class="mask">                                                                                            
                                            <div class="contenidoproducto">
                                                <a href="https://www.ripcurlargentina.com/producto_detalle///camperarip_curl_moon/22641.html" class="zoomproducto"></a>
                                            </div>
                                        </div>
                                    </div>    
                                    <div class="cleaner"></div>                                     
                                    <!-- Inicio Iconos Producto -->
                                    <div class="iconos-producto">                   
                                        <div class="media">                                            
                                            <div id="whislist_2941">
                                                <a class="medialink" style="cursor:pointer;" onclick="addtowishlist('2941', 'list');">
                                                    <img src="images/media-ico-wl.png">
                                                </a>            
                                            </div>                                
                                            <a class="medialink" target="_blank" onclick="popup('https://www.facebook.com/sharer.php?u=https://www.ripcurlargentina.com/producto_detalle/campera_rip_curl_moon/22641.html&amp;t=Campera Rip Curl Moon', '', '720', '450')" style="cursor:pointer">
                                                <img src="images/media-ico-fb.png">
                                            </a>                               
                                            <a class="medialink" target="_blank" onclick="popup('https://twitter.com/home?status=https%3A%2F%2Fwww.ripcurlargentina.com%2Fproducto_detalle%2Fcamperarip_curl_moon%2F22641.html+en+Cristobal', '', '720', '450')" style="cursor:pointer">
                                                <img src="images/media-ico-tw.png">
                                            </a>                               
                                        </div>
                                        <div class="iconos-estado">
                                            <img src="https://www.ripcurlargentina.com/images/ico-enviogratis-small.png">
                                        </div>                       
                                    </div>
                                    <!-- Fin Iconos Producto -->                        
                                    <div class="productos-titulolist">
                                        <a href="https://www.ripcurlargentina.com/producto_detalle//camperarip_curl_moon/22641.html" class="productos-titulolist">
                                            Campera<br>Rip Curl Moon								
                                        </a>
                                    </div>
                                    <div class="productos-marcalist">
                                        <span>- </span>Mujer<span> -</span>
                                    </div>
                                    <div class="productos-preciolist">
                                        <span style="color:#333; font-size:15px; font-weight: 400;">$ 19999.-</span>
                                        <a href="https://www.ripcurlargentina.com/producto_detalle//camperarip_curl_moon/22641.html" class="button-comprar" style="float:right;">COMPRAR</a>								
                                        <!--<a href="#" class="button-comprar" style="float:right;">COMPRAR</a>-->
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="owl-item" style="width: 298px;">
                            <div class="owl-item" style="width: 298px;">
                                <div class="item">    
                                    <div class="view view-first">                   
                                        <img src="images/marco-prod-list.png" class="scale-with-grid">                    
                                        <img src="https://www.cristobalcolon.com/fullaccess/item22751foto99076th.jpg" class="scale-with-grid" style="position: absolute; top: 0;">
                                        <img src="https://www.cristobalcolon.com/images/ico-pickup-small.png" style="position: absolute;top: 5px;">                        	
                                        <div class="mask">                                       
                                            <div class="contenidoproducto">
                                                <a href="https://www.ripcurlargentina.com/producto_detalle///botellarip_curl_search_700ml/22751.html" class="zoomproducto"></a>
                                            </div>
                                        </div>
                                    </div>   
                                    <div class="cleaner"></div>                   
                                    <!-- Inicio Iconos Producto -->
                                    <div class="iconos-producto">                   
                                        <div class="media">                                      
                                            <div id="whislist_2941">
                                                <a class="medialink" style="cursor:pointer;" onclick="addtowishlist('2941', 'list');">
                                                    <img src="images/media-ico-wl.png">
                                                </a>            
                                            </div>                                
                                            <a class="medialink" target="_blank" onclick="popup('https://www.facebook.com/sharer.php?u=https://www.ripcurlargentina.com/producto_detalle/botella_rip_curl_search_700ml/22751.html&amp;t=Botella Rip Curl Search 700ML', '', '720', '450')" style="cursor:pointer">
                                                <img src="images/media-ico-fb.png">
                                            </a>                                
                                            <a class="medialink" target="_blank" onclick="popup('https://twitter.com/home?status=https%3A%2F%2Fwww.ripcurlargentina.com%2Fproducto_detalle%2Fbotellarip_curl_search_700ml%2F22751.html+en+Cristobal', '', '720', '450')" style="cursor:pointer">
                                                <img src="images/media-ico-tw.png">
                                            </a>                               
                                        </div>
                                        <div class="iconos-estado">
                                            <img src="https://www.ripcurlargentina.com/images/ico-enviogratis-small.png">
                                        </div>
                                    </div>
                                    <!-- Fin Iconos Producto -->
                                    <div class="productos-titulolist">
                                        <a href="https://www.ripcurlargentina.com/producto_detalle//botellarip_curl_search_700ml/22751.html" class="productos-titulolist">
                                        Botella<br>Rip Curl Search 700ML								</a>
                                    </div>
                                    <div class="productos-marcalist">
                                        <span>- </span>Unisex<span> -</span>
                                    </div>
                                    <div class="productos-preciolist">
                                        <span style="color:#333; font-size:15px; font-weight: 400;">$ 16999.-</span>
                                        <a href="https://www.ripcurlargentina.com/producto_detalle//botellarip_curl_search_700ml/22751.html" class="button-comprar" style="float:right;">COMPRAR</a>								
                                        <!--<a href="#" class="button-comprar" style="float:right;">COMPRAR</a>-->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="owl-controls clickable">
                    <div class="owl-pagination">
                        <div class="owl-page active">
                            <span class=""></span>
                        </div>
                        <div class="owl-page">
                            <span class=""></span>
                        </div>
                        <div class="owl-page">
                            <span class=""></span>
                        </div>
                        <div class="owl-page">
                            <span class=""></span>
                        </div>
                    </div>
                    <div class="owl-buttons">
                        <div class="owl-prev"></div>
                        <div class="owl-next"></div>
                    </div>
                </div>
            </div>
            <!-- Fin Slide Productos -->
        </div>
    </section>
    <!-- Fin Home Productos -->
</div>
  