<div id="main">
    <!-- Inicio Slides -->
    <div id="bannershome" class="flexslider">
        <div class="flex-viewport" style="overflow: hidden; position: relative;">
          <ul class="slides" style="width: 1400%; transition-duration: 0.6s; transform: translate3d(-1564px, 0px, 0px);"><li class="clone" aria-hidden="true" style="width: 782px; float: left; display: block;"><a href="https://www.ripcurlargentina.com/the_search.html" target="_self"><img src="https://www.ripcurlargentina.com/fullaccess/banner345.jpg" draggable="false"></a></li>
            <li style="width: 782px; float: left; display: block;" class="">
                <a href="RUTA DE PRODUCTOS" target="_self">
                    <img src="https://the-update.com/wp-content/uploads/2021/12/KV-OLED-Family-1.jpg" draggable="false">
                </a>
            </li>
            <li style="width: 782px; float: left; display: block;" class="flex-active-slide">
                <a href="RUTA DE PRODUCTOS" target="_self">
                    <img src="https://i.pinimg.com/originals/89/85/9f/89859f105548433cbf47816df96d0980.jpg" draggable="false">
                </a>
            </li>
            <li style="width: 782px; float: left; display: block;" class="">
                <a href="RUTA DE PRODUCTOS" target="_blank">
                    <img src="https://zetabite.com/wp-content/uploads/2020/04/EZVIZ-C6CN-Apoyo-5.jpg" draggable="false">
                </a>
            </li>
            <li style="width: 782px; float: left; display: block;" class="">
                <a href="RUTA DE PRODUCTOS" target="_self">
                    <img src="https://cditolosa.eus/themes/euscommerce/assets/img/modules/leoslideshow/2%20tazas%20cdi.jpg" draggable="false">
                </a>
                </li>
            <li style="width: 782px; float: left; display: block;" class="">
                <a href="RUTA DE PRODUCTOS" target="_self">
                    <img src="https://cdn.coolermaster.com/media/assets/1005/ms111-section3-1-bannerdesktop.png" draggable="false">
                </a>
            </li>               
            <li style="width: 782px; float: left; display: block;" class="clone" aria-hidden="true">
                <a href="RUTA DE PRODUCTOS" target="_self"> 
                    <img src="https://s3.amazonaws.com/mfs.ezvizlife.com/ede8e85b607da52d0db5d543062c5138.jpg" draggable="false">
                </a>
            </li>
            ::after
          </ul>
        </div>
        <ol class="flex-control-nav flex-control-paging">
            <li>
                <a class="flex-active">1</a> 
            </li>
            <li>
                <a class="flex-active">2</a>
            </li>
            <li>
                <a class="flex-active">3</a>
            </li>
            <li>
                <a class="flex-active">4</a>
            </li>
            <li>
                <a class="flex-active">5</a>
                        
            </li>
        </ol>
        <ul class="flex-direction-nav">
            <li class="flex-nav-prev">
                
                <a class="flex-prev" href="#">Previous</a>
            </li>
            <li class="flex-nav-next">
                
                <a class="flex-next" href="#">Next</a>
            </li>
        </ul>
    </div>
    <!-- Fin Slides -->   
    <!-- Inicio Home Destacados -->
    <div id="home-destacados">
        <div class="content">
		<!-- Inicio Columna -->
			<div class="columna-small">
				<a href="RUTA DE CELULARES" target="_self">
					<div class="columna-content">
						<div class="pic" style="background-image:url(https://www.eltiempo.com/files/article_main/uploads/2017/03/18/58cdc63522694.jpeg)">
						    <img src="images/marcowide.png">
						</div>
						<div class="info">
						    <h4 class="bold">Cellulars</h4>
						    <p>Visit our cellulars line.</p>
						    <h5 class="white">BUY</h5>
						</div>
					</div>
				</a>
			</div>
			<!-- Fin Columna -->
			<!-- Inicio Columna -->
			<div class="columna-small">
				<a href="RUTA DE TABLETS" target="_self">
					<div class="columna-content">
						<div class="pic" style="background-image:url(https://s1.eestatic.com/2022/02/03/elandroidelibre/moviles-android/analisis/647445677_221583951_1706x960.jpg)">
						    <img src="images/marcowide.png">
						</div>
						<div class="info">
						    <h4 class="bold">Tablets</h4>
						    <p>Visit our tablets line.</p>
						    <h5 class="white">BUY</h5>
						</div>
					</div>
				</a>
			</div>
			<!-- Fin Columna -->
			<!-- Inicio Columna -->
			<div class="columna-small">
			    <a href="RUTA DE NOTEBOOKS" target="_self">
					<div class="columna-content">
						<div class="pic" style="background-image:url(https://img.freepik.com/foto-gratis/mujer-negocios-que-trabajan-computadora-portatil_1388-67.jpg?w=2000)">
						    <img src="images/marcowide.png">
						</div>
						<div class="info">
						    <h4 class="bold">Notebooks</h4>
						    <p>Visit our notebooks line.</p>
						    <h5 class="white">BUY</h5>
						</div>
					</div>
				</a>
			</div>
			<!-- Fin Columna -->
			<!-- Inicio Columna -->
			<div class="columna-small">
				<a href="RUTA DE ACCESORIOS" target="_self">
					<div class="columna-content">
						<div class="pic" style="background-image:url(https://i.ytimg.com/vi/iQlqELeCL24/maxresdefault.jpg)">
						    <img src="images/marcowide.png">
						</div>
						<div class="info">
						    <h4 class="bold">Accesories</h4>
						    <p>Visit our accessories line.</p>
						    <h5 class="white">BUY</h5>
						</div>
					</div>
				</a>
			</div>
			<!-- Fin Columna -->
					
        </div>
    </div>
    <!-- Fin Home Destacados -->
        
    <!-- Inicio Home Productos -->
    <div id="home-productos">
        <div class="content">
            <div class="line-tit">
                <h4 class="bold">FEATURED PRODUCTS</h4>
            </div>   
            <!-- Inicio Slide productos -->
            <div id="owl-demo" class="owl-carousel owl-theme" style="opacity: 1; display: block;">
				<div class="owl-wrapper-outer">
                    <div class="owl-wrapper" style="width: 14840px; left: 0px; display: block; transition: all 0ms ease 0s; transform: translate3d(0px, 0px, 0px);">
                        <div class="owl-item" style="width: 371px;">
                            <div class="owl-item" style="width: 371px;">
                                <div class="item">
        				           <div class="view view-first">
                        	            <img src="images/marco-prod-list.png" class="scale-with-grid">						
						                <img src="imagen" class="scale-with-grid" style="position: absolute; top: 0;">                        	
                                            <div class="mask">            
                                                <div class="contenidoproducto">
                                                    <a href="https://www.ripcurlargentina.com/producto_detalle///buzorip_curl_surf_revival/18467.html" class="zoomproducto"></a>
                                                </div>
                                            </div>
        				            </div>        
					                <div class="cleaner"></div>                                           
                                    <!-- Inicio Iconos Producto -->
        			                <div class="iconos-producto">                      
                       			        <div class="media">                                              
                                            <div id="whislist_2941">
                                                <a class="medialink" style="cursor:pointer;" onclick="addtowishlist('2941', 'list');">
                                                    <img src="images/media-ico-wl.png">
                                                </a>
                                            </div>                                  
                                            <a class="medialink" target="_blank" onclick="popup('https://www.facebook.com/sharer.php?u=https://www.ripcurlargentina.com/producto_detalle/buzo_rip_curl_surf_revival/18467.html&amp;t=Buzo Rip Curl Surf Revival', '', '720', '450')" style="cursor:pointer">
                                                <img src="images/media-ico-fb.png">
                                            </a>                                   
                                            <a class="medialink" target="_blank" onclick="popup('https://twitter.com/home?status=https%3A%2F%2Fwww.ripcurlargentina.com%2Fproducto_detalle%2Fbuzorip_curl_surf_revival%2F18467.html+en+Cristobal', '', '720', '450')" style="cursor:pointer">
                                                <img src="images/media-ico-tw.png">
                                            </a>                                  
                                        </div> 
                                        <div class="iconos-estado">
                                            <img src="https://www.ripcurlargentina.com/images/ico-enviogratis-small.png">
                                        </div>                       
                                    </div>
        			                <!-- Fin Iconos Producto -->
							        <div class="productos-titulolist">
								        <a href="https://www.ripcurlargentina.com/producto_detalle//buzorip_curl_surf_revival/18467.html" class="productos-titulolist">
								            marca<br>modelo								
                                        </a>
							        </div>
                                    <div class="productos-marcalist">
								        <span>- </span>producto<span> -</span>
							        </div>
							        <div class="productos-preciolist">
								        <span style="color:#333; font-size:15px; font-weight: 400;">$ precio.-</span>
                                        <a href="https://www.ripcurlargentina.com/producto_detalle//buzorip_curl_surf_revival/18467.html" class="button-comprar" style="float:right;">COMPRAR</a>								
                                        <!--<a href="#" class="button-comprar" style="float:right;">COMPRAR</a>-->
							        </div>
					            </div>
                            </div>
                        </div>
                        <div class="owl-item" style="width: 371px;">
                            <div class="owl-item" style="width: 371px;">
                                <div class="item">     
        				            <div class="view view-first">                       
                        	            <img src="images/marco-prod-list.png" class="scale-with-grid">
										<img src="imagen" class="scale-with-grid" style="position: absolute; top: 0;">                        	
                                            <div class="mask">                                           
                                                <div class="contenidoproducto">
                                                    <a href="https://www.ripcurlargentina.com/producto_detalle///bufandarip_curl_basic/21033.html" class="zoomproducto"></a>
                                                </div>
                                            </div>
        				            </div>       
					                <div class="cleaner"></div>                                             
                                    <!-- Inicio Iconos Producto -->
        			                <div class="iconos-producto">                      
                       			        <div class="media">                                               
                                            <div id="whislist_2941">
                                                <a class="medialink" style="cursor:pointer;" onclick="addtowishlist('2941', 'list');">
                                                    <img src="images/media-ico-wl.png">
                                                </a>            
                                            </div>                                   
                                            <a class="medialink" target="_blank" onclick="popup('https://www.facebook.com/sharer.php?u=https://www.ripcurlargentina.com/producto_detalle/bufanda_rip_curl_basic/21033.html&amp;t=Bufanda Rip Curl Basic', '', '720', '450')" style="cursor:pointer">
                                                <img src="images/media-ico-fb.png">
                                            </a>                                   
                                            <a class="medialink" target="_blank" onclick="popup('https://twitter.com/home?status=https%3A%2F%2Fwww.ripcurlargentina.com%2Fproducto_detalle%2Fbufandarip_curl_basic%2F21033.html+en+Cristobal', '', '720', '450')" style="cursor:pointer">
                                                <img src="images/media-ico-tw.png">
                                            </a>                                   
                                        </div> 
                                        <div class="iconos-estado">
                                            <img src="https://www.ripcurlargentina.com/images/ico-enviogratis-small.png">
                                        </div>                       
                                    </div>
        			                <!-- Fin Iconos Producto -->                                            							
							        <div class="productos-titulolist">
								        <a href="https://www.ripcurlargentina.com/producto_detalle//bufandarip_curl_basic/21033.html" class="productos-titulolist">
								            marca<br>modelo							
                                        </a>
							        </div>
                                    <div class="productos-marcalist">
								        <span>- </span>producto<span> -</span>
							        </div>
							        <div class="productos-preciolist">
								        <span style="color:#333; font-size:15px; font-weight: 400;">$ 3999.-</span>
                                        <a href="https://www.ripcurlargentina.com/producto_detalle//bufandarip_curl_basic/21033.html" class="button-comprar" style="float:right;">COMPRAR</a>								
                                        <!--<a href="#" class="button-comprar" style="float:right;">COMPRAR</a>-->
							        </div>
					            </div>
                            </div>
                        </div>
                        <div class="owl-item" style="width: 371px;">
                            <div class="owl-item" style="width: 371px;">
                                <div class="item">       
        				<div class="view view-first">                       
                        	<img src="images/marco-prod-list.png" class="scale-with-grid">						
						    <img src="imagen" class="scale-with-grid" style="position: absolute; top: 0;">                        	
                                <div class="mask">               			
                                    <div class="contenidoproducto">
                                        <a href="https://www.ripcurlargentina.com/producto_detalle///buzorip_curl_ranglan_stapla/21241.html" class="zoomproducto"></a>
                                    </div>
                                </div>
        				</div>        
					    <div class="cleaner"></div>                                            
                       <!-- Inicio Iconos Producto -->
        			   <div class="iconos-producto">                       
                       		<div class="media">                                              
                                <div id="whislist_2941">
                                    <a class="medialink" style="cursor:pointer;" onclick="addtowishlist('2941', 'list');">
                                        <img src="images/media-ico-wl.png">
                                    </a>            
                                </div>                                   
                                <a class="medialink" target="_blank" onclick="popup('https://www.facebook.com/sharer.php?u=https://www.ripcurlargentina.com/producto_detalle/buzo_rip_curl_ranglan_stapla/21241.html&amp;t=Buzo Rip Curl Ranglan Stapla', '', '720', '450')" style="cursor:pointer">
                                    <img src="images/media-ico-fb.png">
                                </a>                                   
                                <a class="medialink" target="_blank" onclick="popup('https://twitter.com/home?status=https%3A%2F%2Fwww.ripcurlargentina.com%2Fproducto_detalle%2Fbuzorip_curl_ranglan_stapla%2F21241.html+en+Cristobal', '', '720', '450')" style="cursor:pointer">
                                    <img src="images/media-ico-tw.png">
                                </a>                                   
                            </div>                             
                            <div class="iconos-estado">
                                <img src="https://www.ripcurlargentina.com/images/ico-enviogratis-small.png">
                            </div>                       
                        </div>
        			    <!-- Fin Iconos Producto -->							
					    <div class="productos-titulolist">
							<a href="https://www.ripcurlargentina.com/producto_detalle//buzorip_curl_ranglan_stapla/21241.html" class="productos-titulolist">
								marca<br>modelo								
                            </a>
						</div>
                        <div class="productos-marcalist">
							<span>- </span>producto<span> -</span>
						</div>
						<div class="productos-preciolist">
							<span style="color:#333; font-size:15px; font-weight: 400;">$ 9499.-</span>
                            <a href="https://www.ripcurlargentina.com/producto_detalle//buzorip_curl_ranglan_stapla/21241.html" class="button-comprar" style="float:right;">COMPRAR</a>								
                            <!--<a href="#" class="button-comprar" style="float:right;">COMPRAR</a>-->
						</div>
					</div>
                </div>
            </div>
            <div class="owl-item" style="width: 371px;">
                <div class="owl-item" style="width: 371px;">
                    <div class="item">       
        				<div class="view view-first">                       
                        	<img src="images/marco-prod-list.png" class="scale-with-grid">						
						    <img src="imagen" class="scale-with-grid" style="position: absolute; top: 0;"><img src="https://www.cristobalcolon.com/images/ico-pickup-small.png" style="position: absolute;top: 5px;">                        	
                            <div class="mask">               			                                                                           
                                <div class="contenidoproducto">
                                    <a href="https://www.ripcurlargentina.com/producto_detalle///camperarip_curl_southside/21983.html" class="zoomproducto"></a>
                                </div>
                            </div>
        				</div>       
					    <div class="cleaner"></div>                                            
                       <!-- Inicio Iconos Producto -->
        			   <div class="iconos-producto">                       
                       		<div class="media">                                               
                                <div id="whislist_2941">
                                    <a class="medialink" style="cursor:pointer;" onclick="addtowishlist('2941', 'list');"><img src="images/media-ico-wl.png"></a>            
                                </div>                                   
                                <a class="medialink" target="_blank" onclick="popup('https://www.facebook.com/sharer.php?u=https://www.ripcurlargentina.com/producto_detalle/campera_rip_curl_southside/21983.html&amp;t=Campera Rip Curl Southside', '', '720', '450')" style="cursor:pointer">
                                    <img src="images/media-ico-fb.png">
                                </a>                                    
                                <a class="medialink" target="_blank" onclick="popup('https://twitter.com/home?status=https%3A%2F%2Fwww.ripcurlargentina.com%2Fproducto_detalle%2Fcamperarip_curl_southside%2F21983.html+en+Cristobal', '', '720', '450')" style="cursor:pointer">
                                    <img src="images/media-ico-tw.png">
                                </a>                               
                            </div> 
                            <div class="iconos-estado">
                                <img src="/images/ico-enviogratis-small.png">
                            </div>                       
                        </div>
        			    <!-- Fin Iconos Producto -->                                            							
						<div class="productos-titulolist">
							<a href="https://www.ripcurlargentina.com/producto_detalle//camperarip_curl_southside/21983.html" class="productos-titulolist">
								marca<br>modelo								
                            </a>
						</div>
                        <div class="productos-marcalist">
							<span>- </span>producto<span> -</span>
						</div>
						<div class="productos-preciolist">
							<span style="color:#333; font-size:15px; font-weight: 400;">$ 34999.-</span>
                            <a href="https://www.ripcurlargentina.com/producto_detalle//camperarip_curl_southside/21983.html" class="button-comprar" style="float:right;">COMPRAR</a>								
                            <!--<a href="#" class="button-comprar" style="float:right;">COMPRAR</a>-->
						</div>
					</div>
                </div>
            </div>
            <div class="owl-item" style="width: 371px;">
                <div class="owl-item" style="width: 371px;">
                    <div class="item">        
        				<div class="view view-first">                       
                        	<img src="images/marco-prod-list.png" class="scale-with-grid">						
						    <img src="imagen" class="scale-with-grid" style="position: absolute; top: 0;">                        	
                            <div class="mask">               			                                                                            
                                <div class="contenidoproducto">
                                    <a href="https://www.ripcurlargentina.com/producto_detalle///remerarip_curl_saltwater_culture/20805.html" class="zoomproducto"></a>
                                </div>
                            </div>
        				</div>        
					<div class="cleaner"></div>                                             
                    <!-- Inicio Iconos Producto -->
        			<div class="iconos-producto">                       
                       	<div class="media">                                               
                            <div id="whislist_2941">
                                <a class="medialink" style="cursor:pointer;" onclick="addtowishlist('2941', 'list');">
                                    <img src="images/media-ico-wl.png">
                                </a>            
                            </div>                                   
                                <a class="medialink" target="_blank" onclick="popup('https://www.facebook.com/sharer.php?u=https://www.ripcurlargentina.com/producto_detalle/remera_rip_curl_saltwater_culture/20805.html&amp;t=Remera Rip Curl Saltwater Culture', '', '720', '450')" style="cursor:pointer">
                                    <img src="images/media-ico-fb.png">
                                </a>                                    
                                <a class="medialink" target="_blank" onclick="popup('https://twitter.com/home?status=https%3A%2F%2Fwww.ripcurlargentina.com%2Fproducto_detalle%2Fremerarip_curl_saltwater_culture%2F20805.html+en+Cristobal', '', '720', '450')" style="cursor:pointer">
                                    <img src="images/media-ico-tw.png">
                                </a>                                   
                        </div> 
                            <div class="iconos-estado">
                                <img src="https://www.ripcurlargentina.com/images/ico-enviogratis-small.png">
                            </div>                       
                        </div>
        			    <!-- Fin Iconos Producto -->                                              
						<div class="productos-titulolist">
							<a href="https://www.ripcurlargentina.com/producto_detalle//remerarip_curl_saltwater_culture/20805.html" class="productos-titulolist">
								marca<br>modelo								
                            </a>
						</div>
                        <div class="productos-marcalist">
							<span>- </span>producto<span> -</span>
						</div>
						<div class="productos-preciolist">
							<span style="color:#333; font-size:15px; font-weight: 400;">$ 4499.-</span>
                            <a href="https://www.ripcurlargentina.com/producto_detalle//remerarip_curl_saltwater_culture/20805.html" class="button-comprar" style="float:right;">COMPRAR</a>								
                            <!--<a href="#" class="button-comprar" style="float:right;">COMPRAR</a>-->
						</div>
					</div>
                </div>
            </div>
            <div class="owl-item" style="width: 371px;">
                <div class="owl-item" style="width: 371px;">
                    <div class="item">        
        				<div class="view view-first">                        
                        	<img src="images/marco-prod-list.png" class="scale-with-grid">
							<img src="imagen" class="scale-with-grid" style="position: absolute; top: 0;"><img src="https://www.cristobalcolon.com/images/ico-pickup-small.png" style="position: absolute;top: 5px;">                        	
                            <div class="mask">               			                                                                            
                                <div class="contenidoproducto">
                                    <a href="https://www.ripcurlargentina.com/producto_detalle///mochilarip_curl_evo_20l/21570.html" class="zoomproducto"></a>
                                </div>
                            </div>
        				</div>
					    <div class="cleaner"></div>                                             
                        <!-- Inicio Iconos Producto -->
        			    <div class="iconos-producto">
                            <div class="media">                                                
                                <div id="whislist_2941">
                                    <a class="medialink" style="cursor:pointer;" onclick="addtowishlist('2941', 'list');">
                                        <img src="images/media-ico-wl.png">
                                    </a>            
                                </div>                                   
                                <a class="medialink" target="_blank" onclick="popup('https://www.facebook.com/sharer.php?u=https://www.ripcurlargentina.com/producto_detalle/mochila_rip_curl_evo_20l/21570.html&amp;t=Mochila Rip Curl Evo 20L', '', '720', '450')" style="cursor:pointer">
                                    <img src="images/media-ico-fb.png">
                                </a>                                   
                                <a class="medialink" target="_blank" onclick="popup('https://twitter.com/home?status=https%3A%2F%2Fwww.ripcurlargentina.com%2Fproducto_detalle%2Fmochilarip_curl_evo_20l%2F21570.html+en+Cristobal', '', '720', '450')" style="cursor:pointer">
                                    <img src="images/media-ico-tw.png">
                                </a>                                    
                            </div> 
                            <div class="iconos-estado">
                                <img src="https://www.ripcurlargentina.com/images/ico-enviogratis-small.png">
                            </div>                       
                        </div>
        			   <!-- Fin Iconos Producto -->                                             							
						<div class="productos-titulolist">
							<a href="https://www.ripcurlargentina.com/producto_detalle//mochilarip_curl_evo_20l/21570.html" class="productos-titulolist">
								marca<br>modelo								
                            </a>
						</div>
                        <div class="productos-marcalist">
							<span>- </span>producto<span> -</span>
						</div>
						<div class="productos-preciolist">
							<span style="color:#333; font-size:15px; font-weight: 400;">$ 14999.-</span>
                            <a href="https://www.ripcurlargentina.com/producto_detalle//mochilarip_curl_evo_20l/21570.html" class="button-comprar" style="float:right;">COMPRAR</a>								
                            <!--<a href="#" class="button-comprar" style="float:right;">COMPRAR</a>-->
						</div>
					</div>
                </div>
            </div>
            <div class="owl-item" style="width: 371px;">
                <div class="owl-item" style="width: 371px;">
                    <div class="item">        
        				<div class="view view-first">                        
                        	<img src="images/marco-prod-list.png" class="scale-with-grid">						
						    <img src="imagen" class="scale-with-grid" style="position: absolute; top: 0;">                        	
                            <div class="mask">                			                                                                          
                                <div class="contenidoproducto">
                                    <a href="https://www.ripcurlargentina.com/producto_detalle///buzorip_curl_terry/21903.html" class="zoomproducto"></a>
                                </div>
                            </div>
        				</div>       
					    <div class="cleaner"></div>                                             
                       <!-- Inicio Iconos Producto -->
        			   <div class="iconos-producto">                      
                       		<div class="media">                                                
                                <div id="whislist_2941">
                                    <a class="medialink" style="cursor:pointer;" onclick="addtowishlist('2941', 'list');">
                                        <img src="images/media-ico-wl.png">
                                    </a>            
                                </div>                                   
                                    <a class="medialink" target="_blank" onclick="popup('https://www.facebook.com/sharer.php?u=https://www.ripcurlargentina.com/producto_detalle/buzo_rip_curl_terry/21903.html&amp;t=Buzo Rip Curl Terry', '', '720', '450')" style="cursor:pointer">
                                        <img src="images/media-ico-fb.png">
                                    </a>                                    
                                    <a class="medialink" target="_blank" onclick="popup('https://twitter.com/home?status=https%3A%2F%2Fwww.ripcurlargentina.com%2Fproducto_detalle%2Fbuzorip_curl_terry%2F21903.html+en+Cristobal', '', '720', '450')" style="cursor:pointer">
                                        <img src="images/media-ico-tw.png">
                                    </a>                                   
                            </div>                             
                            <div class="iconos-estado">
                                <img src="images/ico-enviogratis-small.png">
                            </div>                       
                        </div>
        			    <!-- Fin Iconos Producto -->
                        <div class="productos-titulolist">
							<a href="https://www.ripcurlargentina.com/producto_detalle//buzorip_curl_terry/21903.html" class="productos-titulolist">
								marca<br>modelo							
                            </a>
						</div>
                        <div class="productos-marcalist">
							<span>- </span>producto<span> -</span>
						</div>
						<div class="productos-preciolist">
							<span style="color:#333; font-size:15px; font-weight: 400;">$ 8999.-</span>
                            <a href="https://www.ripcurlargentina.com/producto_detalle//buzorip_curl_terry/21903.html" class="button-comprar" style="float:right;">COMPRAR</a>								
                            <!--<a href="#" class="button-comprar" style="float:right;">COMPRAR</a>-->
						</div>
					</div>
                </div>
            </div>
            <div class="owl-item" style="width: 371px;">
                <div class="owl-item" style="width: 371px;">
                    <div class="item">
				        <div class="view view-first">
                            <img src="images/marco-prod-list.png" class="scale-with-grid">
						    <img src="imagen" class="scale-with-grid" style="position: absolute; top: 0;">                        	
                            <div class="mask">              
                                <div class="contenidoproducto">
                                    <a href="https://www.ripcurlargentina.com/producto_detalle///camperarip_curl_anti_serie/21987.html" class="zoomproducto"></a>
                                </div>
                            </div>
        				</div>
					    <div class="cleaner"></div>
                        <!-- Inicio Iconos Producto -->
        			    <div class="iconos-producto">
                       		<div class="media">             
                                <div id="whislist_2941">
                                    <a class="medialink" style="cursor:pointer;" onclick="addtowishlist('2941', 'list');">
                                        <img src="images/media-ico-wl.png">
                                    </a>            
                                </div>                                  
                                <a class="medialink" target="_blank" onclick="popup('https://www.facebook.com/sharer.php?u=https://www.ripcurlargentina.com/producto_detalle/campera_rip_curl_anti_serie/21987.html&amp;t=Campera Rip Curl Anti Serie', '', '720', '450')" style="cursor:pointer">
                                    <img src="images/media-ico-fb.png">
                                </a>  
                                <a class="medialink" target="_blank" onclick="popup('https://twitter.com/home?status=https%3A%2F%2Fwww.ripcurlargentina.com%2Fproducto_detalle%2Fcamperarip_curl_anti_serie%2F21987.html+en+Cristobal', '', '720', '450')" style="cursor:pointer">
                                    <img src="images/media-ico-tw.png">
                                </a>   
                            </div> 
                            <div class="iconos-estado">
                                <img src="https://www.ripcurlargentina.com/images/ico-enviogratis-small.png">
                            </div>                       
                        </div>
        			    <!-- Fin Iconos Producto -->	
						<div class="productos-titulolist">
							<a href="https://www.ripcurlargentina.com/producto_detalle//camperarip_curl_anti_serie/21987.html" class="productos-titulolist">
								marca<br>modelo								
                            </a>
						</div>
                        <div class="productos-marcalist">
							<span>- </span>producto<span> -</span>
						</div>
						<div class="productos-preciolist">
							<span style="color:#333; font-size:15px; font-weight: 400;">$ 49999.-</span>
                            <a href="https://www.ripcurlargentina.com/producto_detalle//camperarip_curl_anti_serie/21987.html" class="button-comprar" style="float:right;">COMPRAR</a>								
                            <!--<a href="#" class="button-comprar" style="float:right;">COMPRAR</a>-->
						</div>

					</div>
                </div>
            </div>
            <div class="owl-item" style="width: 371px;">
                <div class="owl-item" style="width: 371px;">
                    <div class="item">
        				<div class="view view-first">
                        	<img src="images/marco-prod-list.png" class="scale-with-grid">
						    <img src="imagen" class="scale-with-grid" style="position: absolute; top: 0;">                        	
                            <div class="mask">            
                                <div class="contenidoproducto">
                                    <a href="https://www.ripcurlargentina.com/producto_detalle///camperarip_curl_long_puffer/21989.html" class="zoomproducto"></a>
                                </div>
                            </div>
        				</div>
					    <div class="cleaner"></div>
                        <!-- Inicio Iconos Producto -->
        			    <div class="iconos-producto">
                       		<div class="media">                               
                                <div id="whislist_2941">
                                    <a class="medialink" style="cursor:pointer;" onclick="addtowishlist('2941', 'list');">
                                        <img src="images/media-ico-wl.png">
                                    </a>            
                                </div>                           
                                    <a class="medialink" target="_blank" onclick="popup('https://www.facebook.com/sharer.php?u=https://www.ripcurlargentina.com/producto_detalle/campera_rip_curl_long_puffer/21989.html&amp;t=Campera Rip Curl Long Puffer', '', '720', '450')" style="cursor:pointer">
                                        <img src="images/media-ico-fb.png">
                                    </a>
                                    <a class="medialink" target="_blank" onclick="popup('https://twitter.com/home?status=https%3A%2F%2Fwww.ripcurlargentina.com%2Fproducto_detalle%2Fcamperarip_curl_long_puffer%2F21989.html+en+Cristobal', '', '720', '450')" style="cursor:pointer">
                                        <img src="images/media-ico-tw.png">
                                    </a>   
                            </div>                             
                            <div class="iconos-estado">
                                <img src="https://www.ripcurlargentina.com/images/ico-enviogratis-small.png">
                            </div>                       
                        </div>
        			    <!-- Fin Iconos Producto -->	
						<div class="productos-titulolist">
							<a href="https://www.ripcurlargentina.com/producto_detalle//camperarip_curl_long_puffer/21989.html" class="productos-titulolist">
								marca<br>modelo								
                            </a>
						</div>
                        <div class="productos-marcalist">
							<span>- </span>producto<span> -</span>
						</div>
						<div class="productos-preciolist">
							<span style="color:#333; font-size:15px; font-weight: 400;">$ 24999.-</span>
                            <a href="https://www.ripcurlargentina.com/producto_detalle//camperarip_curl_long_puffer/21989.html" class="button-comprar" style="float:right;">COMPRAR</a>								
                            <!--<a href="#" class="button-comprar" style="float:right;">COMPRAR</a>-->
						</div>
					</div>
                </div>
            </div>
            <div class="owl-item" style="width: 371px;">
                <div class="owl-item" style="width: 371px;">
                    <div class="item">      
        				<div class="view view-first">
                        	<img src="images/marco-prod-list.png" class="scale-with-grid">						
						    <img src="imagen" class="scale-with-grid" style="position: absolute; top: 0;">                        	
                            <div class="mask">                			                                                                           
                                <div class="contenidoproducto">
                                    <a href="https://www.ripcurlargentina.com/producto_detalle///beanierip_curl_flecker/20870.html" class="zoomproducto"></a>
                                </div>
                            </div>
        				</div>
					    <div class="cleaner"></div>
                        <!-- Inicio Iconos Producto -->
        			    <div class="iconos-producto">
                       		<div class="media">                                               
                                <div id="whislist_2941">
                                    <a class="medialink" style="cursor:pointer;" onclick="addtowishlist('2941', 'list');">
                                        <img src="images/media-ico-wl.png">
                                    </a>            
                                </div> 
                                <a class="medialink" target="_blank" onclick="popup('https://www.facebook.com/sharer.php?u=https://www.ripcurlargentina.com/producto_detalle/beanie_rip_curl_flecker/20870.html&amp;t=Beanie Rip Curl Flecker', '', '720', '450')" style="cursor:pointer">
                                    <img src="images/media-ico-fb.png">
                                </a>  
                                <a class="medialink" target="_blank" onclick="popup('https://twitter.com/home?status=https%3A%2F%2Fwww.ripcurlargentina.com%2Fproducto_detalle%2Fbeanierip_curl_flecker%2F20870.html+en+Cristobal', '', '720', '450')" style="cursor:pointer">
                                    <img src="images/media-ico-tw.png">
                                </a>    
                            </div>                             
                            <div class="iconos-estado">
                                <img src="https://www.ripcurlargentina.com/images/ico-enviogratis-small.png">
                            </div>                       
                        </div>
        			    <!-- Fin Iconos Producto -->	
						<div class="productos-titulolist">
							<a href="https://www.ripcurlargentina.com/producto_detalle//beanierip_curl_flecker/20870.html" class="productos-titulolist">
								marca<br>modelo								
                            </a>
						</div>
                        <div class="productos-marcalist">
							<span>- </span>producto<span> -</span>
						</div>
						<div class="productos-preciolist">
							<span style="color:#333; font-size:15px; font-weight: 400;">$ 2999.-</span>
                            <a href="https://www.ripcurlargentina.com/producto_detalle//beanierip_curl_flecker/20870.html" class="button-comprar" style="float:right;">COMPRAR</a>								
                            <!--<a href="#" class="button-comprar" style="float:right;">COMPRAR</a>-->
						</div>
					</div>
                </div>
            </div>
        </div>
    </div>             
	<div class="owl-controls clickable">
        <div class="owl-pagination">
            <div class="owl-page active">
                <span class=""></span>
            </div>
            <div class="owl-page">
                <span class=""></span>
            </div>
            <div class="owl-page">
                <span class=""></span>
            </div>
            <div class="owl-page">
                <span class=""></span>
            </div>
            <div class="owl-page">
                <span class=""></span>
            </div>
        </div>
        <div class="owl-buttons">
            <div class="owl-prev"></div>
            <div class="owl-next">
</div>
        </div>
    </div>
</div>
    <!-- Fin Slide Productos -->
</div>
</div>
<!-- Fin Home Productos -->