<!DOCTYPE html>
<html>

<head></head>



<body class="">

    <!-- Inicio Main
   ================================================== -->
    <div id="main">

        <!-- Inicio Slides -->
        <div id="bannershome" class="flexslider">
            <ul class="slides">
                <li><a href='../productos' target='_self'><img
                            src='https://www.pcspecialist.es/images/landing/coolermaster/mb540/cm-lifestyle.jpg'></a>
                </li>
                <li><a href='../productos' target='_self'><img
                            src='https://storage-asset.msi.com/global/picture/image/feature/PC-Components/MAG-Vampiric100R/kv_100r.jpg'></a>
                </li>
                <li><a href='../productos' target='_self'><img
                            src='https://i0.wp.com/the-update.com/wp-content/uploads/2021/12/KV-OLED-Family-1.jpg?fit=1920%2C680&ssl=1'></a>
                </li>
                <li><a href='../productos' target='_self'><img
                            src='https://ae01.alicdn.com/kf/U628c7932e0634afe922698efe1e932ebP.jpg'></a>
                </li>
                <li><a href='../productos' target='_self'><img
                            src='https://bolsastransparentes.es/modules/piximageslider/views/images/sample-2.jpg'></a>
                </li>
            </ul>
        </div>
        <!-- Fin Slides -->

        <!-- Inicio Home Destacados -->
        <div id="home-destacados">
            <div class="content">
                <!-- Inicio Columna 1 -->
                <div class="columna-small">
                    <a href="RUTA A CELULARES" target="_self">
                        <div class="columna-content">
                            <div class="pic"
                                style="background-image:url(https://www.eltiempo.com/files/article_main/uploads/2017/03/18/58cdc63522694.jpeg)">
                                <img src="images/marcowide.png">
                            </div>
                            <div class="info">
                                <h4 class="bold">Cellulars</h4>
                                <p>Visit our cellulars line.</p>
                                <h5 class="white">BUY</h5>
                            </div>
                        </div>
                    </a>
                </div>
                <!-- Fin Columna 1 -->
                <!-- Inicio Columna 2 -->
                <div class="columna-small">
                    <a href="RUTA DE TABLETS" target="_self">
                        <div class="columna-content">
                            <div class="pic"
                                style="background-image:url(https://s1.eestatic.com/2022/02/03/elandroidelibre/moviles-android/analisis/647445677_221583951_1706x960.jpg)">
                                <img src="images/marcowide.png">
                            </div>
                            <div class="info">
                                <h4 class="bold">Tablets</h4>
                                <p>Visit our tablets line.</p>
                                <h5 class="white">BUY</h5>
                            </div>
                        </div>
                    </a>
                </div>
                <!-- Fin Columna 2 -->
                <!-- Inicio Columna 3 -->
                <div class="columna-small">
                    <a href="RUTA DE NOTEBOOKS" target="_self">
                        <div class="columna-content">
                            <div class="pic"
                                style="background-image:url(https://img.freepik.com/foto-gratis/mujer-negocios-que-trabajan-computadora-portatil_1388-67.jpg?w=2000)">
                                <img src="images/marcowide.png">
                            </div>
                            <div class="info">
                                <h4 class="bold">Notebooks</h4>
                                <p>Visit our notebooks line.</p>
                                <h5 class="white">BUY</h5>
                            </div>
                        </div>
                    </a>
                </div>
                <!-- Fin Columna 3 -->
                <!-- Inicio Columna 4 -->
                <div class="columna-small">
                    <a href="RUTA DE ACCESORIOS" target="_self">
                        <div class="columna-content">
                            <div class="pic"
                                style="background-image:url(https://i.ytimg.com/vi/iQlqELeCL24/maxresdefault.jpg)">
                                <img src="images/marcowide.png">
                            </div>
                            <div class="info">
                                <h4 class="bold">Accesories</h4>
                                <p>Visit our accessories line.</p>
                                <h5 class="white">BUY</h5>
                            </div>
                        </div>
                    </a>
                </div>
                <!-- Fin Columna 4 -->

            </div>
        </div>
        <!-- Fin Home Destacados -->

        <!-- Inicio Home Productos -->
        <div id="home-productos">
            <div class="content">

                <div class="line-tit">
                    <h4 class="bold">PRODUCTOS DESTACADOS</h4>
                </div>

                <!-- Inicio Slide productos -->
                <div id="owl-demo" class="owl-carousel">
                    <!-- Inicio de Producto 1 -->
                    <div class="owl-item" style="width: 277px;">
                        <div class="item">

                            <div class="view view-first">

                                <img src="images/marco-prod-list.png" class="scale-with-grid">

                                <img src="https://www.lenovo.com/medias/22435282109-81W4PGNF-20200119035150.png?context=bWFzdGVyfHJvb3R8ODI5MjZ8aW1hZ2UvcG5nfGg0ZS9oYTcvMTEyNTgxMjQ0MzU0ODYucG5nfDU1NjY4ZjBmZDRhMWVlOTBjMzlkMjgwZjM4ODFiZmY4Mjg0ZDM4ZjM5YjM2YzAzMWU4YzFiOTMyNDYwMTBkZjQ"
                                    class="scale-with-grid" style="position: absolute; top: 0;">
                                <div class="mask">



                                    <div class="contenidoproducto">
                                        <a href="RUTA HACIA DETALLE DEL PRODUCTO" class="zoomproducto"></a>
                                    </div>
                                </div>
                            </div>

                            <div class="cleaner"></div>


                            <!-- Inicio Iconos Producto -->

                            <div class="iconos-producto">
                            </div>

                            <!-- Fin Iconos Producto -->
                            <div class="productos-titulolist">
                                <a href="RUTA(DETALLE DEL PRODUCTO)" class="productos-titulolist">
                                    LENOVO<br>IdeaPad 3i 15" - Platinum Grey
                                </a>
                            </div>
                            <div class="productos-marcalist">
                                <span>- </span>Notebooks<span> -</span>
                            </div>
                            <div class="productos-preciolist">
                                <span style="color:#333; font-size:15px; font-weight: 400;">$
                                    105.799-</span>
                                <a href="https://www.ripcurlargentina.com/producto_detalle//rompevientosrip_curl_spray/22618.html"
                                    class="button-comprar" style="float:right;">COMPRAR</a>
                                <!--<a href="#" class="button-comprar" style="float:right;">COMPRAR </a>-->
                            </div>

                        </div>
                    </div>                   
                    <!-- Fin de Producto 1 -->
                    <!-- Inicio de Producto 2 -->
                    <div class="owl-item" style="width: 277px;">
                        <div class="item">

                            <div class="view view-first">

                                <img src="images/marco-prod-list.png" class="scale-with-grid">

                                <img src="https://www.lenovo.com/medias/22961463928-ip-5-gg-20200928031527.png?context=bWFzdGVyfHJvb3R8OTk2NDJ8aW1hZ2UvcG5nfGhjMS9oNDQvMTE1NzE4NjQ5MjgyODYucG5nfGY4YTQ4YzJkYTZjOWZkZjI4MjQ5ZWQ1OGVjM2EyMDFmNGQzYWY3YmI2NjNlNzQ0NDMzYmZkMDNlOTQyY2M5Zjc"
                                                        class="scale-with-grid" style="position: absolute; top: 0;">
                                <div class="mask">



                                    <div class="contenidoproducto">
                                        <a href="RUTA DEL DETALLE DEL PRODUCTO"
                                            class="zoomproducto"></a>
                                    </div>
                                </div>
                            </div>

                            <div class="cleaner"></div>


                            <!-- Inicio Iconos Producto -->
                            <div class="iconos-producto">

                            </div>
                            <!-- Fin Iconos Producto -->



                            <div class="productos-titulolist">
                                <a href="https://www.ripcurlargentina.com/producto_detalle//remerarip_curl_pacific_dragon_indonesia/22645.html"
                                    class="productos-titulolist">
                                    LENOVO<br>IdeaPad 5i 14" - Graphite Grey
                                </a>
                            </div>
                            <div class="productos-marcalist">
                                <span>- </span>Notebooks<span> -</span>
                            </div>
                            <div class="productos-preciolist">
                                <span style="color:#333; font-size:15px; font-weight: 400;">$
                                    157.999-</span>
                                <a href="https://www.ripcurlargentina.com/producto_detalle//remerarip_curl_pacific_dragon_indonesia/22645.html"
                                    class="button-comprar" style="float:right;">COMPRAR</a>
                                <!--<a href="#" class="button-comprar" style="float:right;">COMPRAR</a>-->
                            </div>

                        </div>
                    </div>
                    <!-- Fin de Producto 2 -->
                    <!-- Inicio de Producto 3 -->
                    <div class="owl-item" style="width: 277px;">
                        <div class="item">

                            <div class="view view-first">

                                <img src="images/marco-prod-list.png" class="scale-with-grid">

                                <img src="https://buytek.net/wp-content/uploads/2021/10/Iphone-13-Pro.11.png"
                                                        class="scale-with-grid" style="position: absolute; top: 0;">
                                <div class="mask">



                                    <div class="contenidoproducto">
                                        <a href="RUTA DEL DETALLE DEL PRODUCTO"
                                            class="zoomproducto"></a>
                                    </div>
                                </div>
                            </div>

                            <div class="cleaner"></div>


                            <!-- Inicio Iconos Producto -->
                            <div class="iconos-producto">

                            </div>
                            <!-- Fin Iconos Producto -->



                            <div class="productos-titulolist">
                                <a href="https://www.ripcurlargentina.com/producto_detalle//camperarip_curl_anti_series/22746.html"
                                    class="productos-titulolist">
                                    APPLE<br>Iphone-13-Pro
                                </a>
                            </div>
                            <div class="productos-marcalist">
                                <span>- </span>Cellulars<span> -</span>
                            </div>
                            <div class="productos-preciolist">
                                <span style="color:#333; font-size:15px; font-weight: 400;">$
                                    142.200-</span>
                                <a href="https://www.ripcurlargentina.com/producto_detalle//camperarip_curl_anti_series/22746.html"
                                    class="button-comprar" style="float:right;">COMPRAR</a>
                                <!--<a href="#" class="button-comprar" style="float:right;">COMPRAR</a>-->
                            </div>
                        </div>
                    </div>
                    <!-- Fin de Producto 3 -->
                    <!-- Inicio de Producto 4 -->
                    <div class="owl-item" style="width: 277px;">
                        <div class="item">

                            <div class="view view-first">

                                <img src="images/marco-prod-list.png" class="scale-with-grid">

                                <img src="https://www.macstation.com.ar/img/productos/2699-1.jpg"
                                    class="scale-with-grid" style="position: absolute; top: 0;">
                                <div class="mask">



                                    <div class="contenidoproducto">
                                        <a href="RUTA DEL DETALLE DEL PRODUCTO"
                                            class="zoomproducto"></a>
                                    </div>
                                </div>
                            </div>

                            <div class="cleaner"></div>


                            <!-- Inicio Iconos Producto -->
                            <div class="iconos-producto">

                            </div>
                            <!-- Fin Iconos Producto -->



                            <div class="productos-titulolist">
                                <a href="https://www.ripcurlargentina.com/producto_detalle//cuellorip_curl_tubo_abyss/16372.html"
                                    class="productos-titulolist">
                                    Apple<br>Ipad Pro 12.9"
                                </a>
                            </div>
                            <div class="productos-marcalist">
                                <span>- </span>Tablets<span> -</span>
                            </div>
                            <div class="productos-preciolist">
                                <span style="color:#333; font-size:15px; font-weight: 400;">$
                                    410.999-</span>
                                <a href="https://www.ripcurlargentina.com/producto_detalle//cuellorip_curl_tubo_abyss/16372.html"
                                    class="button-comprar" style="float:right;">COMPRAR</a>
                                <!--<a href="#" class="button-comprar" style="float:right;">COMPRAR</a>-->
                            </div>

                        </div>
                    </div>
                    <!-- Fin de Producto 4 -->
                    <!-- Inicio de Producto 5 -->
                    <div class="owl-item" style="width: 277px;">
                        <div class="item">

                            <div class="view view-first">

                                <img src="images/marco-prod-list.png" class="scale-with-grid">

                                <img src="https://www.cristobalcolon.com/fullaccess/item18628foto85574th.jpg"
                                    class="scale-with-grid" style="position: absolute; top: 0;"><img
                                    src="https://www.cristobalcolon.com/images/ico-pickup-small.png"
                                    style="position: absolute;top: 5px;">
                                <div class="mask">



                                    <div class="contenidoproducto">
                                        <a href="https://www.ripcurlargentina.com/producto_detalle///pantalonrip_curl_slouch_beached/18628.html"
                                            class="zoomproducto"></a>
                                    </div>
                                </div>
                            </div>

                            <div class="cleaner"></div>


                            <!-- Inicio Iconos Producto -->
                            <div class="iconos-producto">


                            </div>
                            <!-- Fin Iconos Producto -->



                            <div class="productos-titulolist">
                                <a href="https://www.ripcurlargentina.com/producto_detalle//pantalonrip_curl_slouch_beached/18628.html"
                                    class="productos-titulolist">
                                    Pantalon<br />
                                    Rip Curl Slouch Beached </a>
                            </div>
                            <div class="productos-marcalist">
                                <span>- </span>Nene<span> -</span>
                            </div>
                            <div class="productos-preciolist">
                                <span style="color:#333; font-size:15px; font-weight: 400;">$ 14999.-</span>
                                <a href="https://www.ripcurlargentina.com/producto_detalle//pantalonrip_curl_slouch_beached/18628.html"
                                    class="button-comprar" style="float:right;">COMPRAR</a>
                                <!--<a href="#" class="button-comprar" style="float:right;">
								COMPRAR
								</a>-->
                            </div>

                        </div>
                    </div>
                    <!-- Fin de Producto 5 -->
                    <!-- Inicio de Producto 6 -->
                    <div class="owl-item" style="width: 277px;">
                        <div class="item">

                            <div class="view view-first">

                                <img src="images/marco-prod-list.png" class="scale-with-grid">

                                <img src="https://www.cristobalcolon.com/fullaccess/item22094foto97354th.jpg"
                                    class="scale-with-grid" style="position: absolute; top: 0;">
                                <div class="mask">



                                    <div class="contenidoproducto">
                                        <a href="https://www.ripcurlargentina.com/producto_detalle///caprip_curl_little_savages/22094.html"
                                            class="zoomproducto"></a>
                                    </div>
                                </div>
                            </div>

                            <div class="cleaner"></div>


                            <!-- Inicio Iconos Producto -->
                            <div class="iconos-producto">


                            </div>
                            <!-- Fin Iconos Producto -->



                            <div class="productos-titulolist">
                                <a href="https://www.ripcurlargentina.com/producto_detalle//caprip_curl_little_savages/22094.html"
                                    class="productos-titulolist">
                                    Cap<br />
                                    Rip Curl Little Savages </a>
                            </div>
                            <div class="productos-marcalist">
                                <span>- </span>Nene<span> -</span>
                            </div>
                            <div class="productos-preciolist">
                                <span style="color:#333; font-size:15px; font-weight: 400;">$ 6999.-</span>
                                <a href="https://www.ripcurlargentina.com/producto_detalle//caprip_curl_little_savages/22094.html"
                                    class="button-comprar" style="float:right;">COMPRAR</a>
                                <!--<a href="#" class="button-comprar" style="float:right;">
								COMPRAR
								</a>-->
                            </div>

                        </div>
                    </div>
                    <!-- Fin de Producto 6 -->
                    <!-- Inicio de Producto 7 -->
                    <div class="owl-item" style="width: 277px;">
                        <div class="item">

                            <div class="view view-first">

                                <img src="images/marco-prod-list.png" class="scale-with-grid">

                                <img src="https://www.cristobalcolon.com/fullaccess/item22678foto98901th.jpg"
                                    class="scale-with-grid" style="position: absolute; top: 0;">
                                <div class="mask">



                                    <div class="contenidoproducto">
                                        <a href="https://www.ripcurlargentina.com/producto_detalle///camperarip_curl_puffer_retro/22678.html"
                                            class="zoomproducto"></a>
                                    </div>
                                </div>
                            </div>

                            <div class="cleaner"></div>


                            <!-- Inicio Iconos Producto -->
                            <div class="iconos-producto">


                            </div>
                            <!-- Fin Iconos Producto -->



                            <div class="productos-titulolist">
                                <a href="https://www.ripcurlargentina.com/producto_detalle//camperarip_curl_puffer_retro/22678.html"
                                    class="productos-titulolist">
                                    Campera<br />
                                    Rip Curl Puffer Retro </a>
                            </div>
                            <div class="productos-marcalist">
                                <span>- </span>Nene<span> -</span>
                            </div>
                            <div class="productos-preciolist">
                                <span style="color:#333; font-size:15px; font-weight: 400;">$ 24999.-</span>
                                <a href="https://www.ripcurlargentina.com/producto_detalle//camperarip_curl_puffer_retro/22678.html"
                                    class="button-comprar" style="float:right;">COMPRAR</a>
                                <!--<a href="#" class="button-comprar" style="float:right;">
								COMPRAR
								</a>-->
                            </div>

                        </div>
                    </div>
                    <!-- Fin de Producto 7 -->
                    <!-- Inicio de Producto 8 -->
                    <div class="owl-item" style="width: 277px;">
                        <div class="item">

                            <div class="view view-first">

                                <img src="images/marco-prod-list.png" class="scale-with-grid">

                                <img src="https://www.cristobalcolon.com/fullaccess/item22677foto98905th.jpg"
                                    class="scale-with-grid" style="position: absolute; top: 0;">
                                <div class="mask">



                                    <div class="contenidoproducto">
                                        <a href="https://www.ripcurlargentina.com/producto_detalle///buzorip_curl_ethnic/22677.html"
                                            class="zoomproducto"></a>
                                    </div>
                                </div>
                            </div>

                            <div class="cleaner"></div>


                            <!-- Inicio Iconos Producto -->
                            <div class="iconos-producto">




                            </div>
                            <!-- Fin Iconos Producto -->



                            <div class="productos-titulolist">
                                <a href="https://www.ripcurlargentina.com/producto_detalle//buzorip_curl_ethnic/22677.html"
                                    class="productos-titulolist">
                                    Buzo<br />
                                    Rip Curl Ethnic </a>
                            </div>
                            <div class="productos-marcalist">
                                <span>- </span>Nena<span> -</span>
                            </div>
                            <div class="productos-preciolist">
                                <span style="color:#333; font-size:15px; font-weight: 400;">$ 9999.-</span>
                                <a href="https://www.ripcurlargentina.com/producto_detalle//buzorip_curl_ethnic/22677.html"
                                    class="button-comprar" style="float:right;">COMPRAR</a>
                                <!--<a href="#" class="button-comprar" style="float:right;">
								COMPRAR
								</a>-->
                            </div>

                        </div>
                    </div>
                    <!-- Fin de Producto 8 -->
                </div>
                <!-- Fin Slide Productos -->
            </div>
        </div>
        <!-- Fin Home Productos -->
    </div>
    <!-- Fin Main -->

  

 
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>

    <!-- cloud-zoom -->
    <link href="/public/css/cloud-zoom.css" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="https://www.ripcurlargentina.com/js/cloud-zoom.1.0.2.min.js"></script>

    <script type="text/javascript" src="https://www.ripcurlargentina.com/js/AjaxLibrary.js"></script>

    <script>
        function popup(a, b, c, d) {
            window.open(a, b,
                "toolbar=no,location=no,directories=no,status=no,menubar=no,scrollbars=0,resizable=no,width=" + c +
                ",height=" + d + ",outerwidth=" + (0) + ",outerheight=" + (0));
        }

        function validatesearch() {
            console.log(event.keyCode);
            if (event.keyCode == 13 || event.keyCode == undefined) {

                if (document.getElementById('keyword').value == '' || document.getElementById('keyword').value ==
                    'Buscar Producto') {
                    alert('Ingrese una palabra.');
                    document.getElementById('keyword').focus();
                    return false;
                }

                keyword = document.getElementById('keyword').value.replace(/ /g, '_');
                keyword = document.getElementById('keyword').value.replace('á', 'a');
                keyword = document.getElementById('keyword').value.replace('é', 'e');
                keyword = document.getElementById('keyword').value.replace('í', 'i');
                keyword = document.getElementById('keyword').value.replace('ó', 'o');
                keyword = document.getElementById('keyword').value.replace('ú', 'u');
                keyword = document.getElementById('keyword').value.replace(' & ', '_and_');
                keyword = document.getElementById('keyword').value.replace(/\s/g, '_');
                document.searchform.action = "https://www.ripcurlargentina.com/resultados_de_busqueda/" + keyword
                    .toLowerCase() + ".html";

                document.searchform.submit();
            }
        }

        function clearfield(field) {

            if (document.getElementById(field).defaultValue == document.getElementById(field).value) {
                document.getElementById(field).value = "";
            } else if (document.getElementById(field).value == "") {
                document.getElementById(field).value = document.getElementById(field).defaultValue;
            }
        }

        function loadfield(field) {
            if (document.getElementById(field).value == "") {
                document.getElementById(field).value = document.getElementById(field).defaultValue;
            }
        }

        function addtowishlist(id_item, type) {
            if ('' == '') {
                alert("Para poder poder agregar productos a su lista de deseos debe esta registrado.");
                return false;
            }

            id_item = id_item;
            AjaxCall("https://www.ripcurlargentina.com/addtowishlist.php?id_item=" + id_item + "&id_user=&type=" + type,
                "whislist_" + id_item);
        }
    </script>


    <!-- Hover Efects
        ================================================== -->
    <link rel="stylesheet" type="text/css" href="/public/css/hover-effects.css" />


    <!-- FlexSlider
        ================================================== -->
    <link rel="stylesheet" href="/public/css/flexslider.css" type="text/css" media="screen" />
    <script defer src="https://www.ripcurlargentina.com/javascripts/jquery.flexslider.js"></script>

    <script type="text/javascript">
        //$(function(){
        //  SyntaxHighlighter.all();
        //});
        $(window).load(function () {
            $('#bannershome').flexslider({
                animation: "slide",
                slideshow: true,
                directionNav: true,
                start: function (slider) {
                    $('body').removeClass('loading');
                }
            });
        });
    </script>

    <!-- Owl Carousel Assets
        ================================================== -->
    <link href="/public/css/owl.carousel.css" rel="stylesheet">
    <link href="/public/css/owl.theme.css" rel="stylesheet">
    <!--<script src="https://www.ripcurlargentina.com/assets/js/jquery-1.9.1.min.js"></script> -->
    <script src="https://www.ripcurlargentina.com/owl-carousel/owl.carousel.min.js"></script>

    <style>
        #owl-demo .item {
            background: #ffffff;
            padding: 0;
            margin: 20px;
            text-align: center;
            -webkit-transition: box-shadow 0.3s ease-out;
            -o-transition: box-shadow 0.3s ease-out;
            transition: box-shadow 0.3s ease-out;
            -webkit-transition: all box-shadow 0.3s ease-out ease;
            -moz-transition: all box-shadow 0.3s ease-out ease;
            -ms-transition: all box-shadow 0.3s ease-out ease;
            -o-transition: all box-shadow 0.3s ease-out ease;
            transition: all box-shadow 0.3s ease-out ease;
        }

        #owl-demo .item:hover {
            padding: 10px;
            margin: 10px;
            -webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, 0.3);
            box-shadow: 0 3px 9px rgba(0, 0, 0, 0.3);
        }

        .button_flitro {
            float: left;
            margin-left: -18px;
        }
    </style>

    <script>
        $(document).ready(function () {
            var owl = $("#owl-demo");
            owl.owlCarousel({
                navigationText: false,
                itemsCustom: [
                    [0, 2],
                    [501, 2],
                    [801, 3],
                    [1261, 4],
                    [1581, 5],
                    [1600, 5]
                ],
                navigation: true
            });
        });
    </script>

</body>

</html>