<div id="main">
    <!-- Inicio Slides -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<div id="thumbnail-preview-indicators" class="carousel slide" data-ride="carousel">
          <!-- Indicators -->
          <ol class="carousel-indicators">
            <li data-target="#thumbnail-preview-indicators" data-slide-to="0" class="active"></li>
            <li data-target="#thumbnail-preview-indicators" data-slide-to="1"></li>
            <li data-target="#thumbnail-preview-indicators" data-slide-to="2"></li>
          </ol>
          <div class="carousel-inner">
            <div class="item slides active">
              <div class="slide-1"></div>
              <div class="container"></div>
            </div>
            <div class="item slides">
              <div class="slide-2"></div>
              <div class="container"></div>
            </div>
            <div class="item slides">
              <div class="slide-3"></div>
              <div class="container"></div>
            </div>
          </div>
          <a class="left carousel-control" href="#thumbnail-preview-indicators" role="button" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a>
          <a class="right carousel-control" href="#thumbnail-preview-indicators" role="button" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
      </div> 
      
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <!-- Fin Slides -->   
    <!-- Inicio Home Destacados -->
    <section id="home-destacados">
        <div class="content">
		<!-- Inicio Columna -->
			<article class="columna-small">
				<a href="RUTA DE CELULARES" target="_self">
					<div class="columna-content">
						<div class="pic" style="background-image:url(https://www.eltiempo.com/files/article_main/uploads/2017/03/18/58cdc63522694.jpeg)">
						    <img src="images/marcowide.png">
						</div>
						<div class="info">
						    <h4 class="bold">Cellulars</h4>
						    <p>Visit our cellulars line.</p>
						    <h5 class="white">BUY</h5>
						</div>
					</div>
				</a>
			</article>
			<!-- Fin Columna -->
			<!-- Inicio Columna -->
			<article class="columna-small">
				<a href="RUTA DE TABLETS" target="_self">
					<div class="columna-content">
						<div class="pic" style="background-image:url(https://s1.eestatic.com/2022/02/03/elandroidelibre/moviles-android/analisis/647445677_221583951_1706x960.jpg)">
						    <img src="images/marcowide.png">
						</div>
						<div class="info">
						    <h4 class="bold">Tablets</h4>
						    <p>Visit our tablets line.</p>
						    <h5 class="white">BUY</h5>
						</div>
					</div>
				</a>
			</article>
			<!-- Fin Columna -->
			<!-- Inicio Columna -->
			<article class="columna-small">
			    <a href="RUTA DE NOTEBOOKS" target="_self">
					<div class="columna-content">
						<div class="pic" style="background-image:url(https://img.freepik.com/foto-gratis/mujer-negocios-que-trabajan-computadora-portatil_1388-67.jpg?w=2000)">
						    <img src="images/marcowide.png">
						</div>
						<div class="info">
						    <h4 class="bold">Notebooks</h4>
						    <p>Visit our notebooks line.</p>
						    <h5 class="white">BUY</h5>
						</div>
					</div>
				</a>
			</article>
			<!-- Fin Columna -->
			<!-- Inicio Columna -->
			<article class="columna-small">
				<a href="RUTA DE ACCESORIOS" target="_self">
					<div class="columna-content">
						<div class="pic" style="background-image:url(https://i.ytimg.com/vi/iQlqELeCL24/maxresdefault.jpg)">
						    <img src="images/marcowide.png">
						</div>
						<div class="info">
						    <h4 class="bold">Accesories</h4>
						    <p>Visit our accessories line.</p>
						    <h5 class="white">BUY</h5>
						</div>
					</div>
				</a>
			</article>
		<!-- Fin Columna -->					
        </div>
    </section>
    <!-- Fin Home Destacados -->      
    <!-- Inicio Home Productos -->
    <section id="home-productos">
        <div class="content">
            <div class="line-tit">
                <h4 class="bold">FEATURED PRODUCTS</h4>
            </div>   
            <!-- Inicio Slide productos -->
            <div id="owl-demo" class="owl-carousel owl-theme" style="opacity: 1; display: block;">
                 <div class="owl-wrapper-outer">
                    <div class="owl-wrapper" style="width: 8480px; left: 0px; display: block;">
                        <div class="owl-item" style="width: 265px;">
                            <div class="owl-item" style="width: 265px;">
                                <div class="item">
                                    <div class="view view-first">                
                                        <img src="images/marco-prod-list.png" class="scale-with-grid">                
                                        <img src="https://www.cristobalcolon.com/fullaccess/item22103foto97373th.jpg" class="scale-with-grid" style="position: absolute; top: 0;">
                                        <img src="https://www.cristobalcolon.com/images/ico-pickup-small.png" style="position: absolute;top: 5px;">                        	
                                        <div class="mask">
                                            <div class="contenidoproducto">
                                                <a href="https://www.ripcurlargentina.com/producto_detalle///beanierip_curl_bells/22103.html" class="zoomproducto"></a>
                                            </div>
                                        </div>
                                    </div>
                                <div class="cleaner"></div>
                                <!-- Inicio Iconos Producto -->
                                <div class="iconos-producto">               
                                    <div class="media"> 
                                        <div id="whislist_2941">
                                            <a class="medialink" style="cursor:pointer;" onclick="addtowishlist('2941', 'list');">
                                                <img src="images/media-ico-wl.png">
                                            </a>            
                                        </div>
                                       <a class="medialink" target="_blank" onclick="popup('https://www.facebook.com/sharer.php?u=https://www.ripcurlargentina.com/producto_detalle/beanie_rip_curl_bells/22103.html&amp;t=Beanie Rip Curl Bells', '', '720', '450')" style="cursor:pointer">
                                            <img src="images/media-ico-fb.png">
                                        </a>                            
                                        <a class="medialink" target="_blank" onclick="popup('https://twitter.com/home?status=https%3A%2F%2Fwww.ripcurlargentina.com%2Fproducto_detalle%2Fbeanierip_curl_bells%2F22103.html+en+Cristobal', '', '720', '450')" style="cursor:pointer">
                                            <img src="images/media-ico-tw.png">
                                        </a>                           
                                    </div>                     
                                    <div class="iconos-estado">
                                        <img src="https://www.ripcurlargentina.com/images/ico-enviogratis-small.png">
                                    </div>                       
                                </div>
                                <!-- Fin Iconos Producto -->                    
                                <div class="productos-titulolist">
                                    <a href="https://www.ripcurlargentina.com/producto_detalle//beanierip_curl_bells/22103.html" class="productos-titulolist">
                                        Beanie<br>Rip Curl Bells								
                                    </a>
                                </div>
                            <div class="productos-marcalist">
                                <span>- </span>Hombre<span> -</span>
                            </div>
                            <div class="productos-preciolist">
                                <span style="color:#333; font-size:15px; font-weight: 400;">$ 4599.-</span>
                                <a href="https://www.ripcurlargentina.com/producto_detalle//beanierip_curl_bells/22103.html" class="button-comprar" style="float:right;">COMPRAR</a>								
                                <!--<a href="#" class="button-comprar" style="float:right;">COMPRAR</a>-->
                            </div>
                                </div>
                            </div>
                        </div>
                <div class="owl-item" style="width: 265px;">
                    <div class="owl-item" style="width: 265px;">
                        <div class="item">
                            <div class="view view-first">               
                                <img src="images/marco-prod-list.png" class="scale-with-grid">               
                                <img src="https://www.cristobalcolon.com/fullaccess/item22151foto97478th.jpg" class="scale-with-grid" style="position: absolute; top: 0;">
                                <img src="https://www.cristobalcolon.com/images/ico-pickup-small.png" style="position: absolute;top: 5px;">                        	
                                <div class="mask">                                                                               
                                    <div class="contenidoproducto">
                                        <a href="https://www.ripcurlargentina.com/producto_detalle///camperarip_curl_solid_rock/22151.html" class="zoomproducto"></a>
                                    </div>
                                </div>
                            </div>
                            <div class="cleaner"></div>             
                            <!-- Inicio Iconos Producto -->
                            <div class="iconos-producto">               
                                <div class="media">                                      
                                    <div id="whislist_2941">
                                        <a class="medialink" style="cursor:pointer;" onclick="addtowishlist('2941', 'list');">
                                            <img src="images/media-ico-wl.png">
                                        </a>            
                                    </div>                     
                                    <a class="medialink" target="_blank" onclick="popup('https://www.facebook.com/sharer.php?u=https://www.ripcurlargentina.com/producto_detalle/campera_rip_curl_solid_rock/22151.html&amp;t=Campera Rip Curl Solid Rock', '', '720', '450')" style="cursor:pointer">
                                       <img src="images/media-ico-fb.png">
                                    </a>                       
                                    <a class="medialink" target="_blank" onclick="popup('https://twitter.com/home?status=https%3A%2F%2Fwww.ripcurlargentina.com%2Fproducto_detalle%2Fcamperarip_curl_solid_rock%2F22151.html+en+Cristobal', '', '720', '450')" style="cursor:pointer">
                                        <img src="images/media-ico-tw.png">
                                    </a>                         
                                </div>                   
                                <div class="iconos-estado">
                                    <img src="https://www.ripcurlargentina.com/images/ico-enviogratis-small.png">
                                </div>                       
                            </div>
                            <!-- Fin Iconos Producto -->                  
                            <div class="productos-titulolist">
                                <a href="https://www.ripcurlargentina.com/producto_detalle//camperarip_curl_solid_rock/22151.html" class="productos-titulolist">
                                    Campera<br>Rip Curl Solid Rock								
                                </a>
                            </div>
                            <div class="productos-marcalist">
                                <span>- </span>Hombre<span> -</span>
                            </div>
                            <div class="productos-preciolist">
                                <span style="color:#333; font-size:15px; font-weight: 400;">$ 24999.-</span>
                                <a href="https://www.ripcurlargentina.com/producto_detalle//camperarip_curl_solid_rock/22151.html" class="button-comprar" style="float:right;">COMPRAR</a>								
                                <!--<a href="#" class="button-comprar" style="float:right;">COMPRAR</a>-->
                           </div>
                        </div>
                    </div>
                </div>
                <div class="owl-item" style="width: 265px;">
                    <div class="owl-item" style="width: 265px;">
                        <div class="item">
                            <div class="view view-first">             
                                <img src="images/marco-prod-list.png" class="scale-with-grid">           
                                <img src="https://www.cristobalcolon.com/fullaccess/item22192foto97608th.jpg" class="scale-with-grid" style="position: absolute; top: 0;">                        	
                                <div class="mask">
                                    <div class="contenidoproducto">
                                        <a href="https://www.ripcurlargentina.com/producto_detalle///camperarip_curl_sundown/22192.html" class="zoomproducto"></a>
                                    </div>
                                </div>
                            </div>
                            <div class="cleaner"></div> 
                            <!-- Inicio Iconos Producto -->
                            <div class="iconos-producto">
                                <div class="media">                                      
                                    <div id="whislist_2941">
                                        <a class="medialink" style="cursor:pointer;" onclick="addtowishlist('2941', 'list');">
                                            <img src="images/media-ico-wl.png">
                                        </a>            
                                    </div>
                                    <a class="medialink" target="_blank" onclick="popup('https://www.facebook.com/sharer.php?u=https://www.ripcurlargentina.com/producto_detalle/campera_rip_curl_sundown/22192.html&amp;t=Campera Rip Curl Sundown', '', '720', '450')" style="cursor:pointer">
                                        <img src="images/media-ico-fb.png">
                                    </a>  
                                    <a class="medialink" target="_blank" onclick="popup('https://twitter.com/home?status=https%3A%2F%2Fwww.ripcurlargentina.com%2Fproducto_detalle%2Fcamperarip_curl_sundown%2F22192.html+en+Cristobal', '', '720', '450')" style="cursor:pointer">
                                        <img src="images/media-ico-tw.png">
                                    </a> 
                                </div>    
                                <div class="iconos-estado">
                                    <img src="https://www.ripcurlargentina.com/images/ico-agotado-small.png">
                                    <img src="https://www.ripcurlargentina.com/images/ico-enviogratis-small.png">
                                </div>                       
                            </div>
                            <!-- Fin Iconos Producto -->            
                            <div class="productos-titulolist">
                                <a href="https://www.ripcurlargentina.com/producto_detalle//camperarip_curl_sundown/22192.html" class="productos-titulolist">
                                    Campera<br>Rip Curl Sundown								
                                </a>
                            </div>
                            <div class="productos-marcalist">
                                <span>- </span>Hombre<span> -</span>
                            </div>
                            <div class="productos-preciolist">
                                <span style="color:#333; font-size:15px; font-weight: 400;">$ 23999.-</span>
                                <a href="https://www.ripcurlargentina.com/producto_detalle//camperarip_curl_sundown/22192.html" class="button-comprar" style="float:right;">COMPRAR</a>								
                                <!--<a href="#" class="button-comprar" style="float:right;">COMPRAR</a>-->
                            </div>
                        </div>
                    </div>
                </div>
                <div class="owl-item" style="width: 265px;">
                    <div class="owl-item" style="width: 265px;">
                        <div class="item">
                            <div class="view view-first">
                                <img src="images/marco-prod-list.png" class="scale-with-grid">
                                <img src="https://www.cristobalcolon.com/fullaccess/item22200foto97635th.jpg" class="scale-with-grid" style="position: absolute; top: 0;">                        	
                                <div class="mask">                        
                                    <div class="contenidoproducto">
                                        <a href="https://www.ripcurlargentina.com/producto_detalle///camperarip_curl_parka/22200.html" class="zoomproducto"></a>
                                    </div>
                                </div>
                            </div>
                        <div class="cleaner"></div>
                        <!-- Inicio Iconos Producto -->
                        <div class="iconos-producto">         
                           <div class="media">          
                                <div id="whislist_2941">
                                    <a class="medialink" style="cursor:pointer;" onclick="addtowishlist('2941', 'list');">
                                        <img src="images/media-ico-wl.png">
                                    </a>            
                                </div>
                                <a class="medialink" target="_blank" onclick="popup('https://www.facebook.com/sharer.php?u=https://www.ripcurlargentina.com/producto_detalle/campera_rip_curl_parka/22200.html&amp;t=Campera Rip Curl Parka', '', '720', '450')" style="cursor:pointer">
                                    <img src="images/media-ico-fb.png">
                                </a>         
                                <a class="medialink" target="_blank" onclick="popup('https://twitter.com/home?status=https%3A%2F%2Fwww.ripcurlargentina.com%2Fproducto_detalle%2Fcamperarip_curl_parka%2F22200.html+en+Cristobal', '', '720', '450')" style="cursor:pointer">
                                    <img src="images/media-ico-tw.png">
                                </a>                            
                            </div>                     
                            <div class="iconos-estado">
                                <img src="https://www.ripcurlargentina.com/images/ico-enviogratis-small.png">
                            </div>                       
                        </div>
                        <!-- Fin Iconos Producto -->     
                        <div class="productos-titulolist">
                            <a href="https://www.ripcurlargentina.com/producto_detalle//camperarip_curl_parka/22200.html" class="productos-titulolist">
                               Campera<br>Rip Curl Parka								
                            </a>
                        </div>
                        <div class="productos-marcalist">
                            <span>- </span>Hombre<span> -</span>
                        </div>
                        <div class="productos-preciolist">
                            <span style="color:#333; font-size:15px; font-weight: 400;">$ 31999.-</span>
                            <a href="https://www.ripcurlargentina.com/producto_detalle//camperarip_curl_parka/22200.html" class="button-comprar" style="float:right;">COMPRAR</a>								
                            <!--<a href="#" class="button-comprar" style="float:right;">COMPRAR</a>-->
                        </div>
                    </div>
                </div>
            </div>
            <div class="owl-item" style="width: 265px;">
                <div class="owl-item" style="width: 265px;">
                    <div class="item">
                        <div class="view view-first">
                            <img src="images/marco-prod-list.png" class="scale-with-grid">
                            <img src="https://www.cristobalcolon.com/fullaccess/item15643foto92813th.jpg" class="scale-with-grid" style="position: absolute; top: 0;">                        	
                            <div class="mask">                    
                                <div class="contenidoproducto">
                                    <a href="https://www.ripcurlargentina.com/producto_detalle///pashmina_rip_curl_check/15643.html" class="zoomproducto"></a>
                                </div>
                            </div>
                        </div>
                        <div class="cleaner"></div>
                        <!-- Inicio Iconos Producto --> 
                        <div class="iconos-producto">               
                           <div class="media">                                       
                                <div id="whislist_2941">
                                    <a class="medialink" style="cursor:pointer;" onclick="addtowishlist('2941', 'list');">
                                        <img src="images/media-ico-wl.png">
                                    </a>            
                                </div>                           
                                <a class="medialink" target="_blank" onclick="popup('https://www.facebook.com/sharer.php?u=https://www.ripcurlargentina.com/producto_detalle/pashmina_rip_curl_check/15643.html&amp;t=Pashmina Rip Curl Check', '', '720', '450')" style="cursor:pointer">
                                    <img src="images/media-ico-fb.png">
                                </a>                               
                                <a class="medialink" target="_blank" onclick="popup('https://twitter.com/home?status=https%3A%2F%2Fwww.ripcurlargentina.com%2Fproducto_detalle%2Fpashmina_rip_curl_check%2F15643.html+en+Cristobal', '', '720', '450')" style="cursor:pointer">
                                    <img src="images/media-ico-tw.png">
                                </a>                               
                            </div>                     
                            <div class="iconos-estado">
                                <img src="https://www.ripcurlargentina.com/images/ico-enviogratis-small.png">
                            </div>                       
                        </div>
                        <!-- Fin Iconos Producto -->     
                        <div class="productos-titulolist">
                            <a href="https://www.ripcurlargentina.com/producto_detalle//pashmina_rip_curl_check/15643.html" class="productos-titulolist">
                                Pashmina <br>Rip Curl Check								
                            </a>
                        </div>
                        <div class="productos-marcalist">
                            <span>- </span>Mujer<span> -</span>
                        </div>
                        <div class="productos-preciolist">
                            <span style="color:#333; font-size:15px; font-weight: 400;">$ 4299.-</span>
                            <a href="https://www.ripcurlargentina.com/producto_detalle//pashmina_rip_curl_check/15643.html" class="button-comprar" style="float:right;">COMPRAR</a>								
                            <!--<a href="#" class="button-comprar" style="float:right;">COMPRAR</a>-->
                        </div>
                    </div>
                </div>
            </div>
            <div class="owl-item" style="width: 265px;">
                <div class="owl-item" style="width: 265px;">
                    <div class="item">
                        <div class="view view-first">
                            <img src="images/marco-prod-list.png" class="scale-with-grid">
                            <img src="https://www.cristobalcolon.com/fullaccess/item21618foto95895th.jpg" class="scale-with-grid" style="position: absolute; top: 0;">                        	
                            <div class="mask">                                                            
                                <div class="contenidoproducto">
                                    <a href="https://www.ripcurlargentina.com/producto_detalle///pantalonrip_curl_slouchy_golden/21618.html" class="zoomproducto"></a>
                                </div>
                            </div>
                        </div>
                        <div class="cleaner"></div>
                        <!-- Inicio Iconos Producto -->
                        <div class="iconos-producto">            
                           <div class="media">             
                                <div id="whislist_2941">
                                    <a class="medialink" style="cursor:pointer;" onclick="addtowishlist('2941', 'list');">
                                        <img src="images/media-ico-wl.png">
                                    </a>            
                                </div>
                                <a class="medialink" target="_blank" onclick="popup('https://www.facebook.com/sharer.php?u=https://www.ripcurlargentina.com/producto_detalle/pantalon_rip_curl_slouchy_golden/21618.html&amp;t=Pantalon Rip Curl Slouchy Golden', '', '720', '450')" style="cursor:pointer">
                                    <img src="images/media-ico-fb.png">
                                </a>                         
                                <a class="medialink" target="_blank" onclick="popup('https://twitter.com/home?status=https%3A%2F%2Fwww.ripcurlargentina.com%2Fproducto_detalle%2Fpantalonrip_curl_slouchy_golden%2F21618.html+en+Cristobal', '', '720', '450')" style="cursor:pointer">
                                   <img src="images/media-ico-tw.png">
                                </a>                          
                            </div> 
                            <div class="iconos-estado">
                                <img src="https://www.ripcurlargentina.com/images/ico-enviogratis-small.png">
                            </div>                       
                        </div>
                        <!-- Fin Iconos Producto -->     
                        <div class="productos-titulolist">
                            <a href="https://www.ripcurlargentina.com/producto_detalle//pantalonrip_curl_slouchy_golden/21618.html" class="productos-titulolist">
                                Pantalon<br>Rip Curl Slouchy Golden								
                            </a>
                        </div>
                        <div class="productos-marcalist">
                            <span>- </span>Mujer<span> -</span>
                        </div>
                        <div class="productos-preciolist">
                            <span style="color:#333; font-size:15px; font-weight: 400;">$ 10999.-</span>
                            <a href="https://www.ripcurlargentina.com/producto_detalle//pantalonrip_curl_slouchy_golden/21618.html" class="button-comprar" style="float:right;">COMPRAR</a>								
                            <!--<a href="#" class="button-comprar" style="float:right;">COMPRAR</a>-->
                        </div>
                    </div>
                </div>
            </div>
            <div class="owl-item" style="width: 265px;">
                <div class="owl-item" style="width: 265px;">
                    <div class="item">
                        <div class="view view-first">
                            <img src="images/marco-prod-list.png" class="scale-with-grid">
                            <img src="https://www.cristobalcolon.com/fullaccess/item21634foto95953th.jpg" class="scale-with-grid" style="position: absolute; top: 0;">
                            <img src="https://www.cristobalcolon.com/images/ico-pickup-small.png" style="position: absolute;top: 5px;">                        	
                            <div class="mask">                    
                                <div class="contenidoproducto">
                                    <a href="https://www.ripcurlargentina.com/producto_detalle///beanierip_curl_wenderer/21634.html" class="zoomproducto"></a>
                                </div>
                            </div>
                        </div>
                        <div class="cleaner"></div>
                        <!-- Inicio Iconos Producto -->
                        <div class="iconos-producto">               
                           <div class="media">                                       
                                <div id="whislist_2941">
                                    <a class="medialink" style="cursor:pointer;" onclick="addtowishlist('2941', 'list');">
                                        <img src="images/media-ico-wl.png">
                                    </a>            
                                </div>                           
                                <a class="medialink" target="_blank" onclick="popup('https://www.facebook.com/sharer.php?u=https://www.ripcurlargentina.com/producto_detalle/beanie_rip_curl_wenderer/21634.html&amp;t=Beanie Rip Curl Wenderer', '', '720', '450')" style="cursor:pointer">
                                    <img src="images/media-ico-fb.png">
                                </a>  
                                <a class="medialink" target="_blank" onclick="popup('https://twitter.com/home?status=https%3A%2F%2Fwww.ripcurlargentina.com%2Fproducto_detalle%2Fbeanierip_curl_wenderer%2F21634.html+en+Cristobal', '', '720', '450')" style="cursor:pointer">
                                    <img src="images/media-ico-tw.png">
                                </a>   
                            </div>                
                            <div class="iconos-estado">
                                <img src="https://www.ripcurlargentina.com/images/ico-enviogratis-small.png">
                            </div>                       
                        </div>
                        <!-- Fin Iconos Producto -->           
                        <div class="productos-titulolist">
                            <a href="https://www.ripcurlargentina.com/producto_detalle//beanierip_curl_wenderer/21634.html" class="productos-titulolist">
                               Beanie<br>Rip Curl Wenderer								
                            </a>
                        </div>
                        <div class="productos-marcalist">
                            <span>- </span>Mujer<span> -</span>
                        </div>
                        <div class="productos-preciolist">
                            <span style="color:#333; font-size:15px; font-weight: 400;">$ 3999.-</span>
                            <a href="https://www.ripcurlargentina.com/producto_detalle//beanierip_curl_wenderer/21634.html" class="button-comprar" style="float:right;">COMPRAR</a>								
                            <!--<a href="#" class="button-comprar" style="float:right;">COMPRAR</a>-->
                        </div>
                    </div>
                </div>
            </div>
            <div class="owl-item" style="width: 265px;">
                <div class="owl-item" style="width: 265px;">
                    <div class="item">
                        <div class="view view-first">       
                            <img src="images/marco-prod-list.png" class="scale-with-grid">
                            <img src="https://www.cristobalcolon.com/fullaccess/item21987foto97064th.jpg" class="scale-with-grid" style="position: absolute; top: 0;">                        	
                            <div class="mask">
                                <div class="contenidoproducto">
                                    <a href="https://www.ripcurlargentina.com/producto_detalle///camperarip_curl_anti_serie/21987.html" class="zoomproducto"></a>
                                </div>
                            </div>
                        </div>
                        <div class="cleaner"></div>
                        <!-- Inicio Iconos Producto -->
                        <div class="iconos-producto">
                            <div class="media">                      
                                <div id="whislist_2941">
                                    <a class="medialink" style="cursor:pointer;" onclick="addtowishlist('2941', 'list');">
                                        <img src="images/media-ico-wl.png">
                                    </a>            
                                </div>
                                <a class="medialink" target="_blank" onclick="popup('https://www.facebook.com/sharer.php?u=https://www.ripcurlargentina.com/producto_detalle/campera_rip_curl_anti_serie/21987.html&amp;t=Campera Rip Curl Anti Serie', '', '720', '450')" style="cursor:pointer">
                                    <img src="images/media-ico-fb.png">
                                </a>                        
                                <a class="medialink" target="_blank" onclick="popup('https://twitter.com/home?status=https%3A%2F%2Fwww.ripcurlargentina.com%2Fproducto_detalle%2Fcamperarip_curl_anti_serie%2F21987.html+en+Cristobal', '', '720', '450')" style="cursor:pointer">
                                    <img src="images/media-ico-tw.png">
                                </a>                     
                            </div>                     
                            <div class="iconos-estado">
                                <img src="https://www.ripcurlargentina.com/images/ico-enviogratis-small.png">
                            </div>                       
                        </div>
                        <!-- Fin Iconos Producto -->
                        <div class="productos-titulolist">
                            <a href="https://www.ripcurlargentina.com/producto_detalle//camperarip_curl_anti_serie/21987.html" class="productos-titulolist">
                                Campera<br>Rip Curl Anti Serie								
                            </a>
                        </div>
                        <div class="productos-marcalist">
                            <span>- </span>Mujer<span> -</span>
                        </div>
                        <div class="productos-preciolist">
                            <span style="color:#333; font-size:15px; font-weight: 400;">$ 49999.-</span>
                            <a href="https://www.ripcurlargentina.com/producto_detalle//camperarip_curl_anti_serie/21987.html" class="button-comprar" style="float:right;">COMPRAR</a>								
                            <!--<a href="#" class="button-comprar" style="float:right;">COMPRAR</a>-->
                        </div>
                    </div>
                </div>
            </div>
                    </div>
                 </div>                                                                                                
    <div class="owl-controls">
        <div class="owl-pagination">
            <div class="owl-page active">
                <span class=""></span>
            </div>
            <div class="owl-page">
                <span class=""></span>
            </div>
            <div class="owl-page">
                <span class=""></span>
            </div>
        </div>
        <div class="owl-buttons">
            <div class="owl-prev"></div>
            <div class="owl-next"></div>
        </div>
    </div>
            </div>
        <!-- Fin Slide Productos -->
    </section>
    <!-- Fin Home Productos -->
</div>
  