<!-- Inicio Main -->
<div id="main">
    <!-- Inicio Home Destacados -->
    <div id="home-destacados">
        <div class="content">
        <!-- Inicio de Columna -->
        <div class="columna-small">
            <a href="" target="_self">
                <div class="columna-content">
                    <div class="pic" style="background-image: url(images/celular-muestra.jpeg);">
                        <img src="images/marcowide.png">
                    </div>
                    <div class="info">
                        <h4 class="bold">Celulares</h4>
                        <p>Visitá nuestra línea de Celulares</p>
                        <h5 class="white">Comprar</h5>
                    </div>
                </div>
            </a>
        </div>
        <!-- Fin de Columna -->
        <!-- Inicio de Columna -->
        <div class="columna-small">
            <a href="" target="_self">
                <div class="columna-content">
                    <div class="pic" style="background-image: url(images/tablet-muestra.jpeg);">
                        <img src="images/marcowide.png">
                    </div>
                    <div class="info">
                        <h4 class="bold">Tablets</h4>
                        <p>Visitá nuestra línea de Tablets</p>
                        <h5 class="white">Comprar</h5>
                    </div>
                </div>
            </a>
        </div>
        <!-- Fin de Columna --> 
        <!-- Inicio de Columna -->
        <div class="columna-small">
            <a href="" target="_self">
                <div class="columna-content">
                    <div class="pic" style="background-image: url(images/computadora-muestra.jpeg);">
                        <img src="images/marcowide.png">
                    </div>
                    <div class="info">
                        <h4 class="bold">Notebooks</h4>
                        <p>Visitá nuestra linea de notebooks</p>
                        <h5 class="white">Comprar</h5>
                    </div>
                </div>
            </a>
        </div>
        <!-- Fin de Columna --> 
        <!-- Inicio de Columna -->
        <div class="columna-small">
            <a href="" target="_self">
                <div class="columna-content">
                    <div class="pic" style="background-image: url(images/accesorios-muestra.jpeg);">
                        <img src="images/marcowide.png">
                    </div>
                    <div class="info">
                        <h4 class="bold">Accesorios</h4>
                        <p>Visitá nuesta línea de Accesorios</p>
                        <h5 class="white">Comprar</h5>
                    </div>
                </div>
            </a>
        </div>
        <!-- Fin de Columna -->
        </div>
    </div>
    <!-- Fin de Home Destacados -->
    <!-- Inicio de Home Productos -->
    <div id="home-productos">
        <div class="content">
            <div class="line-tit">
                <h4 class="bold">PRODUCTOS DESTACADOS</h4>
            </div>
             <!-- Inicio Slide productos -->
             <div id="owl-demo" class="owl-carousel owl-theme" style="opacity: 1; display: block;">
                 <div class="owl-wrapper-outer">
                    <div class="owl-wrapper" style="width: 12520; left: 0px; display: block; transition: all 0ms ease 0s; transform: translate3d(0px, 0px, 0px);">
                        <div class="owl-item" style="width: 313px">
                            <div class="owl-item" style="width: 313px">
                                <div class="item">
                                    <div class="view view-first">
                                        <img src="images/marco-prod-list.png" class="scale-with-grid">
                                        <img src="" class="scale-with-grid" style="position: absolute; top: 0;">
                                        <div class="mask">
                                            <div class="contenidoproducto">
                                                <a href="" class="zoomproducto"></a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="cleaner"></div>
                                    <!-- Inicio Iconos Producto-->
                                    <div class="iconos-producto">
                                        <div class="iconos-estado">
                                            <img src="images/ico-enviogratis-small.png">
                                        </div>
                                    </div>
                                    <!-- Fin Iconos Producto-->
                                    <div class="productos-titulolist">
                                        <a href="" class="productos-titulolist">
                                            " Apple"
                                            <br>
                                            " iPhone 13"
                                        </a>
                                    </div>
                                    <div class="productos-preciolist">
                                        <span style="color:#333; font-size: 15px; font-weight: 400;">$412,370</span>
                                        <a href="#" class="button-comprar" style="float: right;">COMPRAR</a>
                                    </div>
                                </div>
                            </div>                       
                        </div>
                        <div class="owl-item" style="width: 313px">
                            <div class="owl-item" style="width: 313px">
                                <div class="item">
                                    <div class="view view-first">
                                        <img src="images/marco-prod-list.png" class="scale-with-grid">
                                        <img src="" class="scale-with-grid" style="position: absolute; top: 0;">
                                        <div class="mask">
                                            <div class="contenidoproducto">
                                                <a href="" class="zoomproducto"></a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="cleaner"></div>
                                    <!-- Inicio Iconos Producto-->
                                    <div class="iconos-producto">
                                        <div class="iconos-estado">
                                            <img src="images/ico-enviogratis-small.png">
                                        </div>
                                    </div>
                                    <!-- Fin Iconos Producto-->
                                    <div class="productos-titulolist">
                                        <a href="" class="productos-titulolist">
                                            " Apple"
                                            <br>
                                            " iPad Pro"
                                        </a>
                                    </div>
                                    <div class="productos-preciolist">
                                        <span style="color:#333; font-size: 15px; font-weight: 400;">$241,499</span>
                                        <a href="#" class="button-comprar" style="float: right;">COMPRAR</a>
                                    </div>
                                </div>
                            </div> 
                        
                        </div>
                        <div class="owl-item" style="width: 313px">
                            <div class="owl-item" style="width: 313px">
                                <div class="item">
                                    <div class="view view-first">
                                        <img src="images/marco-prod-list.png" class="scale-with-grid">
                                        <img src="" class="scale-with-grid" style="position: absolute; top: 0;">
                                        <div class="mask">
                                            <div class="contenidoproducto">
                                                <a href="" class="zoomproducto"></a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="cleaner"></div>
                                    <!-- Inicio Iconos Producto-->
                                    <div class="iconos-producto">
                                        <div class="iconos-estado">
                                            <img src="images/ico-enviogratis-small.png">
                                        </div>
                                    </div>
                                    <!-- Fin Iconos Producto-->
                                    <div class="productos-titulolist">
                                        <a href="" class="productos-titulolist">
                                            " Apple"
                                            <br>
                                            " iPad Air"
                                        </a>
                                    </div>
                                    <div class="productos-preciolist">
                                        <span style="color:#333; font-size: 15px; font-weight: 400;">$158,900</span>
                                        <a href="#" class="button-comprar" style="float: right;">COMPRAR</a>
                                    </div>
                                </div>
                            </div> 
                        </div>
                        <div class="owl-item" style="width: 313px">
                            <div class="owl-item" style="width: 313px">
                                <div class="item">
                                    <div class="view view-first">
                                        <img src="images/marco-prod-list.png" class="scale-with-grid">
                                        <img src="" class="scale-with-grid" style="position: absolute; top: 0;">
                                        <div class="mask">
                                            <div class="contenidoproducto">
                                                <a href="" class="zoomproducto"></a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="cleaner"></div>
                                    <!-- Inicio Iconos Producto-->
                                    <div class="iconos-producto">
                                        <div class="iconos-estado">
                                            <img src="images/ico-enviogratis-small.png">
                                        </div>
                                    </div>
                                    <!-- Fin Iconos Producto-->
                                    <div class="productos-titulolist">
                                        <a href="" class="productos-titulolist">
                                            " Samsung"
                                            <br>
                                            " Galaxy S22"
                                        </a>
                                    </div>
                                    <div class="productos-preciolist">
                                        <span style="color:#333; font-size: 15px; font-weight: 400;">$159,999</span>
                                        <a href="#" class="button-comprar" style="float: right;">COMPRAR</a>
                                    </div>
                                </div>
                            </div> 
                        </div>
                        <div class="owl-item" style="width: 313px">
                            <div class="owl-item" style="width: 313px">
                                <div class="item">
                                    <div class="view view-first">
                                        <img src="images/marco-prod-list.png" class="scale-with-grid">
                                        <img src="" class="scale-with-grid" style="position: absolute; top: 0;">
                                        <div class="mask">
                                            <div class="contenidoproducto">
                                                <a href="" class="zoomproducto"></a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="cleaner"></div>
                                    <!-- Inicio Iconos Producto-->
                                    <div class="iconos-producto">
                                        <div class="iconos-estado">
                                            <img src="images/ico-enviogratis-small.png">
                                        </div>
                                    </div>
                                    <!-- Fin Iconos Producto-->
                                    <div class="productos-titulolist">
                                        <a href="" class="productos-titulolist">
                                            " Xiaomi"
                                            <br>
                                            " Redmi Note 10 Pro"
                                        </a>
                                    </div>
                                    <div class="productos-preciolist">
                                        <span style="color:#333; font-size: 15px; font-weight: 400;">$70,970</span>
                                        <a href="#" class="button-comprar" style="float: right;">COMPRAR</a>
                                    </div>
                                </div>
                            </div> 
                        </div>
                        ::after
                    </div>
                 </div>
                 <div class="owl-controls clickable">
                     <div class="owl-pagination">
                         <div class="owl-page active">
                             <span class></span>
                         </div>
                         <div class="owl-page">
                             <span class></span>
                         </div>
                         <div class="owl-page">
                             <span class></span>
                         </div>
                         <div class="owl-page">
                             <span class></span>
                         </div>
                         <div class="owl-page">
                             <span class></span>
                         </div>
                     </div>
                     <div class="owl-buttons">
                         <div class="owl-prev"></div>
                         <div class="owl-next"></div>
                     </div>
                 </div>
             </div>
             <!-- Fin Slide Productos-->
        </div>
    </div>
    <!-- Fin de Home Productos -->
</div>
