<!-- Inicio Main -->
<div id="main">
    <!-- Inicio Slides -->
    <div id="bannershome" class="flexslider">
        <div class="flex-viewport" style="overflow: hidden; position: relative;">
          <ul class="slides" style="width: 1400%; transition-duration: 0.6s; transform: translate3d();">
            <li class="clone" aria-hidden="true" style="width: 755px; float: left; display: block;">
              <a href="" target="_self">
                <img src="" draggable="false">
              </a>
            </li>
            <li style="width: 755px; float: left; display: block;"class="flex-active-slide">
               <a href="" target="_self">
                   <img src="" draggable="false">
               </a>
            </li>
            <li style="width: 755px; float: left; display: block;"class="flex-active-slide">
               <a href="" target="_self">
                   <img src="" draggable="false">
               </a>
            </li>
            <li style="width: 755px; float: left; display: block;"class="flex-active-slide">
               <a href="" target="_self">
                   <img src="" draggable="false">
               </a>
            </li>
            <li style="width: 755px; float: left; display: block;"class="flex-active-slide">
               <a href="" target="_self">
                   <img src="" draggable="false">
               </a>
            </li>
            <li style="width: 755px; float: left; display: block;"class="flex-active-slide">
                <a href="" target="_self">
                    <img src="" draggable="false">
                </a>
             </li>
             <li style="width: 755px; float: left; display: block;"class="flex-active-slide">
                <a href="" target="_self">
                    <img src="" draggable="false">
                </a>
             </li>
             ::after
          </ul>
        </div>
        <ol class="flex-control-nav flex-control-paging">
            <li>
                <a class="flex-active">1</a>
            </li>
            <li>
                <a class="flex-active">2</a>
            </li>
            <li>
                <a class="flex-active">3</a>
            </li>
            <li>
                <a class="flex-active">4</a>
            </li>
            <li>
                <a class="flex-active">5</a>
            </li>
        </ol>
        <ul class="flex-direction-nav">
            <li class="flex-nav-prev">
                <a class="flex-prev" href="#">Previous</a>
            </li>
            <li class="flex-nav-next">
                <a class="flex-next" href="#">Next</a>
            </li>
        </ul>
    </div>
    <!-- Fin Slides -->
    <!-- Inicio Home Destacados -->
    <div id="home-destacados">
        <div class="content">
        <!-- Inicio de Columna -->
        <div class="columna-small">
            <a href="" target="_self">
                <div class="columna-content">
                    <div class="pic" style="background-image: url();">
                        <img src="">
                    </div>
                    <div class="info">
                        <h4 class="bold">Celulares</h4>
                        <p>Visitá nuestras categorias de Celulares</p>
                        <h5 class="white">Comprar</h5>
                    </div>
                </div>
            </a>
        </div>
        <!-- Fin de Columna -->
        <!-- Inicio de Columna -->
        <!-- Fin de Columna --> 
        <!-- Inicio de Columna -->
        <!-- Fin de Columna --> 
        <!-- Inicio de Columna -->
        <!-- Fin de Columna -->
        </div>

    </div>
    <!-- Fin Home Destacados -->
</div>
