<div id="main">
    <!-- Inicio Slides -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<div id="thumbnail-preview-indicators" class="carousel slide" data-ride="carousel">
          <!-- Indicators -->
          <ol class="carousel-indicators">
            <li data-target="#thumbnail-preview-indicators" data-slide-to="0" class="active"></li>
            <li data-target="#thumbnail-preview-indicators" data-slide-to="1"></li>
            <li data-target="#thumbnail-preview-indicators" data-slide-to="2"></li>
          </ol>
          <div class="carousel-inner">
            <div class="item slides active">
              <div class="slide-1"></div>
              <div class="container"></div>
            </div>
            <div class="item slides">
              <div class="slide-2"></div>
              <div class="container"></div>
            </div>
            <div class="item slides">
              <div class="slide-3"></div>
              <div class="container"></div>
            </div>
          </div>
          <a class="left carousel-control" href="#thumbnail-preview-indicators" role="button" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a>
          <a class="right carousel-control" href="#thumbnail-preview-indicators" role="button" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
      </div> 
      
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <!-- Fin Slides -->   
    <!-- Inicio Home Destacados -->
    <section id="home-destacados">
        <div class="content">
		<!-- Inicio Columna -->
			<article class="columna-small">
				<a href="RUTA DE CELULARES" target="_self">
					<div class="columna-content">
						<div class="pic" style="background-image:url(https://www.eltiempo.com/files/article_main/uploads/2017/03/18/58cdc63522694.jpeg)">
						    <img src="images/marcowide.png">
						</div>
						<div class="info">
						    <h4 class="bold">Cellulars</h4>
						    <p>Visit our cellulars line.</p>
						    <h5 class="white">BUY</h5>
						</div>
					</div>
				</a>
			</article>
			<!-- Fin Columna -->
			<!-- Inicio Columna -->
			<article class="columna-small">
				<a href="RUTA DE TABLETS" target="_self">
					<div class="columna-content">
						<div class="pic" style="background-image:url(https://s1.eestatic.com/2022/02/03/elandroidelibre/moviles-android/analisis/647445677_221583951_1706x960.jpg)">
						    <img src="images/marcowide.png">
						</div>
						<div class="info">
						    <h4 class="bold">Tablets</h4>
						    <p>Visit our tablets line.</p>
						    <h5 class="white">BUY</h5>
						</div>
					</div>
				</a>
			</article>
			<!-- Fin Columna -->
			<!-- Inicio Columna -->
			<article class="columna-small">
			    <a href="RUTA DE NOTEBOOKS" target="_self">
					<div class="columna-content">
						<div class="pic" style="background-image:url(https://img.freepik.com/foto-gratis/mujer-negocios-que-trabajan-computadora-portatil_1388-67.jpg?w=2000)">
						    <img src="images/marcowide.png">
						</div>
						<div class="info">
						    <h4 class="bold">Notebooks</h4>
						    <p>Visit our notebooks line.</p>
						    <h5 class="white">BUY</h5>
						</div>
					</div>
				</a>
			</article>
			<!-- Fin Columna -->
			<!-- Inicio Columna -->
			<article class="columna-small">
				<a href="RUTA DE ACCESORIOS" target="_self">
					<div class="columna-content">
						<div class="pic" style="background-image:url(https://i.ytimg.com/vi/iQlqELeCL24/maxresdefault.jpg)">
						    <img src="images/marcowide.png">
						</div>
						<div class="info">
						    <h4 class="bold">Accesories</h4>
						    <p>Visit our accessories line.</p>
						    <h5 class="white">BUY</h5>
						</div>
					</div>
				</a>
			</article>
		<!-- Fin Columna -->					
        </div>
    </section>
    <!-- Fin Home Destacados -->      
    <!-- Inicio Home Productos -->
    <section id="home-productos">
        <div class="content">
            <div class="line-tit">
                <h4 class="bold">FEATURED PRODUCTS</h4>
            </div>   
            <!-- Inicio Slide productos -->
            <div id="owl-demo" class="owl-carousel owl-theme" style="opacity: 1; display: block;">
				<div class="owl-wrapper-outer">
                    <div class="owl-wrapper" style="width: 14840px; left: 0px; display: block; transition: all 0ms ease 0s; transform: translate3d(0px, 0px, 0px);">
                        <div class="owl-item" style="width: 371px;">
                            <div class="owl-item" style="width: 371px;">
                                <div class="item">
        				           <div class="view view-first">
                        	            <img src="images/marco-prod-list.png" class="scale-with-grid">						
						                <img src="https://digimartve.com/wp-content/uploads/2021/03/apple-iphone-12-pro-max-1.jpg" class="scale-with-grid2" style="position: absolute; top: 50px; left: 50px;">                        	
                                            <div class="mask">            
                                                <div class="contenidoproducto">
                                                    <a href="RUTA AL PRODUCTO" class="zoomproducto"></a>
                                                </div>
                                            </div>
        				            </div>        
					                <div class="cleaner"></div>                                           
                                    <!-- Inicio Iconos Producto -->
        			                <div class="iconos-producto">                            			         
                                        <div class="iconos-estado">
                                            <img src="https://www.ripcurlargentina.com/images/ico-enviogratis-small.png">
                                        </div>                       
                                    </div>
        			                <!-- Fin Iconos Producto -->
							        <div class="productos-titulolist">
								        <a href="RUTA AL PRODUCTO" class="productos-titulolist">
								            Apple<br>iPhone-12-pro							
                                        </a>
							        </div>
                                    <div class="productos-marcalist">
								        <span>- </span>cellular<span> -</span>
							        </div>
							        <div class="productos-preciolist">
								        <span style="color:#333; font-size:15px; font-weight: 400;">$ 372.299-</span>
                                        <a href="RUTA AL PRODUCTO" class="button-comprar" style="float:right;">COMPRAR</a>								
                                        <!--<a href="#" class="button-comprar" style="float:right;">COMPRAR</a>-->
							        </div>
					            </div>
                            </div>
                        </div>
                        <div class="owl-item" style="width: 371px;">
                            <div class="owl-item" style="width: 371px;">
                                <div class="item">     
        				            <div class="view view-first">                       
                        	            <img src="images/marco-prod-list.png" class="scale-with-grid">
										<img src="https://http2.mlstatic.com/D_NQ_NP_708214-MLA49316030730_032022-O.webp" class="scale-with-grid" style="position: absolute; top: 100px;">                        	
                                            <div class="mask">                                           
                                                <div class="contenidoproducto">
                                                    <a href="RUTA AL PRODUCTO" class="zoomproducto"></a>
                                                </div>
                                            </div>
        				            </div>       
					                <div class="cleaner"></div>                                             
                                    <!-- Inicio Iconos Producto -->
        			                <div class="iconos-producto">                                             			       
                                        <div class="iconos-estado">
                                            <img src="https://www.ripcurlargentina.com/images/ico-enviogratis-small.png">
                                        </div>                       
                                    </div>
        			                <!-- Fin Iconos Producto -->                                            							
							        <div class="productos-titulolist">
								        <a href="RUTA AL PRODUCTO" class="productos-titulolist">
								           Apple<br>MacBook Air							
                                        </a>
							        </div>
                                    <div class="productos-marcalist">
								        <span>- </span>notebook<span> -</span>
							        </div>
							        <div class="productos-preciolist">
								        <span style="color:#333; font-size:15px; font-weight: 400;">$ 3999.-</span>
                                        <a href="RUTA AL PRODUCTO" class="button-comprar" style="float:right;">COMPRAR</a>								
                                        <!--<a href="#" class="button-comprar" style="float:right;">COMPRAR</a>-->
							        </div>
					            </div>
                            </div>
                        </div>
                        <div class="owl-item" style="width: 371px;">
                            <div class="owl-item" style="width: 371px;">
                                <div class="item">       
        				            <div class="view view-first">                       
                        	            <img src="images/marco-prod-list.png" class="scale-with-grid">						
						                <img src="imagen" class="scale-with-grid" style="position: absolute; top: 0;">                        	
                                        <div class="mask">               			
                                            <div class="contenidoproducto">
                                                <a href="RUTA AL PRODUCTO" class="zoomproducto"></a>
                                            </div>
                                        </div>
        				            </div>        
					                <div class="cleaner"></div>                                            
                                    <!-- Inicio Iconos Producto -->
        			                <div class="iconos-producto">                                    		                         
                                        <div class="iconos-estado">
                                            <img src="https://www.ripcurlargentina.com/images/ico-enviogratis-small.png">
                                        </div>                       
                                    </div>
        			                <!-- Fin Iconos Producto -->							
					                <div class="productos-titulolist">
							            <a href="RUTA AL PRODUCTO" class="productos-titulolist">
								        marca<br>modelo								
                                        </a>
						            </div>
                                    <div class="productos-marcalist">
							            <span>- </span>producto<span> -</span>
						            </div>
						            <div class="productos-preciolist">
							            <span style="color:#333; font-size:15px; font-weight: 400;">$ 9499.-</span>
                                        <a href="RUTA AL PRODUCTO" class="button-comprar" style="float:right;">COMPRAR</a>								
                                        <!--<a href="#" class="button-comprar" style="float:right;">COMPRAR</a>-->
						            </div>
					            </div>
                            </div>
                        </div>
                        <div class="owl-item" style="width: 371px;">
                            <div class="owl-item" style="width: 371px;">
                                <div class="item">       
        				            <div class="view view-first">                       
                        	            <img src="images/marco-prod-list.png" class="scale-with-grid">						
						                <img src="imagen" class="scale-with-grid" style="position: absolute; top: 0;"><img src="https://www.cristobalcolon.com/images/ico-pickup-small.png" style="position: absolute;top: 5px;">                        	
                                        <div class="mask">               			                                                                           
                                            <div class="contenidoproducto">
                                                <a href="RUTA AL PRODUCTO" class="zoomproducto"></a>
                                            </div>
                                        </div>  
        				            </div>       
					                <div class="cleaner"></div>                                            
                                    <!-- Inicio Iconos Producto -->
        			                <div class="iconos-producto">                                            		
                                        <div class="iconos-estado">
                                            <img src="/images/ico-enviogratis-small.png">
                                        </div>                       
                                    </div>
        			                <!-- Fin Iconos Producto -->                                            							
						            <div class="productos-titulolist">
							            <a href="RUTA AL PRODUCTO" class="productos-titulolist">
								            marca<br>modelo								
                                        </a>
						            </div>
                                    <div class="productos-marcalist">
							            <span>- </span>producto<span> -</span>
						            </div>
						            <div class="productos-preciolist">
							            <span style="color:#333; font-size:15px; font-weight: 400;">$ 34999.-</span>
                                        <a href="RUTA AL PRODUCTO" class="button-comprar" style="float:right;">COMPRAR</a>								
                                        <!--<a href="#" class="button-comprar" style="float:right;">COMPRAR</a>-->
						            </div>
					            </div>
                            </div>
                        </div>
                        <div class="owl-item" style="width: 371px;">
                            <div class="owl-item" style="width: 371px;">
                                <div class="item">        
        				            <div class="view view-first">                       
                        	            <img src="images/marco-prod-list.png" class="scale-with-grid">						
						                <img src="imagen" class="scale-with-grid" style="position: absolute; top: 0;">                        	
                                        <div class="mask">               			                                                                            
                                            <div class="contenidoproducto">
                                                <a href="RUTA AL PRODUCTO" class="zoomproducto"></a>
                                            </div>
                                        </div>
        				            </div>        
					                <div class="cleaner"></div>                                             
                                    <!-- Inicio Iconos Producto -->
        			                <div class="iconos-producto">                  
                                        <div class="iconos-estado">
                                            <img src="https://www.ripcurlargentina.com/images/ico-enviogratis-small.png">
                                        </div>                       
                                    </div>
        			                <!-- Fin Iconos Producto -->                                              
					                <div class="productos-titulolist">
					                 	<a href="RUTA AL PRODUCTO" class="productos-titulolist">
					                 		marca<br>modelo								
                                         </a>
					                </div>
                                    <div class="productos-marcalist">
					                 	<span>- </span>producto<span> -</span>
					                </div>
					                <div class="productos-preciolist">
					                 	<span style="color:#333; font-size:15px; font-weight: 400;">$ 4499.-</span>
                                        <a href="RUTA AL PRODUCTO" class="button-comprar" style="float:right;">COMPRAR</a>								
                                        <!--<a href="#" class="button-comprar" style="float:right;">COMPRAR</a>-->
					                </div>
					            </div>
                            </div>
                        </div> 
                        <div cla ss="owl-item" style="width: 371px;">
                            <div  class="owl-item" style="width: 371px;">
                                <div class="item">        
        	        			    <div class="view view-first">                        
                                	    <img src="images/marco-prod-list.png" class="scale-with-grid">
			        				    <img src="imagen" class="scale-with-grid" style="position: absolute; top: 0;"><img src="https://www.cristobalcolon.com/images/ico-pickup-small.png" style="position: absolute;top: 5px;">                        	
                                        <div class="mask">               			                                                                            
                                            <div class="contenidoproducto">
                                                <a href="RUTA AL PRODUCTO" class="zoomproducto"></a>
                                            </div>
                                        </div>
        	            			</div>
			            		    <div class="cleaner"></div>                                             
                                    <div class="iconos-estado">
                                            <img src="https://www.ripcurlargentina.com/images/ico-enviogratis-small.png">
                                    </div>                       
                                </div>
        	        		   <!-- Fin Iconos Producto -->                                             							
			        			<div class="productos-titulolist">
			        				<a href="RUTA AL PRODUCTO" class="productos-titulolist">
			        					marca<br>modelo								
                                    </a>
			        			</div>
                                <div class="productos-marcalist">
			        				<span>- </span>producto<span> -</span>
			        			</div>
			        			<div class="productos-preciolist">
			        				<span style="color:#333; font-size:15px; font-weight: 400;">$ 14999.-</span>
                                    <a href="RUTA AL PRODUCTO" class="button-comprar" style="float:right;">COMPRAR</a>								
                                    <!--<a href="#" class="button-comprar" style="float:right;">COMPRAR</a>-->
						        </div>
					        </div>
                        </div>
                    </div>
                    <div class="owl-item" style="width: 371px;">
                        <div class="owl-item" style="width: 371px;">
                            <div class="item">        
        	        			<div class="view view-first">                        
                                	<img src="images/marco-prod-list.png" class="scale-with-grid">						
			        			    <img src="imagen" class="scale-with-grid" style="position: absolute; top: 0;">                        	
                                    <div class="mask">                			                                                                          
                                        <div class="contenidoproducto">
                                            <a href="RUTA AL PRODUCTO" class="zoomproducto"></a>
                                        </div>
                                    </div>
        	        			</div>       
			        		    <div class="cleaner"></div>                                             
                                <!-- Inicio Iconos Producto -->
        	        		    <div class="iconos-producto">                                        
                                    <div class="iconos-estado">
                                        <img src="images/ico-enviogratis-small.png">
                                    </div>                       
                                </div>
        			            <!-- Fin Iconos Producto -->
                                <div class="productos-titulolist">
					        		<a href="RUTA AL PRODUCTO" class="productos-titulolist">
					        			marca<br>modelo							
                                    </a>
					        	</div>
                                <div class="productos-marcalist">
					        		<span>- </span>producto<span> -</span>
					        	</div>
					        	<div class="productos-preciolist">
					        		<span style="color:#333; font-size:15px; font-weight: 400;">$ 8999.-</span>
                                    <a href="RUTA AL PRODUCTO" class="button-comprar" style="float:right;">COMPRAR</a>								
                                    <!--<a href="#" class="button-comprar" style="float:right;">COMPRAR</a>-->
						        </div>
					        </div>
                        </div>
                    </div>
                    <div class="owl-item" style="width: 371px;">
                        <div class="owl-item" style="width: 371px;">
                            <div class="item">
				                <div class="view view-first">
                                    <img src="images/marco-prod-list.png" class="scale-with-grid">
						            <img src="imagen" class="scale-with-grid" style="position: absolute; top: 0;">                        	
                                    <div class="mask">              
                                        <div class="contenidoproducto">
                                            <a href="RUTA AL PRODUCTO" class="zoomproducto"></a>
                                        </div>
                                    </div>
        				        </div>
					            <div class="cleaner"></div>
                                <!-- Inicio Iconos Producto -->
        			            <div class="iconos-producto">
                                    <div class="iconos-estado">
                                       <img src="https://www.ripcurlargentina.com/images/ico-enviogratis-small.png">
                                    </div>                       
                                </div>
        			            <!-- Fin Iconos Producto -->	
						        <div class="productos-titulolist">
						            <a href="RUTA AL PRODUCTO" class="productos-titulolist">
							        marca<br>modelo								
                                    </a>
						        </div>
                                <div class="productos-marcalist">
						            <span>- </span>producto<span> -</span>
						        </div>
						        <div class="productos-preciolist">
						            <span style="color:#333; font-size:15px; font-weight: 400;">$ 49999.-</span>
                                    <a href="RUTA AL PRODUCTO" class="button-comprar" style="float:right;">COMPRAR</a>								
                                    <!--<a href="#" class="button-comprar" style="float:right;">COMPRAR</a>-->
						        </div>
					        </div>
                        </div>
                    </div>
                    <div class="owl-item" style="width: 371px;">
                        <div class="owl-item" style="width: 371px;">
                            <div class="item">
        				        <div class="view view-first">
                        	            <img src="images/marco-prod-list.png" class="scale-with-grid">
						                <img src="imagen" class="scale-with-grid" style="position: absolute; top: 0;">                        	
                                    <div class="mask">            
                                        <div class="contenidoproducto">
                                            <a href="RUTA AL PRODUCTO" class="zoomproducto"></a>
                                        </div>
                                    </div>
        				        </div>
					            <div class="cleaner"></div>
                                <!-- Inicio Iconos Producto -->
        			            <div class="iconos-producto">                     		                            
                                    <div class="iconos-estado">
                                        <img src="https://www.ripcurlargentina.com/images/ico-enviogratis-small.png">
                                    </div>                       
                                </div>
        			            <!-- Fin Iconos Producto -->	
						        <div class="productos-titulolist">
							        <a href="RUTA AL PRODUCTO" class="productos-titulolist">
								    marca<br>modelo								
                                    </a>
						        </div>
                                <div class="productos-marcalist">
							        <span>- </span>producto<span> -</span>
						        </div>
						        <div class="productos-preciolist">
							        <span style="color:#333; font-size:15px; font-weight: 400;">$ 24999.-</span>
                                    <a href="RUTA AL PRODUCTO" class="button-comprar" style="float:right;">COMPRAR</a>								
                                    <!--<a href="#" class="button-comprar" style="float:right;">COMPRAR</a>-->
						        </div>
					        </div>
                        </div>
                    </div>
                    <div class="owl-item" style="width: 371px;">
                        <div class="owl-item" style="width: 371px;">
                            <div class="item">      
        				        <div class="view view-first">
                        	        <img src="images/marco-prod-list.png" class="scale-with-grid">						
						            <img src="imagen" class="scale-with-grid" style="position: absolute; top: 0;">                        	
                                    <div class="mask">                			                                                                           
                                        <div class="contenidoproducto">
                                            <a href="RUTA AL PRODUCTO" class="zoomproducto"></a>
                                        </div>
                                    </div>
        				        </div>
					            <div class="cleaner"></div>
                                <!-- Inicio Iconos Producto -->
        			            <div class="iconos-producto">                            
                                    <div class="iconos-estado">
                                        <img src="https://www.ripcurlargentina.com/images/ico-enviogratis-small.png">
                                    </div>                       
                                </div>
        			            <!-- Fin Iconos Producto -->	
						        <div class="productos-titulolist">
							        <a href="RUTA AL PRODUCTO" class="productos-titulolist">
								        marca<br>modelo								
                                    </a>
						        </div>
                                <div class="productos-marcalist">
							        <span>- </span>producto<span> -</span>
						        </div>
						        <div class="productos-preciolist">
							        <span style="color:#333; font-size:15px; font-weight: 400;">$ 2999.-</span>
                                    <a href="RUTA AL PRODUCTO" class="button-comprar" style="float:right;">COMPRAR</a>								
                                    <!--<a href="#" class="button-comprar" style="float:right;">COMPRAR</a>-->
						        </div>
					        </div>
                        </div>
                    </div>
                </div>
            </div>             
	        <div class="owl-controls clickable">
                <div class="owl-pagination">
                    <div class="owl-page active">
                        <span class=""></span>
                    </div>
                    <div class="owl-page">
                        <span class=""></span>
                    </div>
                    <div class="owl-page">
                        <span class=""></span>
                    </div>
                    <div class="owl-page">
                        <span class=""></span>
                    </div>
                    <div class="owl-page">
                        <span class=""></span>
                    </div>
                </div>               
            </div>
       </div>
        <!-- Fin Slide Productos -->
    </section>
    <!-- Fin Home Productos -->
</div>
  