<li>
    <div class="dropdown tooltip">
        <span class="tooltiptext">Log out</span>
        <button class="dropbtn">
            <a href="#"><i class="fa-solid fa-sign-out"></i></a></button>
        <div class="dropdown-content">
                <form id="signout" method="POST" action="/logout">
                    <br><br>
                    <input id="submit" class="fa-solid fa-sign-out" type="submit" value="Logout">
                    <br><br>
                </form>
            </div>
    </div>
</li>