<li>
    <div class="dropdown tooltip">
        <span class="tooltiptext">Log in</span>
        <button class="dropbtn">
            <a href="#"><i class="fa-solid fa-laptop"></i></a></button>
        <div class="dropdown-content">
            <div class="login">
                <form id="login" method="POST" action="/signin">
                    <label><b>E-Mail
                        </b>
                    </label>
                    <input type="text" name="eMail" id="eMail" placeholder="E-Mail">
                    <br><br>
                    <label><b>Password
                        </b>
                    </label>
                    <input type="password" name="password" id="password" placeholder="Password">
                    <br><br>
                    <input id="submit" class="btn btn-success col" type="submit" value="Submit">
                    <br><br>
                </form>
            </div>
        </div>
    </div>
</li>